In [1]:
#Basesd om Steve Nouri Document

In [2]:
## What is a series in pandas?

#A Series is defined as a one-dimensional array that is capable of storing various data types.
#The row labels of the series are called the index.
#By using a 'series' method, we can easily convert the list, tuple, and dictionary into series.
#A Series cannot contain multiple columns.

In [3]:
## What features make Pandas such a reliable option to store tabular data?

#Memory Efficient, Data Alignment, Reshaping, Merge and join and Time Series.

In [4]:
##What is reindexing in pandas?

#Reindexing is used to conform DataFrame to a new index with optional filling logic.
#It places NA/NaN in that location where the values are not present in the previous index.
#It returns a new object unless the new index is produced as equivalent to the current one, and the value of copy becomes False.
#It is used to change the index of the rows and columns of the DataFrame.

In [7]:
## How will you create a series from dict in Pandas?

#A Series is defined as a one-dimensional array that is capable of storing various data types.
import pandas as pd
info = {'x' : 0., 'y' : 1., 'z' : 2.}
a = pd.Series(info)
print(a)

x    0.0
y    1.0
z    2.0
dtype: float64

In [8]:
##How can we create a copy of the series in Pandas?
import pandas as pd
pd.Series.copy(deep=True)

TypeError: copy() missing 1 required positional argument: 'self'

In [9]:
##What is groupby in Pandas?

#GroupBy is used to split the data into groups. It groups the data based on some criteria.
#Grouping also provides a mapping of labels to the group names. 
#It has a lot of variations that can be defined with the parameters and makes the task of splitting the data quick and easy.

In [10]:
##What is vectorization in Pandas?

#Vectorization is the process of running operations on the entire array. 
#This is done to reduce the amount of iteration performed by the functions. 
#Pandas have a number of vectorized functions like aggregations, and string functions that are optimized to operate specifically on series and DataFrames. 
#So it is preferred to use the vectorized pandas functions to execute the operations quickly.

In [11]:
##Mention the different types of Data Structures in Pandas

#Pandas provide two data structures, which are supported by the pandas library, Series, and DataFrames.
#Both of these data structures are built on top of the NumPy.

In [12]:
##What Is Time Series In pandas
#A time series is an ordered sequence of data which basically represents how some quantity changes over time.
#pandas contains extensive capabilities and features for working with time series data for all domains.

In [13]:
##How to convert pandas dataframe to numpy array?

#The function to_numpy() is used to convert the DataFrame to a NumPy array.
#DataFrame.to_numpy(self, dtype=None, copy=False)
#The dtype parameter defines the data type to pass to the array and the copy ensures the returned value is not a view on another array.

In [19]:
##Write a Pandas program to get the first 5 rows of a given DataFrame
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df.iloc[:5]

        name
a  Anastasia
b       Dima
c  Katherine
d      James
e      Emily

In [24]:
## Develop a Pandas program to create and display a one-dimensional arraylike object containing an array of data.
import pandas as pd
ds=pd.Series([2, 4, 6, 8, 10])
print(ds)
type(ds)
ds.tolist()
type(ds.tolist())
print(ds.tolist())

0     2
1     4
2     6
3     8
4    10
dtype: int64
[2, 4, 6, 8, 10]

In [33]:
##Develop a Pandas program to add, subtract, multiple and divide two Pandas Series.
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print('\n ds1 == ds2 \n',ds1 == ds2)
print('\n ds1 > ds2 \n',ds1 > ds2)
print('\n ds1 < ds2 \n',ds1 < ds2)

 ds1 == ds2
 0    False
1    False
2    False
3    False
4     True
dtype: bool

 ds1 > ds2
 0     True
1     True
2     True
3     True
4    False
dtype: bool

 ds1 < ds2
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [36]:
#Develop a Pandas program to change the data type of given a column or a Series.
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [39]:
##Write a Pandas program to convert Series of lists to one Series
import pandas as pd
s = pd.Series([ ['Red', 'Black'], ['Red', 'Green', 'White'] , ['Yellow']])
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0           [Red, Black]
1    [Red, Green, White]
2               [Yellow]
dtype: object
0       Red
1     Black
2       Red
3     Green
4     White
5    Yellow
dtype: object

In [40]:
##Write a Pandas program to create a subset of a given series basedon value and condition
import pandas as pd
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
n = 6
new_s = s[s < n]
new_s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [43]:
##Develop a Pandas code to alter the order of index in a given series
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(s)
s1= s.reindex(index = ['B','A','C','D','E'])
print(s1)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [46]:
## Write a Pandas code to get the items of a givenseries not present in another given series.
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
result = sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

In [47]:
## What is the difference between the two data series df[‘Name’] and df.loc[:, ‘Name’]?

#First one is a view of the original dataframe and second one is a copy of the original dataframe.

In [63]:
##Write a Pandas program to display the most frequent value in a given series and replace everything else as “replaced” in the series.
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print('num_ series : \n',num_series)
print('num_series.value_counts():\n',num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'replaced'
print('\n result: \n',num_series)

num_ series :
 0     1
1     2
2     4
3     1
4     1
5     4
6     4
7     2
8     1
9     2
10    2
11    2
12    1
13    4
14    2
dtype: int32
num_series.value_counts():
 2    6
1    5
4    4
dtype: int64

 result:
 0     replaced
1            2
2     replaced
3     replaced
4     replaced
5     replaced
6     replaced
7            2
8     replaced
9            2
10           2
11           2
12    replaced
13    replaced
14           2
dtype: object

In [15]:
##Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(0, 10,5))
print(num_series)
#result = np.argwhere(num_series %5 ==0)

0    1
1    8
2    5
3    8
4    6
dtype: int32

In [3]:
##How will you add a column to a pandas DataFrame
import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']), 'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}
info = pd.DataFrame(info)
print(info)
# Add a new column to an existing DataFrame object
info['three']=pd.Series([20,40,60],index=['a','b','c'])
print(info)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN

In [ ]:
#How to iterate over a Pandas DataFrame?
#You can iterate over the rows of the DataFrame by using for loop in combination with an iterrows() call on the DataFrame