In [1]:
import pandas as pd

buses = pd.read_csv('bus_kMean_ready.csv')
print ("converted form csv:")
print (buses)

converted form csv:
     TID   Time
0      1  22557
1      2  23138
2      3  23212
3      4  23215
4      5  23260
..   ...    ...
484  485  78081
485  486  78824
486  487  78834
487  488  79405
488  489  79876

[489 rows x 2 columns]

In [90]:
#Kmean Algorithms
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
#df= np.array([[1,3],[3,3],[4,3],[5,3],[1,2],[4,2],[1,1],[2,1]])
buses_numpy = buses.to_numpy()
buses_numpy[0]

print('buses_numpy: \n',buses_numpy)
kmeans = KMeans(n_clusters=24).fit(buses_numpy)

print(kmeans.labels_)

for i in range(len(buses_numpy)):
    print(buses_numpy[i][0],buses_numpy[i][1],kmeans.labels_[i])

colors = np.array(['r','b','g','y','k','c','m','tomato','cyan','teal'])


#plt.scatter(X[:,0],X[:,1] , color = colors[kmeans.labels_])

buses_numpy:
 [[    1 22557]
 [    2 23138]
 [    3 23212]
 [    4 23215]
 [    5 23260]
 [    6 23289]
 [    7 23303]
 [    8 23491]
 [    9 23608]
 [   10 23611]
 [   11 23714]
 [   12 23791]
 [   13 23793]
 [   14 24120]
 [   15 24296]
 [   16 24298]
 [   17 24669]
 [   18 24862]
 [   19 25010]
 [   20 25187]
 [   21 26255]
 [   22 26672]
 [   23 26856]
 [   24 27163]
 [   25 27260]
 [   26 27314]
 [   27 27364]
 [   28 27367]
 [   29 27437]
 [   30 27441]
 [   31 27524]
 [   32 27583]
 [   33 27658]
 [   34 27661]
 [   35 27759]
 [   36 27804]
 [   37 27805]
 [   38 27810]
 [   39 27964]
 [   40 28216]
 [   41 28302]
 [   42 28304]
 [   43 28305]
 [   44 28310]
 [   45 28312]
 [   46 28313]
 [   47 28315]
 [   48 28319]
 [   49 28319]
 [   50 28411]
 [   51 28413]
 [   52 28474]
 [   53 28541]
 [   54 28609]
 [   55 28613]
 [   56 28662]
 [   57 28759]
 [   58 28823]
 [   59 28827]
 [   60 29074]
 [   61 29406]
 [   62 29493]
 [   63 29509]
 [   64 30893]
 [   65 30937]
 [   66 31014]
 [   67 31079]
 [   68 31115]
 [   69 31130]
 [   70 31150]
 [   71 31174]
 [   72 31237]
 [   73 31307]
 [   74 31446]
 [   75 31514]
 [   76 31586]
 [   77 31590]
 [   78 31600]
 [   79 31601]
 [   80 31605]
 [   81 31606]
 [   82 31738]
 [   83 31888]
 [   84 31892]
 [   85 32021]
 [   86 32093]
 [   87 32098]
 [   88 32100]
 [   89 32103]
 [   90 32117]
 [   91 32155]
 [   92 32239]
 [   93 32326]
 [   94 32474]
 [   95 32626]
 [   96 32629]
 [   97 32637]
 [   98 32654]
 [   99 32661]
 [  100 32672]
 [  101 32692]
 [  102 32894]
 [  103 33045]
 [  104 33485]
 [  105 33491]
 [  106 33570]
 [  107 33572]
 [  108 34124]
 [  109 34225]
 [  110 34375]
 [  111 34379]
 [  112 34442]
 [  113 34555]
 [  114 36281]
 [  115 36464]
 [  116 36470]
 [  117 36474]
 [  118 36745]
 [  119 36945]
 [  120 36946]
 [  121 37037]
 [  122 37087]
 [  123 37087]
 [  124 37220]
 [  125 37222]
 [  126 37300]
 [  127 37449]
 [  128 37451]
 [  129 37567]
 [  130 37570]
 [  131 37723]
 [  132 37784]
 [  133 37976]
 [  134 37980]
 [  135 37993]
 [  136 38349]
 [  137 38351]
 [  138 38460]
 [  139 38463]
 [  140 38599]
 [  141 38683]
 [  142 38878]
 [  143 38998]
 [  144 39000]
 [  145 39003]
 [  146 39004]
 [  147 39006]
 [  148 39008]
 [  149 39181]
 [  150 39434]
 [  151 39440]
 [  152 39456]
 [  153 39543]
 [  154 39550]
 [  155 39678]
 [  156 39725]
 [  157 39740]
 [  158 41102]
 [  159 41108]
 [  160 41110]
 [  161 41155]
 [  162 41168]
 [  163 41203]
 [  164 41250]
 [  165 41253]
 [  166 41254]
 [  167 41257]
 [  168 41415]
 [  169 41752]
 [  170 41756]
 [  171 41757]
 [  172 41761]
 [  173 41765]
 [  174 41769]
 [  175 41775]
 [  176 41780]
 [  177 41783]
 [  178 41786]
 [  179 41787]
 [  180 41789]
 [  181 42059]
 [  182 42060]
 [  183 42063]
 [  184 42066]
 [  185 42067]
 [  186 42068]
 [  187 42070]
 [  188 42143]
 [  189 42145]
 [  190 42236]
 [  191 42503]
 [  192 42776]
 [  193 42779]
 [  194 42843]
 [  195 43063]
 [  196 43076]
 [  197 43163]
 [  198 43275]
 [  199 43277]
 [  200 43338]
 [  201 43340]
 [  202 43505]
 [  203 43510]
 [  204 43662]
 [  205 43743]
 [  206 43749]
 [  207 43829]
 [  208 43833]
 [  209 44466]
 [  210 44607]
 [  211 44608]
 [  212 44613]
 [  213 46315]
 [  214 46340]
 [  215 46419]
 [  216 46459]
 [  217 46465]
 [  218 46521]
 [  219 46642]
 [  220 46668]
 [  221 46691]
 [  222 46693]
 [  223 46759]
 [  224 46767]
 [  225 46769]
 [  226 46777]
 [  227 46781]
 [  228 47249]
 [  229 47345]
 [  230 47463]
 [  231 47472]
 [  232 47527]
 [  233 47542]
 [  234 47655]
 [  235 47791]
 [  236 47792]
 [  237 47794]
 [  238 47808]
 [  239 47921]
 [  240 47924]
 [  241 48000]
 [  242 48001]
 [  243 48181]
 [  244 48267]
 [  245 48535]
 [  246 48538]
 [  247 48538]
 [  248 48539]
 [  249 48540]
 [  250 48542]
 [  251 48542]
 [  252 48543]
 [  253 48545]
 [  254 48547]
 [  255 48553]
 [  256 48554]
 [  257 48773]
 [  258 48790]
 [  259 48852]
 [  260 48885]
 [  261 49003]
 [  262 49093]
 [  263 49101]
 [  264 49104]
 [  265 49205]
 [  266 49268]
 [  267 49284]
 [  268 49393]
 [  269 49404]
 [  270 49720]
 [  271 51184]
 [  272 51185]
 [  273 51396]
 [  274 51777]
 [  275 52017]
 [  276 52082]
 [  277 52083]
 [  278 52089]
 [  279 52093]
 [  280 52095]
 [  281 52096]
 [  282 52102]
 [  283 52112]
 [  284 52162]
 [  285 52362]
 [  286 52363]
 [  287 52367]
 [  288 52436]
 [  289 52547]
 [  290 52549]
 [  291 52711]
 [  292 53186]
 [  293 53394]
 [  294 53396]
 [  295 53399]
 [  296 53528]
 [  297 53538]
 [  298 53663]
 [  299 53727]
 [  300 53889]
 [  301 53965]
 [  302 54057]
 [  303 54066]
 [  304 54075]
 [  305 54133]
 [  306 54232]
 [  307 54282]
 [  308 54445]
 [  309 54649]
 [  310 54757]
 [  311 54882]
 [  312 55222]
 [  313 55254]
 [  314 55571]
 [  315 55600]
 [  316 55670]
 [  317 55805]
 [  318 55890]
 [  319 55953]
 [  320 56107]
 [  321 56256]
 [  322 56257]
 [  323 56391]
 [  324 56436]
 [  325 56470]
 [  326 56473]
 [  327 56484]
 [  328 56506]
 [  329 56511]
 [  330 56563]
 [  331 56631]
 [  332 56632]
 [  333 56634]
 [  334 56635]
 [  335 56637]
 [  336 56638]
 [  337 56696]
 [  338 56756]
 [  339 56811]
 [  340 56963]
 [  341 56965]
 [  342 56968]
 [  343 56969]
 [  344 56971]
 [  345 57071]
 [  346 57278]
 [  347 57281]
 [  348 57460]
 [  349 57522]
 [  350 57524]
 [  351 59209]
 [  352 59804]
 [  353 59822]
 [  354 59950]
 [  355 60372]
 [  356 60374]
 [  357 60377]
 [  358 60378]
 [  359 60381]
 [  360 60388]
 [  361 60438]
 [  362 60440]
 [  363 60625]
 [  364 60626]
 [  365 60685]
 [  366 60817]
 [  367 60818]
 [  368 60837]
 [  369 60947]
 [  370 61032]
 [  371 61035]
 [  372 61036]
 [  373 61044]
 [  374 61045]
 [  375 61385]
 [  376 61387]
 [  377 61389]
 [  378 61390]
 [  379 61391]
 [  380 61394]
 [  381 61395]
 [  382 61397]
 [  383 61397]
 [  384 61398]
 [  385 61399]
 [  386 61400]
 [  387 61403]
 [  388 61472]
 [  389 61474]
 [  390 61532]
 [  391 61535]
 [  392 61551]
 [  393 61604]
 [  394 61678]
 [  395 61929]
 [  396 61934]
 [  397 62313]
 [  398 62565]
 [  399 62581]
 [  400 62655]
 [  401 62731]
 [  402 62840]
 [  403 62843]
 [  404 62846]
 [  405 62850]
 [  406 62851]
 [  407 63114]
 [  408 63116]
 [  409 63123]
 [  410 63160]
 [  411 63913]
 [  412 63930]
 [  413 64065]
 [  414 64145]
 [  415 64233]
 [  416 64269]
 [  417 64812]
 [  418 64960]
 [  419 65018]
 [  420 65098]
 [  421 65131]
 [  422 65133]
 [  423 65137]
 [  424 65276]
 [  425 65276]
 [  426 65277]
 [  427 65303]
 [  428 65482]
 [  429 65896]
 [  430 65898]
 [  431 65994]
 [  432 66087]
 [  433 66087]
 [  434 66089]
 [  435 66093]
 [  436 66095]
 [  437 66098]
 [  438 66100]
 [  439 66107]
 [  440 66128]
 [  441 66141]
 [  442 66200]
 [  443 66367]
 [  444 66368]
 [  445 66450]
 [  446 66568]
 [  447 66572]
 [  448 66573]
 [  449 66578]
 [  450 66662]
 [  451 66853]
 [  452 67219]
 [  453 67220]
 [  454 70251]
 [  455 70253]
 [  456 70255]
 [  457 70321]
 [  458 70322]
 [  459 70323]
 [  460 70325]
 [  461 70328]
 [  462 70331]
 [  463 70334]
 [  464 70336]
 [  465 70339]
 [  466 70342]
 [  467 70346]
 [  468 70581]
 [  469 70678]
 [  470 70680]
 [  471 70691]
 [  472 70755]
 [  473 70857]
 [  474 70992]
 [  475 71495]
 [  476 71499]
 [  477 71646]
 [  478 71913]
 [  479 71914]
 [  480 72175]
 [  481 76369]
 [  482 76884]
 [  483 77053]
 [  484 77355]
 [  485 78081]
 [  486 78824]
 [  487 78834]
 [  488 79405]
 [  489 79876]]
[10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 15 15 15 15
 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5 22 22 22 22 22 22 22 22 22
 22 22 22 22 22 22 22 22 22 22  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1 21 21 21 21 21 21 21 21 21 21 11 11 11 11 11 11 11
 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 16 16 16 16 16 16 16 16 16
 16 16 16 16 16 16 16 16 16 16 16 16 16  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2 12
 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 19 19 19 19
 19 19 19 19 19 19 19 19 19 19 19  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13
 13 13 13 13 13 13  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17
 17  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8
  8  8  8  8  8  8  8  8  8  8  8  8  8  8  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23
 23 23 23 23 23 23 23 23 23 23 23 23 20 20 20 20 20 20 20 20 20 20 20 20
 20 20 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
 18 18 18 18 18  9  9  9  9]
1 22557 10
2 23138 10
3 23212 10
4 23215 10
5 23260 10
6 23289 10
7 23303 10
8 23491 10
9 23608 10
10 23611 10
11 23714 10
12 23791 10
13 23793 10
14 24120 10
15 24296 10
16 24298 10
17 24669 10
18 24862 10
19 25010 10
20 25187 10
21 26255 15
22 26672 15
23 26856 15
24 27163 15
25 27260 15
26 27314 15
27 27364 15
28 27367 15
29 27437 15
30 27441 15
31 27524 15
32 27583 15
33 27658 15
34 27661 15
35 27759 15
36 27804 15
37 27805 15
38 27810 15
39 27964 15
40 28216 5
41 28302 5
42 28304 5
43 28305 5
44 28310 5
45 28312 5
46 28313 5
47 28315 5
48 28319 5
49 28319 5
50 28411 5
51 28413 5
52 28474 5
53 28541 5
54 28609 5
55 28613 5
56 28662 5
57 28759 5
58 28823 5
59 28827 5
60 29074 5
61 29406 5
62 29493 5
63 29509 5
64 30893 22
65 30937 22
66 31014 22
67 31079 22
68 31115 22
69 31130 22
70 31150 22
71 31174 22
72 31237 22
73 31307 22
74 31446 22
75 31514 22
76 31586 22
77 31590 22
78 31600 22
79 31601 22
80 31605 22
81 31606 22
82 31738 22
83 31888 1
84 31892 1
85 32021 1
86 32093 1
87 32098 1
88 32100 1
89 32103 1
90 32117 1
91 32155 1
92 32239 1
93 32326 1
94 32474 1
95 32626 1
96 32629 1
97 32637 1
98 32654 1
99 32661 1
100 32672 1
101 32692 1
102 32894 1
103 33045 1
104 33485 21
105 33491 21
106 33570 21
107 33572 21
108 34124 21
109 34225 21
110 34375 21
111 34379 21
112 34442 21
113 34555 21
114 36281 11
115 36464 11
116 36470 11
117 36474 11
118 36745 11
119 36945 11
120 36946 11
121 37037 11
122 37087 11
123 37087 11
124 37220 11
125 37222 11
126 37300 11
127 37449 11
128 37451 11
129 37567 11
130 37570 11
131 37723 11
132 37784 11
133 37976 11
134 37980 11
135 37993 11
136 38349 16
137 38351 16
138 38460 16
139 38463 16
140 38599 16
141 38683 16
142 38878 16
143 38998 16
144 39000 16
145 39003 16
146 39004 16
147 39006 16
148 39008 16
149 39181 16
150 39434 16
151 39440 16
152 39456 16
153 39543 16
154 39550 16
155 39678 16
156 39725 16
157 39740 16
158 41102 2
159 41108 2
160 41110 2
161 41155 2
162 41168 2
163 41203 2
164 41250 2
165 41253 2
166 41254 2
167 41257 2
168 41415 2
169 41752 2
170 41756 2
171 41757 2
172 41761 2
173 41765 2
174 41769 2
175 41775 2
176 41780 2
177 41783 2
178 41786 2
179 41787 2
180 41789 2
181 42059 2
182 42060 2
183 42063 2
184 42066 2
185 42067 2
186 42068 2
187 42070 2
188 42143 2
189 42145 2
190 42236 2
191 42503 2
192 42776 12
193 42779 12
194 42843 12
195 43063 12
196 43076 12
197 43163 12
198 43275 12
199 43277 12
200 43338 12
201 43340 12
202 43505 12
203 43510 12
204 43662 12
205 43743 12
206 43749 12
207 43829 12
208 43833 12
209 44466 12
210 44607 12
211 44608 12
212 44613 12
213 46315 19
214 46340 19
215 46419 19
216 46459 19
217 46465 19
218 46521 19
219 46642 19
220 46668 19
221 46691 19
222 46693 19
223 46759 19
224 46767 19
225 46769 19
226 46777 19
227 46781 19
228 47249 6
229 47345 6
230 47463 6
231 47472 6
232 47527 6
233 47542 6
234 47655 6
235 47791 6
236 47792 6
237 47794 6
238 47808 6
239 47921 6
240 47924 6
241 48000 6
242 48001 6
243 48181 6
244 48267 6
245 48535 13
246 48538 13
247 48538 13
248 48539 13
249 48540 13
250 48542 13
251 48542 13
252 48543 13
253 48545 13
254 48547 13
255 48553 13
256 48554 13
257 48773 13
258 48790 13
259 48852 13
260 48885 13
261 49003 13
262 49093 13
263 49101 13
264 49104 13
265 49205 13
266 49268 13
267 49284 13
268 49393 13
269 49404 13
270 49720 13
271 51184 4
272 51185 4
273 51396 4
274 51777 4
275 52017 4
276 52082 4
277 52083 4
278 52089 4
279 52093 4
280 52095 4
281 52096 4
282 52102 4
283 52112 4
284 52162 4
285 52362 4
286 52363 4
287 52367 4
288 52436 4
289 52547 4
290 52549 4
291 52711 4
292 53186 17
293 53394 17
294 53396 17
295 53399 17
296 53528 17
297 53538 17
298 53663 17
299 53727 17
300 53889 17
301 53965 17
302 54057 17
303 54066 17
304 54075 17
305 54133 17
306 54232 17
307 54282 17
308 54445 17
309 54649 17
310 54757 17
311 54882 17
312 55222 17
313 55254 17
314 55571 8
315 55600 8
316 55670 8
317 55805 8
318 55890 8
319 55953 8
320 56107 8
321 56256 8
322 56257 8
323 56391 8
324 56436 8
325 56470 8
326 56473 8
327 56484 8
328 56506 8
329 56511 8
330 56563 8
331 56631 8
332 56632 8
333 56634 8
334 56635 8
335 56637 8
336 56638 8
337 56696 8
338 56756 8
339 56811 8
340 56963 8
341 56965 8
342 56968 8
343 56969 8
344 56971 8
345 57071 8
346 57278 8
347 57281 8
348 57460 8
349 57522 8
350 57524 8
351 59209 0
352 59804 0
353 59822 0
354 59950 0
355 60372 0
356 60374 0
357 60377 0
358 60378 0
359 60381 0
360 60388 0
361 60438 0
362 60440 0
363 60625 0
364 60626 0
365 60685 0
366 60817 0
367 60818 0
368 60837 0
369 60947 23
370 61032 23
371 61035 23
372 61036 23
373 61044 23
374 61045 23
375 61385 23
376 61387 23
377 61389 23
378 61390 23
379 61391 23
380 61394 23
381 61395 23
382 61397 23
383 61397 23
384 61398 23
385 61399 23
386 61400 23
387 61403 23
388 61472 23
389 61474 23
390 61532 23
391 61535 23
392 61551 23
393 61604 23
394 61678 23
395 61929 23
396 61934 23
397 62313 20
398 62565 20
399 62581 20
400 62655 20
401 62731 20
402 62840 20
403 62843 20
404 62846 20
405 62850 20
406 62851 20
407 63114 20
408 63116 20
409 63123 20
410 63160 20
411 63913 14
412 63930 14
413 64065 14
414 64145 14
415 64233 14
416 64269 14
417 64812 14
418 64960 14
419 65018 14
420 65098 14
421 65131 14
422 65133 14
423 65137 14
424 65276 14
425 65276 14
426 65277 14
427 65303 14
428 65482 14
429 65896 7
430 65898 7

431 65994 7
432 66087 7
433 66087 7
434 66089 7
435 66093 7
436 66095 7
437 66098 7
438 66100 7
439 66107 7
440 66128 7
441 66141 7
442 66200 7
443 66367 7
444 66368 7
445 66450 7
446 66568 7
447 66572 7
448 66573 7
449 66578 7
450 66662 7
451 66853 7
452 67219 7
453 67220 7
454 70251 3
455 70253 3
456 70255 3
457 70321 3
458 70322 3
459 70323 3
460 70325 3
461 70328 3
462 70331 3
463 70334 3
464 70336 3
465 70339 3
466 70342 3
467 70346 3
468 70581 3
469 70678 3
470 70680 3
471 70691 3
472 70755 3
473 70857 3
474 70992 3
475 71495 3
476 71499 3
477 71646 3
478 71913 3
479 71914 3
480 72175 3
481 76369 18
482 76884 18
483 77053 18
484 77355 18
485 78081 18
486 78824 9
487 78834 9
488 79405 9
489 79876 9

In [5]:
import pandas as pd 
t0= buses_numpy[0][1]
ts=buses_numpy[len(buses_numpy)-1][1]
print(len(buses_numpy))
print('t0 =',t0)
print('ts =',ts)
time_interval = 600 #second
interval_counts=round((ts-t0)/time_interval)
print('time_intervals',round((ts-t0)/time_interval))
counter=1
buses_counter=1
sum_count=0
interval_numpy = np.ones((interval_counts,2))

for i in range(len(interval_numpy)):
    while buses_numpy[buses_counter][1]<(t0):
        sum_count= sum_count+1
        print(buses_numpy[buses_counter][1],t0)
        print('sum_count=',sum_count)
        buses_counter = buses_counter+1
    interval_numpy[i]=(t0,sum_count)
    t0 = t0+time_interval
    sum_count =0
print(interval_numpy)

df = pd.DataFrame(interval_numpy)
df.to_csv("interval_numpy_10min.csv")

489
t0 = 22557
ts = 79876
time_intervals 96
23138 23157
sum_count= 1
23212 23757
sum_count= 1
23215 23757
sum_count= 2
23260 23757
sum_count= 3
23289 23757
sum_count= 4
23303 23757
sum_count= 5
23491 23757
sum_count= 6
23608 23757
sum_count= 7
23611 23757
sum_count= 8
23714 23757
sum_count= 9
23791 24357
sum_count= 1
23793 24357
sum_count= 2
24120 24357
sum_count= 3
24296 24357
sum_count= 4
24298 24357
sum_count= 5
24669 24957
sum_count= 1
24862 24957
sum_count= 2
25010 25557
sum_count= 1
25187 25557
sum_count= 2
26255 26757
sum_count= 1
26672 26757
sum_count= 2
26856 27357
sum_count= 1
27163 27357
sum_count= 2
27260 27357
sum_count= 3
27314 27357
sum_count= 4
27364 27957
sum_count= 1
27367 27957
sum_count= 2
27437 27957
sum_count= 3
27441 27957
sum_count= 4
27524 27957
sum_count= 5
27583 27957
sum_count= 6
27658 27957
sum_count= 7
27661 27957
sum_count= 8
27759 27957
sum_count= 9
27804 27957
sum_count= 10
27805 27957
sum_count= 11
27810 27957
sum_count= 12
27964 28557
sum_count= 1
28216 28557
sum_count= 2
28302 28557
sum_count= 3
28304 28557
sum_count= 4
28305 28557
sum_count= 5
28310 28557
sum_count= 6
28312 28557
sum_count= 7
28313 28557
sum_count= 8
28315 28557
sum_count= 9
28319 28557
sum_count= 10
28319 28557
sum_count= 11
28411 28557
sum_count= 12
28413 28557
sum_count= 13
28474 28557
sum_count= 14
28541 28557
sum_count= 15
28609 29157
sum_count= 1
28613 29157
sum_count= 2
28662 29157
sum_count= 3
28759 29157
sum_count= 4
28823 29157
sum_count= 5
28827 29157
sum_count= 6
29074 29157
sum_count= 7
29406 29757
sum_count= 1
29493 29757
sum_count= 2
29509 29757
sum_count= 3
30893 30957
sum_count= 1
30937 30957
sum_count= 2
31014 31557
sum_count= 1
31079 31557
sum_count= 2
31115 31557
sum_count= 3
31130 31557
sum_count= 4
31150 31557
sum_count= 5
31174 31557
sum_count= 6
31237 31557
sum_count= 7
31307 31557
sum_count= 8
31446 31557
sum_count= 9
31514 31557
sum_count= 10
31586 32157
sum_count= 1
31590 32157
sum_count= 2
31600 32157
sum_count= 3
31601 32157
sum_count= 4
31605 32157
sum_count= 5
31606 32157
sum_count= 6
31738 32157
sum_count= 7
31888 32157
sum_count= 8
31892 32157
sum_count= 9
32021 32157
sum_count= 10
32093 32157
sum_count= 11
32098 32157
sum_count= 12
32100 32157
sum_count= 13
32103 32157
sum_count= 14
32117 32157
sum_count= 15
32155 32157
sum_count= 16
32239 32757
sum_count= 1
32326 32757
sum_count= 2
32474 32757
sum_count= 3
32626 32757
sum_count= 4
32629 32757
sum_count= 5
32637 32757
sum_count= 6
32654 32757
sum_count= 7
32661 32757
sum_count= 8
32672 32757
sum_count= 9
32692 32757
sum_count= 10
32894 33357
sum_count= 1
33045 33357
sum_count= 2
33485 33957
sum_count= 1
33491 33957
sum_count= 2
33570 33957
sum_count= 3
33572 33957
sum_count= 4
34124 34557
sum_count= 1
34225 34557
sum_count= 2
34375 34557
sum_count= 3
34379 34557
sum_count= 4
34442 34557
sum_count= 5
34555 34557
sum_count= 6
36281 36357
sum_count= 1
36464 36957
sum_count= 1
36470 36957
sum_count= 2
36474 36957
sum_count= 3
36745 36957
sum_count= 4
36945 36957
sum_count= 5
36946 36957
sum_count= 6
37037 37557
sum_count= 1
37087 37557
sum_count= 2
37087 37557
sum_count= 3
37220 37557
sum_count= 4
37222 37557
sum_count= 5
37300 37557
sum_count= 6
37449 37557
sum_count= 7
37451 37557
sum_count= 8
37567 38157
sum_count= 1
37570 38157
sum_count= 2
37723 38157
sum_count= 3
37784 38157
sum_count= 4
37976 38157
sum_count= 5
37980 38157
sum_count= 6
37993 38157
sum_count= 7
38349 38757
sum_count= 1
38351 38757
sum_count= 2
38460 38757
sum_count= 3
38463 38757
sum_count= 4
38599 38757
sum_count= 5
38683 38757
sum_count= 6
38878 39357
sum_count= 1
38998 39357
sum_count= 2
39000 39357
sum_count= 3
39003 39357
sum_count= 4
39004 39357
sum_count= 5
39006 39357
sum_count= 6
39008 39357
sum_count= 7
39181 39357
sum_count= 8
39434 39957
sum_count= 1
39440 39957
sum_count= 2
39456 39957
sum_count= 3
39543 39957
sum_count= 4
39550 39957
sum_count= 5
39678 39957
sum_count= 6
39725 39957
sum_count= 7
39740 39957
sum_count= 8
41102 41157
sum_count= 1
41108 41157
sum_count= 2
41110 41157
sum_count= 3
41155 41157
sum_count= 4
41168 41757
sum_count= 1
41203 41757
sum_count= 2
41250 41757
sum_count= 3
41253 41757
sum_count= 4
41254 41757
sum_count= 5
41257 41757
sum_count= 6
41415 41757
sum_count= 7
41752 41757
sum_count= 8
41756 41757
sum_count= 9
41757 42357
sum_count= 1
41761 42357
sum_count= 2
41765 42357
sum_count= 3
41769 42357
sum_count= 4
41775 42357
sum_count= 5
41780 42357
sum_count= 6
41783 42357
sum_count= 7
41786 42357
sum_count= 8
41787 42357
sum_count= 9
41789 42357
sum_count= 10
42059 42357
sum_count= 11
42060 42357
sum_count= 12
42063 42357
sum_count= 13
42066 42357
sum_count= 14
42067 42357
sum_count= 15
42068 42357
sum_count= 16
42070 42357
sum_count= 17
42143 42357
sum_count= 18
42145 42357
sum_count= 19
42236 42357
sum_count= 20
42503 42957
sum_count= 1
42776 42957
sum_count= 2
42779 42957
sum_count= 3
42843 42957
sum_count= 4
43063 43557
sum_count= 1
43076 43557
sum_count= 2
43163 43557
sum_count= 3
43275 43557
sum_count= 4
43277 43557
sum_count= 5
43338 43557
sum_count= 6
43340 43557
sum_count= 7
43505 43557
sum_count= 8
43510 43557
sum_count= 9
43662 44157
sum_count= 1
43743 44157
sum_count= 2
43749 44157
sum_count= 3
43829 44157
sum_count= 4
43833 44157
sum_count= 5
44466 44757
sum_count= 1
44607 44757
sum_count= 2
44608 44757
sum_count= 3
44613 44757
sum_count= 4
46315 46557
sum_count= 1
46340 46557
sum_count= 2
46419 46557
sum_count= 3
46459 46557
sum_count= 4
46465 46557
sum_count= 5
46521 46557
sum_count= 6
46642 47157
sum_count= 1
46668 47157
sum_count= 2
46691 47157
sum_count= 3
46693 47157
sum_count= 4
46759 47157
sum_count= 5
46767 47157
sum_count= 6
46769 47157
sum_count= 7
46777 47157
sum_count= 8
46781 47157
sum_count= 9
47249 47757
sum_count= 1
47345 47757
sum_count= 2
47463 47757
sum_count= 3
47472 47757
sum_count= 4
47527 47757
sum_count= 5
47542 47757
sum_count= 6
47655 47757
sum_count= 7
47791 48357
sum_count= 1
47792 48357
sum_count= 2
47794 48357
sum_count= 3
47808 48357
sum_count= 4
47921 48357
sum_count= 5
47924 48357
sum_count= 6
48000 48357
sum_count= 7
48001 48357
sum_count= 8
48181 48357
sum_count= 9
48267 48357
sum_count= 10
48535 48957
sum_count= 1
48538 48957
sum_count= 2
48538 48957
sum_count= 3
48539 48957
sum_count= 4
48540 48957
sum_count= 5
48542 48957
sum_count= 6
48542 48957
sum_count= 7
48543 48957
sum_count= 8
48545 48957
sum_count= 9
48547 48957
sum_count= 10
48553 48957
sum_count= 11
48554 48957
sum_count= 12
48773 48957
sum_count= 13
48790 48957
sum_count= 14
48852 48957
sum_count= 15
48885 48957
sum_count= 16
49003 49557
sum_count= 1
49093 49557
sum_count= 2
49101 49557
sum_count= 3
49104 49557
sum_count= 4
49205 49557
sum_count= 5
49268 49557
sum_count= 6
49284 49557
sum_count= 7
49393 49557
sum_count= 8
49404 49557
sum_count= 9
49720 50157
sum_count= 1
51184 51357
sum_count= 1
51185 51357
sum_count= 2
51396 51957
sum_count= 1
51777 51957
sum_count= 2
52017 52557
sum_count= 1
52082 52557
sum_count= 2
52083 52557
sum_count= 3
52089 52557
sum_count= 4
52093 52557
sum_count= 5
52095 52557
sum_count= 6
52096 52557
sum_count= 7
52102 52557
sum_count= 8
52112 52557
sum_count= 9
52162 52557
sum_count= 10
52362 52557
sum_count= 11
52363 52557
sum_count= 12
52367 52557
sum_count= 13
52436 52557
sum_count= 14
52547 52557
sum_count= 15
52549 52557
sum_count= 16
52711 53157
sum_count= 1
53186 53757
sum_count= 1
53394 53757
sum_count= 2
53396 53757
sum_count= 3
53399 53757
sum_count= 4
53528 53757
sum_count= 5
53538 53757
sum_count= 6
53663 53757
sum_count= 7
53727 53757
sum_count= 8
53889 54357
sum_count= 1
53965 54357
sum_count= 2
54057 54357
sum_count= 3
54066 54357
sum_count= 4
54075 54357
sum_count= 5
54133 54357
sum_count= 6
54232 54357
sum_count= 7
54282 54357
sum_count= 8
54445 54957
sum_count= 1
54649 54957
sum_count= 2
54757 54957
sum_count= 3
54882 54957
sum_count= 4
55222 55557
sum_count= 1
55254 55557
sum_count= 2
55571 56157
sum_count= 1
55600 56157
sum_count= 2
55670 56157
sum_count= 3
55805 56157
sum_count= 4
55890 56157
sum_count= 5
55953 56157
sum_count= 6
56107 56157
sum_count= 7
56256 56757
sum_count= 1
56257 56757
sum_count= 2
56391 56757
sum_count= 3
56436 56757
sum_count= 4
56470 56757
sum_count= 5
56473 56757
sum_count= 6
56484 56757
sum_count= 7
56506 56757
sum_count= 8
56511 56757
sum_count= 9
56563 56757
sum_count= 10
56631 56757
sum_count= 11
56632 56757
sum_count= 12
56634 56757
sum_count= 13
56635 56757
sum_count= 14
56637 56757
sum_count= 15
56638 56757
sum_count= 16
56696 56757
sum_count= 17
56756 56757
sum_count= 18
56811 57357
sum_count= 1
56963 57357
sum_count= 2
56965 57357
sum_count= 3
56968 57357
sum_count= 4
56969 57357
sum_count= 5
56971 57357
sum_count= 6
57071 57357
sum_count= 7
57278 57357
sum_count= 8
57281 57357
sum_count= 9
57460 57957
sum_count= 1
57522 57957
sum_count= 2
57524 57957
sum_count= 3
59209 59757
sum_count= 1
59804 60357
sum_count= 1
59822 60357
sum_count= 2
59950 60357
sum_count= 3
60372 60957
sum_count= 1
60374 60957
sum_count= 2
60377 60957
sum_count= 3
60378 60957
sum_count= 4
60381 60957
sum_count= 5
60388 60957
sum_count= 6
60438 60957
sum_count= 7
60440 60957
sum_count= 8
60625 60957
sum_count= 9
60626 60957
sum_count= 10
60685 60957
sum_count= 11
60817 60957
sum_count= 12
60818 60957
sum_count= 13
60837 60957
sum_count= 14
60947 60957
sum_count= 15
61032 61557
sum_count= 1
61035 61557
sum_count= 2
61036 61557
sum_count= 3
61044 61557
sum_count= 4
61045 61557
sum_count= 5
61385 61557
sum_count= 6
61387 61557
sum_count= 7
61389 61557
sum_count= 8
61390 61557
sum_count= 9
61391 61557
sum_count= 10
61394 61557
sum_count= 11
61395 61557
sum_count= 12
61397 61557
sum_count= 13
61397 61557
sum_count= 14
61398 61557
sum_count= 15
61399 61557
sum_count= 16
61400 61557
sum_count= 17
61403 61557
sum_count= 18
61472 61557
sum_count= 19
61474 61557
sum_count= 20
61532 61557
sum_count= 21
61535 61557
sum_count= 22
61551 61557
sum_count= 23
61604 62157
sum_count= 1
61678 62157
sum_count= 2
61929 62157
sum_count= 3
61934 62157
sum_count= 4
62313 62757
sum_count= 1
62565 62757
sum_count= 2
62581 62757
sum_count= 3
62655 62757
sum_count= 4
62731 62757
sum_count= 5
62840 63357
sum_count= 1
62843 63357
sum_count= 2
62846 63357
sum_count= 3
62850 63357
sum_count= 4
62851 63357
sum_count= 5
63114 63357
sum_count= 6
63116 63357
sum_count= 7
63123 63357
sum_count= 8
63160 63357
sum_count= 9
63913 63957
sum_count= 1
63930 63957
sum_count= 2
64065 64557
sum_count= 1
64145 64557
sum_count= 2
64233 64557
sum_count= 3
64269 64557
sum_count= 4
64812 65157
sum_count= 1
64960 65157
sum_count= 2
65018 65157
sum_count= 3
65098 65157
sum_count= 4
65131 65157
sum_count= 5
65133 65157
sum_count= 6
65137 65157
sum_count= 7
65276 65757
sum_count= 1
65276 65757
sum_count= 2
65277 65757
sum_count= 3
65303 65757
sum_count= 4
65482 65757
sum_count= 5
65896 66357
sum_count= 1
65898 66357
sum_count= 2
65994 66357
sum_count= 3
66087 66357
sum_count= 4
66087 66357
sum_count= 5
66089 66357
sum_count= 6
66093 66357
sum_count= 7
66095 66357
sum_count= 8
66098 66357
sum_count= 9
66100 66357
sum_count= 10
66107 66357
sum_count= 11
66128 66357
sum_count= 12
66141 66357
sum_count= 13
66200 66357
sum_count= 14
66367 66957
sum_count= 1
66368 66957
sum_count= 2
66450 66957
sum_count= 3
66568 66957
sum_count= 4
66572 66957
sum_count= 5
66573 66957
sum_count= 6
66578 66957
sum_count= 7
66662 66957
sum_count= 8
66853 66957
sum_count= 9
67219 67557
sum_count= 1
67220 67557
sum_count= 2
70251 70557
sum_count= 1
70253 70557
sum_count= 2
70255 70557
sum_count= 3
70321 70557
sum_count= 4
70322 70557
sum_count= 5
70323 70557
sum_count= 6
70325 70557
sum_count= 7
70328 70557
sum_count= 8
70331 70557
sum_count= 9
70334 70557
sum_count= 10
70336 70557
sum_count= 11
70339 70557
sum_count= 12
70342 70557
sum_count= 13
70346 70557
sum_count= 14
70581 71157
sum_count= 1
70678 71157
sum_count= 2
70680 71157
sum_count= 3
70691 71157
sum_count= 4
70755 71157
sum_count= 5
70857 71157
sum_count= 6
70992 71157
sum_count= 7
71495 71757
sum_count= 1
71499 71757
sum_count= 2
71646 71757
sum_count= 3
71913 72357
sum_count= 1
71914 72357
sum_count= 2
72175 72357
sum_count= 3
76369 76557
sum_count= 1
76884 77157
sum_count= 1
77053 77157
sum_count= 2
77355 77757
sum_count= 1
78081 78357
sum_count= 1
78824 78957
sum_count= 1
78834 78957
sum_count= 2
79405 79557
sum_count= 1
[[2.2557e+04 0.0000e+00]
 [2.3157e+04 1.0000e+00]
 [2.3757e+04 9.0000e+00]
 [2.4357e+04 5.0000e+00]
 [2.4957e+04 2.0000e+00]
 [2.5557e+04 2.0000e+00]
 [2.6157e+04 0.0000e+00]
 [2.6757e+04 2.0000e+00]
 [2.7357e+04 4.0000e+00]
 [2.7957e+04 1.2000e+01]
 [2.8557e+04 1.5000e+01]
 [2.9157e+04 7.0000e+00]
 [2.9757e+04 3.0000e+00]
 [3.0357e+04 0.0000e+00]
 [3.0957e+04 2.0000e+00]
 [3.1557e+04 1.0000e+01]
 [3.2157e+04 1.6000e+01]
 [3.2757e+04 1.0000e+01]
 [3.3357e+04 2.0000e+00]
 [3.3957e+04 4.0000e+00]
 [3.4557e+04 6.0000e+00]
 [3.5157e+04 0.0000e+00]
 [3.5757e+04 0.0000e+00]
 [3.6357e+04 1.0000e+00]
 [3.6957e+04 6.0000e+00]
 [3.7557e+04 8.0000e+00]
 [3.8157e+04 7.0000e+00]
 [3.8757e+04 6.0000e+00]
 [3.9357e+04 8.0000e+00]
 [3.9957e+04 8.0000e+00]
 [4.0557e+04 0.0000e+00]
 [4.1157e+04 4.0000e+00]
 [4.1757e+04 9.0000e+00]
 [4.2357e+04 2.0000e+01]
 [4.2957e+04 4.0000e+00]
 [4.3557e+04 9.0000e+00]
 [4.4157e+04 5.0000e+00]
 [4.4757e+04 4.0000e+00]
 [4.5357e+04 0.0000e+00]
 [4.5957e+04 0.0000e+00]
 [4.6557e+04 6.0000e+00]
 [4.7157e+04 9.0000e+00]
 [4.7757e+04 7.0000e+00]
 [4.8357e+04 1.0000e+01]
 [4.8957e+04 1.6000e+01]
 [4.9557e+04 9.0000e+00]
 [5.0157e+04 1.0000e+00]
 [5.0757e+04 0.0000e+00]
 [5.1357e+04 2.0000e+00]
 [5.1957e+04 2.0000e+00]
 [5.2557e+04 1.6000e+01]
 [5.3157e+04 1.0000e+00]
 [5.3757e+04 8.0000e+00]
 [5.4357e+04 8.0000e+00]
 [5.4957e+04 4.0000e+00]
 [5.5557e+04 2.0000e+00]
 [5.6157e+04 7.0000e+00]
 [5.6757e+04 1.8000e+01]
 [5.7357e+04 9.0000e+00]
 [5.7957e+04 3.0000e+00]
 [5.8557e+04 0.0000e+00]
 [5.9157e+04 0.0000e+00]
 [5.9757e+04 1.0000e+00]
 [6.0357e+04 3.0000e+00]
 [6.0957e+04 1.5000e+01]
 [6.1557e+04 2.3000e+01]
 [6.2157e+04 4.0000e+00]
 [6.2757e+04 5.0000e+00]
 [6.3357e+04 9.0000e+00]
 [6.3957e+04 2.0000e+00]
 [6.4557e+04 4.0000e+00]
 [6.5157e+04 7.0000e+00]
 [6.5757e+04 5.0000e+00]
 [6.6357e+04 1.4000e+01]
 [6.6957e+04 9.0000e+00]
 [6.7557e+04 2.0000e+00]
 [6.8157e+04 0.0000e+00]
 [6.8757e+04 0.0000e+00]
 [6.9357e+04 0.0000e+00]
 [6.9957e+04 0.0000e+00]
 [7.0557e+04 1.4000e+01]
 [7.1157e+04 7.0000e+00]
 [7.1757e+04 3.0000e+00]
 [7.2357e+04 3.0000e+00]
 [7.2957e+04 0.0000e+00]
 [7.3557e+04 0.0000e+00]
 [7.4157e+04 0.0000e+00]
 [7.4757e+04 0.0000e+00]
 [7.5357e+04 0.0000e+00]
 [7.5957e+04 0.0000e+00]
 [7.6557e+04 1.0000e+00]
 [7.7157e+04 2.0000e+00]
 [7.7757e+04 1.0000e+00]
 [7.8357e+04 1.0000e+00]
 [7.8957e+04 2.0000e+00]
 [7.9557e+04 1.0000e+00]]

In [103]:
df_bus_service = pd.DataFrame(columns=["index","time_in","time_out"])
bus_services =np.array([])
bus_service_counter=0;
zero_count=0
for i in range(len(interval_numpy)):
    if interval_numpy[i][1]==0:
        if zero_count>0 :
            out_time = interval_numpy[i][0]+time_interval
            
        else:
          #  print(interval_numpy[i][1])
          # print(interval_numpy[i][0])
            bus_service_counter=bus_service_counter+1
            in_time=interval_numpy[i][0]
            out_time=interval_numpy[i][0]+time_interval
            bus_services_row =[bus_service_counter,in_time,out_time]     
          #  df_bus_service.add([bus_service_counter,in_time,out_time])
            df_bus_service.loc[len(df_bus_service)] = bus_services_row
            zero_count = zero_count+1
    else:
        zero_count=0
print(df_bus_service)       
df_bus_service.to_csv("bus_services.csv")

station_Counter=0
buses_with_station = pd.DataFrame(columns=["TID","Time","StationID","Is_OD"])
print(buses_with_station)
bus_counter=0;
for i in range(len(df_bus_service)):     #Orgin_destination Staions
    time_in_od = df_bus_service.loc[i][1] #start_in orgin or destination
    time_out_od = df_bus_service.loc[i][2]#end_out orgin or destination
    #print(time_in_od,time_out_od)
    station_Counter = station_Counter+1
    for j in range(len(buses_numpy)):
        #print(buses_numpy[j][1])
        #buses_numpy[i][1]<=(time_in_od) and [bus_counter][1]>(time_out_od)
        #print('added',buses_numpy[bus_counter][1])
        #bus_station_row = [buses_numpy[bus_counter][0],buses_numpy[bus_counter][1],station_Counter,'yes']
       
        if(buses_numpy[j][1]>=(time_in_od) and buses_numpy[j][1]<=(time_out_od)):
            #print([buses_numpy[j][0],buses_numpy[j][1],station_Counter,'yes'])
            buses_with_station.loc[len(buses_with_station)]=[buses_numpy[j][0],buses_numpy[j][1],station_Counter,'yes']
##dd            
for i in range(len(df_bus_service)-1):     #Other Staions
    
    time_start = df_bus_service.loc[i][2]#end_out orgin or destination
    time_stop = df_bus_service.loc[i+1][1] #start_in orgin or destination
    print('time_start','time_stop',time_start,time_stop)
    station_Counter = station_Counter+1
    df_bus_partial = pd.DataFrame(columns=["TID","Time"])
    
    for j in range(len(buses_numpy)):
        #print(buses_numpy[j][1])
        #buses_numpy[i][1]<=(time_in_od) and [bus_counter][1]>(time_out_od)
        #print('added',buses_numpy[bus_counter][1])
        #bus_station_row = [buses_numpy[bus_counter][0],buses_numpy[bus_counter][1],station_Counter,'yes']
       
        if(buses_numpy[j][1]>(time_start) and buses_numpy[j][1]<(time_stop)):
            #print([buses_numpy[j][0],buses_numpy[j][1],station_Counter,'no'])
            df_bus_partial.loc[len(df_bus_partial)]=[buses_numpy[j][0],buses_numpy[j][1]]
           # buses_with_station.loc[len(buses_with_station)]=[buses_numpy[j][0],buses_numpy[j][1],station_Counter,'yes']
    print(df_bus_partial)
    df_bus_partial.to_csv("bus_partial"+str(i)+".csv")
    
    kmeans = KMeans(n_clusters=10).fit(df_bus_partial.to_numpy())

    print(kmeans.labels_)
    
buses_with_station.to_csv("bus_with_station.csv")

   index  time_in  time_out
0    1.0  22557.0   23157.0
1    2.0  26157.0   26757.0
2    3.0  30357.0   30957.0
3    4.0  35157.0   35757.0
4    5.0  40557.0   41157.0
5    6.0  45357.0   45957.0
6    7.0  50757.0   51357.0
7    8.0  58557.0   59157.0
8    9.0  68157.0   68757.0
9   10.0  72957.0   73557.0
Empty DataFrame
Columns: [TID, Time, StationID, Is_OD]
Index: []
time_start time_stop 23157.0 26157.0
   TID   Time
0    3  23212
1    4  23215
2    5  23260
3    6  23289
4    7  23303
5    8  23491
6    9  23608
7   10  23611
8   11  23714
9   12  23791
10  13  23793
11  14  24120
12  15  24296
13  16  24298
14  17  24669
15  18  24862
16  19  25010
17  20  25187
[2 2 2 2 2 9 0 0 5 5 5 6 3 3 1 8 4 7]
time_start time_stop 26757.0 30357.0
   TID   Time
0   23  26856
1   24  27163
2   25  27260
3   26  27314
4   27  27364
5   28  27367
6   29  27437
7   30  27441
8   31  27524
9   32  27583
10  33  27658
11  34  27661
12  35  27759
13  36  27804
14  37  27805
15  38  27810
16  39  27964
17  40  28216
18  41  28302
19  42  28304
20  43  28305
21  44  28310
22  45  28312
23  46  28313
24  47  28315
25  48  28319
26  49  28319
27  50  28411
28  51  28413
29  52  28474
30  53  28541
31  54  28609
32  55  28613
33  56  28662
34  57  28759
35  58  28823
36  59  28827
37  60  29074
38  61  29406
39  62  29493
40  63  29509
[6 3 3 7 7 7 7 7 9 9 9 9 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 5 5 5 5 5 8 8 8
 4 2 2 2]
time_start time_stop 30957.0 35157.0
    TID   Time
0    66  31014
1    67  31079
2    68  31115
3    69  31130
4    70  31150
5    71  31174
6    72  31237
7    73  31307
8    74  31446
9    75  31514
10   76  31586
11   77  31590
12   78  31600
13   79  31601
14   80  31605
15   81  31606
16   82  31738
17   83  31888
18   84  31892
19   85  32021
20   86  32093
21   87  32098
22   88  32100
23   89  32103
24   90  32117
25   91  32155
26   92  32239
27   93  32326
28   94  32474
29   95  32626
30   96  32629
31   97  32637
32   98  32654
33   99  32661
34  100  32672
35  101  32692
36  102  32894
37  103  33045
38  104  33485
39  105  33491
40  106  33570
41  107  33572
42  108  34124
43  109  34225
44  110  34375
45  111  34379
46  112  34442
47  113  34555
[5 5 5 5 5 5 5 5 2 2 2 2 2 2 2 2 2 7 7 0 0 0 0 0 0 0 9 9 9 3 3 3 3 3 3 3 8
 8 4 4 4 4 6 6 1 1 1 1]
time_start time_stop 35757.0 40557.0
    TID   Time
0   114  36281
1   115  36464
2   116  36470
3   117  36474
4   118  36745
5   119  36945
6   120  36946
7   121  37037
8   122  37087
9   123  37087
10  124  37220
11  125  37222
12  126  37300
13  127  37449
14  128  37451
15  129  37567
16  130  37570
17  131  37723
18  132  37784
19  133  37976
20  134  37980
21  135  37993
22  136  38349
23  137  38351
24  138  38460
25  139  38463
26  140  38599
27  141  38683
28  142  38878
29  143  38998
30  144  39000
31  145  39003
32  146  39004
33  147  39006
34  148  39008
35  149  39181
36  150  39434
37  151  39440
38  152  39456
39  153  39543
40  154  39550
41  155  39678
42  156  39725
43  157  39740
[5 5 5 5 0 0 0 0 8 8 8 8 8 4 4 4 4 4 6 6 6 6 2 2 2 2 9 9 1 1 1 1 1 1 1 1 7
 7 7 7 7 3 3 3]
time_start time_stop 41157.0 45357.0
    TID   Time
0   162  41168
1   163  41203
2   164  41250
3   165  41253
4   166  41254
5   167  41257
6   168  41415
7   169  41752
8   170  41756
9   171  41757
10  172  41761
11  173  41765
12  174  41769
13  175  41775
14  176  41780
15  177  41783
16  178  41786
17  179  41787
18  180  41789
19  181  42059
20  182  42060
21  183  42063
22  184  42066
23  185  42067
24  186  42068
25  187  42070
26  188  42143
27  189  42145
28  190  42236
29  191  42503
30  192  42776
31  193  42779
32  194  42843
33  195  43063
34  196  43076
35  197  43163
36  198  43275
37  199  43277
38  200  43338
39  201  43340
40  202  43505
41  203  43510
42  204  43662
43  205  43743
44  206  43749
45  207  43829
46  208  43833
47  209  44466
48  210  44607
49  211  44608
50  212  44613
[3 3 3 3 3 3 3 1 1 1 1 1 1 1 1 1 1 1 1 4 4 4 4 4 4 4 4 4 4 9 6 6 6 8 8 8 2
 2 2 2 7 7 5 5 5 5 5 0 0 0 0]
time_start time_stop 45957.0 50757.0
    TID   Time
0   213  46315
1   214  46340
2   215  46419
3   216  46459
4   217  46465
5   218  46521
6   219  46642
7   220  46668
8   221  46691
9   222  46693
10  223  46759
11  224  46767
12  225  46769
13  226  46777
14  227  46781
15  228  47249
16  229  47345
17  230  47463
18  231  47472
19  232  47527
20  233  47542
21  234  47655
22  235  47791
23  236  47792
24  237  47794
25  238  47808
26  239  47921
27  240  47924
28  241  48000
29  242  48001
30  243  48181
31  244  48267
32  245  48535
33  246  48538
34  247  48538
35  248  48539
36  249  48540
37  250  48542
38  251  48542
39  252  48543
40  253  48545
41  254  48547
42  255  48553
43  256  48554
44  257  48773
45  258  48790
46  259  48852
47  260  48885
48  261  49003
49  262  49093
50  263  49101
51  264  49104
52  265  49205
53  266  49268
54  267  49284
55  268  49393
56  269  49404
57  270  49720
[0 0 0 0 0 0 4 4 4 4 4 4 4 4 4 6 6 6 6 6 6 2 2 2 2 2 2 2 3 3 3 3 8 8 8 8 8
 8 8 8 8 8 8 8 5 5 5 5 1 1 1 1 1 7 7 7 7 9]
time_start time_stop 51357.0 58557.0
    TID   Time
0   273  51396
1   274  51777
2   275  52017
3   276  52082
4   277  52083
..  ...    ...
73  346  57278
74  347  57281
75  348  57460
76  349  57522
77  350  57524

[78 rows x 2 columns]
[6 8 8 8 8 8 8 8 8 8 8 8 1 1 1 1 1 1 1 4 4 4 4 4 4 4 4 2 2 2 2 2 2 2 2 2 7
 7 7 7 7 3 3 3 3 3 3 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 0 0 0 0 0 0 0 0 9
 9 9 9 9]
time_start time_stop 59157.0 68157.0
     TID   Time
0    351  59209
1    352  59804
2    353  59822
3    354  59950
4    355  60372
..   ...    ...
98   449  66578
99   450  66662
100  451  66853
101  452  67219
102  453  67220

[103 rows x 2 columns]
[5 5 5 5 1 1 1 1 1 1 1 1 1 1 1 8 8 8 8 8 8 8 8 8 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 7 7 7 7 7 7 4 4 4 4 4 4 4 4
 4 4 4 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 6 6 6 6 6 6 6 6 9 9 9]
time_start time_stop 68757.0 72957.0
    TID   Time
0   454  70251
1   455  70253
2   456  70255
3   457  70321
4   458  70322
5   459  70323
6   460  70325
7   461  70328
8   462  70331
9   463  70334
10  464  70336
11  465  70339
12  466  70342
13  467  70346
14  468  70581
15  469  70678
16  470  70680
17  471  70691
18  472  70755
19  473  70857
20  474  70992
21  475  71495
22  476  71499
23  477  71646
24  478  71913
25  479  71914
26  480  72175
[8 8 8 0 0 0 0 0 0 0 0 0 0 0 9 2 2 2 2 4 6 3 3 7 1 1 5]

In [38]:
import pandas as pd

routes = pd.read_csv('routes.csv')
print ("converted form csv:")
print (routes)
line_num ='8'
print('stations in a specefic bus line')
filter_go_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='go')]
filter_back_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='back')]
filter_go_back_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='go_back')]
print ('len-of-go stations:',len(filter_go_stations))
print ('len-of-back stations:',len(filter_back_stations))
print ('len-of-back stations:',len(filter_go_back_stations))

converted form csv:
      station_code  line order go_back                   station_name  \
0             3169     1     1      go                    ????-157-57
1             3170     1     2      go                ???? ???? ?????
2             3172     1     3      go                          ?????
3             3175     1     4      go                     ??? ??????
4             3177     1     5      go                          ?????
...            ...   ...   ...     ...                            ...
5023          2898  brt3    28    back                         ??????
5024          2885  brt3    29    back                ????? ???? ????
5025          2886  brt3    30    back                      ???? ????
5026          3931  brt3    31    back                          ?????
5027          2870  brt3    32    back  ?????? ????? ????????-????? 3

      geo_width  geo_length station_type roate_type in_terminal
0     51.731912   32.720558           od     normal          no
1     51.728978   32.715887       normal     normal          no
2     51.727200   32.712987       normal     normal          no
3     51.725108   32.710537       normal     normal          no
4     51.720581   32.707897       normal     normal          no
...         ...         ...          ...        ...         ...
5023  51.763670   32.654585       normal        BRT          no
5024  51.768907   32.652085       normal        BRT          no
5025  51.774118   32.649536       normal        BRT          no
5026  51.775672   32.648610       normal     normal          no
5027  51.783792   32.645565           od     normal         yes

[5028 rows x 10 columns]
stations in a specefic bus line
len-of-go stations: 27
len-of-back stations: 29
len-of-back stations: 0

In [11]:
import pandas as pd
import numpy as np
bus_transactions = pd.read_csv('bus_transactions980623.csv')
print ("converted form csv:")
print (bus_transactions)

routes = pd.read_csv('routes.csv')


line_num = 1
print('stations in a specefic bus line')
filter_stations = bus_transactions.loc[bus_transactions['LineCode'] == line_num]
print(filter_stations)

l = bus_transactions.LineCode.unique()
print('unique Line Codes: \n ',sorted(l))

print('unique plats: \n ',bus_transactions.plat.unique())

for i in range(len(l)):
   # print('transactions in lines',l[i]) 
    s = bus_transactions.loc[bus_transactions['LineCode'] == l[i]]
     
    
    line_num =str(l[i])
    print('stations in a specefic bus line',line_num)
    filter_go_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='go')]
    filter_back_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='back')]
    filter_go_back_stations = routes.loc[(routes['line'] == line_num) & (routes['go_back'] =='go_back')]
    print ('len-of-go stations:',len(filter_go_stations))
    print ('len-of-back stations:',len(filter_back_stations))
    print ('len-of-go back stations:',len(filter_go_back_stations))
    
    
    
    print(s.plat.unique())
    p = s.plat.unique()
    
    for j in range(len(p)):
        print('transactions in line',l[i],'plat',p[j])
        ps  = bus_transactions.loc[(bus_transactions['LineCode'] == l[i]) & (bus_transactions['plat'] ==p[j])]
        print(ps) 
      
        # For each buckets of transactions in a specific line and plat, we try to  cluster transaction in related station
        # ps evaluate to buses in my previous code
        
        buses_numpy = ps.to_numpy()
        print('first row of the selected chunck : \n',buses_numpy[0])
        
        t0= buses_numpy[0][3]
        ts=buses_numpy[len(buses_numpy)-1][3]
        print(len(buses_numpy))
        print('t0 =',t0)
        print('ts =',ts)
        time_interval = 600 #second for finding orgin or destination stations(over 10 minute)
        interval_counts=round((ts-t0)/time_interval)
        print('time_intervals',round((ts-t0)/time_interval))
        counter=1
        buses_counter=1
        sum_count=0
        interval_numpy = np.ones((interval_counts,2))

        for k in range(len(interval_numpy)):
            while buses_numpy[buses_counter][3]<(t0):
                sum_count= sum_count+1
                #print(buses_numpy[buses_counter][3],t0)
                #print('sum_count=',sum_count)
                buses_counter = buses_counter+1
            interval_numpy[k]=(t0,sum_count)
            t0 = t0+time_interval
            sum_count =0
        print('10min interval view \n for line',l[i],'plat',p[j],' \n',interval_numpy)
        
        #Calculate 10min intervals to find origin or destinations - Each row means a go or back  
        df_bus_service = pd.DataFrame(columns=["time_in","time_out"])
        bus_services =np.array([])
        bus_service_counter=0;
        zero_count=0
        for k in range(len(interval_numpy)):
            if interval_numpy[k][1]==0:
                if zero_count>0 :
                    out_time = interval_numpy[k][0]+time_interval

                else:
                  #  print(interval_numpy[i][1])
                  # print(interval_numpy[i][0])
                    bus_service_counter=bus_service_counter+1
                    in_time=interval_numpy[k][0]
                    out_time=interval_numpy[k][0]+time_interval
                    bus_services_row =[in_time,out_time]     
                  #  df_bus_service.add([bus_service_counter,in_time,out_time])
                    df_bus_service.loc[len(df_bus_service)] = bus_services_row
                    zero_count = zero_count+1
            else:
                zero_count=0
        print('Origin destination interval view \n',df_bus_service)
        
        #Assign origin and destination stations to the transactions
      #  buses_with_station = pd.DataFrame(columns=["TID","Time","StationID","Is_OD"])
        station_Counter = 1
        buses_with_station = pd.DataFrame(columns=["CardID","LineCode","FDate","Time","plat","Station"])
        for k in range(len(df_bus_service)):     #Orgin_destination Staions
            time_in_od = df_bus_service.loc[k][0] #start_in orgin or destination
            time_out_od = df_bus_service.loc[k][1]#end_out orgin or destination
            #print('time_in_od,time_out_od:',time_in_od,time_out_od)
            station_Counter = station_Counter+1
            for m in range(len(buses_numpy)):
                #print(buses_numpy[j][1])
                #buses_numpy[i][1]<=(time_in_od) and [bus_counter][1]>(time_out_od)
                #print('added',buses_numpy[bus_counter][1])
                #bus_station_row = [buses_numpy[bus_counter][0],buses_numpy[bus_counter][1],station_Counter,'yes']

                if(buses_numpy[m][3]>=(time_in_od) and buses_numpy[m][3]<=(time_out_od)):
                    #print([buses_numpy[j][0],buses_numpy[j][1],station_Counter,'yes'])
                    buses_with_station.loc[len(buses_with_station)]=[buses_numpy[m][0],buses_numpy[m][1],buses_numpy[m][2],buses_numpy[m][3],buses_numpy[m][4],station_Counter]

        #first attempt to update stations of transactions - only orgin or destination
        print('OD bus stations of transactions: \n',buses_with_station)
        
        
   
        ##dd            
        for k in range(len(df_bus_service)-1):     #Other Staions

            time_start = df_bus_service.loc[k][1]#end_out orgin or destination
            time_stop = df_bus_service.loc[k+1][0] #start_in orgin or destination
            print('time_start','time_stop',time_start,time_stop)
            station_Counter = station_Counter+1
            df_bus_partial = pd.DataFrame(columns=["CardID","LineCode","FDate","Time","plat"])
            for m in range(len(buses_numpy)):
                #print(buses_numpy[j][1])
                #buses_numpy[i][1]<=(time_in_od) and [bus_counter][1]>(time_out_od)
                #print('added',buses_numpy[bus_counter][1])
                #bus_station_row = [buses_numpy[bus_counter][0],buses_numpy[bus_counter][1],station_Counter,'yes']

                if(buses_numpy[m][3]>(time_start) and buses_numpy[m][3]<(time_stop)):
                    #print([buses_numpy[j][0],buses_numpy[j][1],station_Counter,'no'])
                    df_bus_partial.loc[len(df_bus_partial)]=[buses_numpy[m][0],buses_numpy[m][1],buses_numpy[m][2],buses_numpy[m][3],buses_numpy[m][4]]
                   # buses_with_station.loc[len(buses_with_station)]=[buses_numpy[j][0],buses_numpy[j][1],station_Counter,'yes']
            print('df_bus_partial : \n',df_bus_partial)
            
            #df_bus_partial.to_csv("bus_partial"+str(i)+".csv")

            #kmeans = KMeans(n_clusters=10).fit(df_bus_partial.to_numpy())

            #print(kmeans.labels_)

        #buses_with_station.to_csv("bus_with_station.csv")

converted form csv:
            CardID  LineCode       FDate   Time  plat
0        542446139         1  1398/06/23  24030  A145
1        542446139         1  1398/06/23  24030  A145
2       2620656172         1  1398/06/23  24302  A145
3       2620656172         1  1398/06/23  24302  A145
4       3446252780         1  1398/06/23  26200  A145
...            ...       ...         ...    ...   ...
906075  2115925572       998  1398/06/23  54793   A43
906076  1765378436       998  1398/06/23  56797   A43
906077  1765378436       998  1398/06/23  56797   A43
906078  3997192356       998  1398/06/23  58169   A43
906079  3997192356       998  1398/06/23  58169   A43

[906080 rows x 5 columns]
stations in a specefic bus line
           CardID  LineCode       FDate   Time  plat
0       542446139         1  1398/06/23  24030  A145
1       542446139         1  1398/06/23  24030  A145
2      2620656172         1  1398/06/23  24302  A145
3      2620656172         1  1398/06/23  24302  A145
4      3446252780         1  1398/06/23  26200  A145
...           ...       ...         ...    ...   ...
31141  1407250245         1  1398/06/23  32846   N77
31142  1598737700         1  1398/06/23  32851   N77
31143  1598737700         1  1398/06/23  32851   N77
31144  1407179025         1  1398/06/23  33307   N77
31145  1407179025         1  1398/06/23  33307   N77

[31146 rows x 5 columns]
unique Line Codes:
  [1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 92, 94, 95, 96, 97, 98, 101, 102, 103, 106, 120, 145, 146, 147, 149, 150, 151, 152, 155, 156, 157, 167, 176, 267, 998, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1010, 1011, 1012, 1013, 1015, 1018, 1019]
unique plats:
  ['A145' 'A148' 'A34' 'B25' 'C16' 'C62' 'C65' 'D23' 'D33' 'D35' 'D44' 'D92'
 'D94' 'E31' 'E52' 'E55' 'F82' 'M50' 'N11' 'N167' 'N54' 'N77' 'A144' 'A17'
 'A31' 'A38' 'D49' 'D52' 'E187' 'F11' 'F118' 'F150' 'F152' 'F153' 'F21'
 'F81' 'M39' 'N190' 'A111' 'A147' 'A68' 'D40' 'D57' 'D65' 'D70' 'E141'
 'E20' 'E27' 'E45' 'M14' 'M142' 'M168' 'M17' 'M203' 'M206' 'A16' 'B72'
 'C30' 'N155' 'A33' 'A42' 'A71' 'C13' 'C31' 'E232' 'F110' 'N57' 'N65'
 'A156' 'B40' 'C34' 'D66' 'E19' 'E208' 'E23' 'F147' 'M61' 'M73' 'E197'
 'F104' 'F72' 'M208' 'E186' 'F55' 'A30' 'A55' 'C18' 'F95' 'A22' 'B27'
 'N152' 'A70' 'A23' 'D45' 'F45' 'A60' 'N195' 'C32' 'D32' 'E201' 'F162'
 'F62' 'F92' 'F99' 'A49' 'B62' 'D31' 'F161' 'F167' 'F168' 'F172' 'F181'
 'F182' 'M12' 'M21' 'M22' 'N143' 'N97' 'F106' 'M34' 'N13' 'N72' 'A37'
 'C27' 'N146' 'D79' 'E206' 'F27' 'M128' 'N115' 'A141' 'B66' 'D28' 'E120'
 'F108' 'F173' 'M121' 'M205' 'M96' 'N71' 'A136' 'M42' 'M46' 'N89' 'E234'
 'M35' 'M59' 'E171' 'M107' 'E211' 'E109' 'E209' 'F16' 'F76' 'M179' 'M27'
 'N34' 'D62' 'E14' 'E194' 'E195' 'E21' 'E239' 'E78' 'E87' 'F13' 'N50'
 'E37' 'F169' 'M148' 'N103' 'B44' 'F129' 'A65' 'B39' 'C17' 'C24' 'D47'
 'E131' 'E132' 'E188' 'E33' 'E92' 'F149' 'F176' 'M45' 'M77' 'N175' 'N182'
 'N82' 'B20' 'D77' 'E117' 'E151' 'F135' 'F175' 'M75' 'M76' 'N125' 'N75'
 'A117' 'A126' 'A129' 'F183' 'F58' 'F74' 'M149' 'M153' 'C55' 'E238' 'A110'
 'E110' 'E236' 'F70' 'F80' 'M116' 'N18' 'A112' 'E243' 'F40' 'F85' 'N58'
 'A166' 'E142' 'E46' 'F130' 'M133' 'M54' 'M56' 'M57' 'M86' 'N100' 'N106'
 'C57' 'D55' 'D95' 'E212' 'E36' 'E39' 'F121' 'F98' 'N199' 'N37' 'A140'
 'A154' 'A158' 'A64' 'B38' 'E169' 'F117' 'F146' 'F174' 'M146' 'M52' 'A27'
 'B69' 'D86' 'E174' 'E240' 'F18' 'F63' 'M152' 'M36' 'N113' 'N157' 'A120'
 'A151' 'A152' 'A160' 'B126' 'C58' 'D13' 'D15' 'D50' 'D72' 'E65' 'M150'
 'M178' 'M202' 'M70' 'N121' 'N20' 'N96' 'A41' 'E106' 'E26' 'F64' 'M18'
 'M91' 'A118' 'B14' 'B73' 'C36' 'C37' 'E228' 'F138' 'F139' 'F145' 'M190'
 'M211' 'N161' 'N169' 'A29' 'B17' 'B55' 'B78' 'C12' 'C49' 'E15' 'E170'
 'E62' 'M134' 'M139' 'M140' 'M209' 'M37' 'M58' 'N162' 'B42' 'M138' 'M97'
 'N107' 'N153' 'B45' 'B48' 'B51' 'B68' 'B74' 'B77' 'C20' 'C64' 'D80'
 'E214' 'F26' 'M41' 'M44' 'E88' 'B64' 'D41' 'F90' 'M101' 'M158' 'A12'
 'A130' 'A48' 'A50' 'A53' 'A59' 'B112' 'B113' 'C40' 'E179' 'F101' 'M104'
 'M105' 'M106' 'M111' 'M113' 'M118' 'M144' 'M159' 'M169' 'M170' 'M177'
 'M180' 'M181' 'M185' 'M186' 'M188' 'M193' 'M194' 'M197' 'M55' 'M82' 'M99'
 'N105' 'N110' 'N124' 'N128' 'N129' 'N134' 'N136' 'N141' 'N15' 'N98' 'B41'
 'E116' 'E156' 'E198' 'E204' 'E82' 'F65' 'N117' 'N39' 'E105' 'N196' 'D69'
 'F154' 'M15' 'M84' 'C42' 'D48' 'F103' 'E112' 'F96' 'F143' 'M32' 'M69'
 'N32' 'N85' 'N86' 'A163' 'E230' 'F111' 'F114' 'F128' 'F136' 'F141' 'M212'
 'M43' 'N159' 'N163' 'N78' 'A146' 'A164' 'B63' 'F163' 'F46' 'F87' 'M11'
 'M137' 'M60' 'M66' 'N93' 'B111' 'B34' 'D17' 'D53' 'D60' 'D61' 'E202'
 'E216' 'E75' 'M124' 'M167' 'M192' 'N120' 'N140' 'N60' 'C15' 'C41' 'C60'
 'D25' 'D26' 'D34' 'D75' 'D76' 'E73' 'F142' 'M117' 'M16' 'M183' 'M40'
 'N102' 'N198' 'N70' 'B56' 'C11' 'C14' 'E24' 'M200' 'E113' 'E207' 'F177'
 'F44' 'M115' 'A47' 'E107' 'E183' 'F159' 'F19' 'M135' 'M195' 'M95' 'A20'
 'C23' 'D68' 'D84' 'D91' 'F54' 'M48' 'A153' 'E136' 'M83' 'A114' 'A62'
 'B110' 'B23' 'B70' 'E123' 'E233' 'E41' 'A142' 'A51' 'B118' 'B52' 'E166'
 'E213' 'F20' 'N35' 'A128' 'B33' 'E205' 'A162' 'B114' 'E192' 'E218' 'F157'
 'M109' 'M123' 'M143' 'M174' 'N114' 'N64' 'D64' 'B32' 'B53' 'D83' 'E150'
 'E17' 'M112' 'M78' 'N108' 'N135' 'N137' 'N87' 'E100' 'E101' 'E146' 'E176'
 'E184' 'E223' 'E42' 'E96' 'F30' 'F34' 'N31' 'N51' 'N38' 'A18' 'A58'
 'B115' 'B116' 'B21' 'E130' 'E76' 'F137' 'M120' 'M126' 'M130' 'M151'
 'M187' 'M23' 'M64' 'M81' 'N187' 'N76' 'B61' 'F122' 'F59' 'M131' 'B121'
 'B16' 'B26' 'B36' 'B49' 'C52' 'C53' 'D85' 'F31' 'F41' 'F43' 'N133' 'N69'
 'B129' 'E135' 'E160' 'E163' 'E172' 'E177' 'E191' 'F47' 'F56' 'M100'
 'E148' 'E182' 'E79' 'M122' 'M166' 'C33' 'F133' 'M71' 'M72' 'A123' 'A157'
 'A63' 'B124' 'D36' 'D59' 'N185' 'C63' 'E43' 'M25' 'A159' 'A21' 'D20'
 'E175' 'E178' 'M38' 'N180' 'N21' 'N28' 'N99' 'A155' 'A167' 'F15' 'F178'
 'M182' 'M29' 'A61' 'B12' 'B65' 'C25' 'N109' 'N144' 'A124' 'C39' 'C54'
 'D54' 'E129' 'E13' 'E40' 'E94' 'F127' 'F66' 'F91' 'N116' 'N197' 'A113'
 'B127' 'B128' 'B130' 'E138' 'E159' 'E167' 'E181' 'E77' 'E91' 'F53' 'F57'
 'M161' 'M171' 'M172' 'M175' 'M176' 'M19' 'N126' 'N131' 'N147' 'N148'
 'N149' 'N150' 'N151' 'N26' 'N29' 'N30' 'N40' 'N41' 'N42' 'N43' 'N44'
 'N47' 'N48' 'N55' 'N56' 'N61' 'N62' 'N79' 'N80' 'N83' 'N84' 'A131' 'A134'
 'D96' 'E193' 'E224' 'E241' 'F28' 'F35' 'F71' 'F86' 'M89' 'N17' 'N33'
 'A133' 'D90' 'E217' 'E242' 'F144' 'F23' 'F33' 'M62' 'M80' 'A125' 'C21'
 'C44' 'E152' 'E220' 'E30' 'E32' 'E49' 'E85' 'F14' 'N67' 'E56' 'E72' 'M28'
 'M47' 'E58' 'A135' 'A67' 'E157' 'M145' 'N14' 'A119' 'C50' 'C56' 'E134'
 'M125' 'M164' 'N188' 'A66' 'B119' 'B13' 'D24' 'E115' 'E225' 'F105' 'F107'
 'F131' 'M119' 'M13' 'M162' 'M92' 'N192' 'N22' 'B22' 'B37' 'C28' 'E196'
 'E199' 'E231' 'F12' 'F148' 'F39' 'M114' 'A150' 'B19' 'E44' 'E51' 'F17'
 'F180' 'F48' 'M160' 'M53' 'N158' 'N16' 'E16' 'F29' 'M67' 'N118' 'N193'
 'A143' 'A52' 'B11' 'C35' 'C61' 'D18' 'D19' 'D46' 'E61' 'F115' 'F88'
 'M102' 'M110' 'N101' 'N154' 'N156' 'N160' 'N170' 'N25' 'N81' 'N95' 'A122'
 'A132' 'A139' 'E140' 'F124' 'F126' 'F42' 'F69' 'M154' 'B59' 'C59' 'E34'
 'F132' 'F67' 'F78' 'M129' 'A13' 'A137' 'A161' 'A40' 'D16' 'D87' 'E200'
 'E219' 'F102' 'F32' 'F84' 'M108' 'N181' 'N66' 'N73' 'F22' 'N90' 'A138'
 'A54' 'D30' 'D38' 'D73' 'D81' 'E143' 'E189' 'E53' 'E66' 'F109' 'F120'
 'F164' 'F37' 'F60' 'M165' 'M210' 'N172' 'A26' 'A69' 'D14' 'E114' 'F116'
 'F119' 'F151' 'F68' 'N122' 'N164' 'N171' 'N200' 'N46' 'A35' 'A45' 'B125'
 'B75' 'E12' 'E126' 'F97' 'M198' 'N111' 'N179' 'E68' 'F38' 'M157' 'M173'
 'B29' 'B50' 'B54' 'B71' 'C19' 'C66' 'D12' 'D22' 'D63' 'D78' 'D89' 'E127'
 'E29' 'E35' 'M127' 'M199' 'M201' 'N139' 'N168' 'N173' 'N174' 'N178'
 'N183' 'N191' 'N23' 'A116' 'A24' 'C43' 'C46' 'D39' 'D58' 'D67' 'E158'
 'E22' 'E226' 'E28' 'E70' 'E84' 'E98' 'E99' 'F112' 'M163' 'N127' 'N19'
 'N49' 'N88' 'B117' 'B24' 'B76' 'C22' 'D11' 'D21' 'D43' 'E128' 'E145'
 'E153' 'E25' 'E47' 'E54' 'E63' 'E86' 'N166' 'B43' 'D71' 'F166' 'B31'
 'E125' 'E221' 'E59' 'F125' 'M147' 'C47' 'A43']
stations in a specefic bus line 1
len-of-go stations: 34
len-of-back stations: 34
len-of-go back stations: 0
['A145' 'A148' 'A34' 'B25' 'C16' 'C62' 'C65' 'D23' 'D33' 'D35' 'D44' 'D92'
 'D94' 'E31' 'E52' 'E55' 'F82' 'M50' 'N11' 'N167' 'N54' 'N77']
transactions in line 1 plat A145
          CardID  LineCode       FDate   Time  plat
0      542446139         1  1398/06/23  24030  A145
1      542446139         1  1398/06/23  24030  A145
2     2620656172         1  1398/06/23  24302  A145
3     2620656172         1  1398/06/23  24302  A145
4     3446252780         1  1398/06/23  26200  A145
...          ...       ...         ...    ...   ...
1827  2505359876         1  1398/06/23  76412  A145
1828  2505359876         1  1398/06/23  76413  A145
1829  2505359876         1  1398/06/23  76413  A145
1830  3109163381         1  1398/06/23  76875  A145
1831  3109163381         1  1398/06/23  76875  A145

[1832 rows x 5 columns]
first row of the selected chunck :
 [542446139 1 '1398/06/23' 24030 'A145']
1832
t0 = 24030
ts = 76875
time_intervals 88
10min interval view
 for line 1 plat A145
 [[2.403e+04 0.000e+00]
 [2.463e+04 3.000e+00]
 [2.523e+04 0.000e+00]
 [2.583e+04 0.000e+00]
 [2.643e+04 2.000e+00]
 [2.703e+04 6.000e+01]
 [2.763e+04 1.200e+01]
 [2.823e+04 1.600e+01]
 [2.883e+04 8.000e+00]
 [2.943e+04 0.000e+00]
 [3.003e+04 1.800e+01]
 [3.063e+04 1.200e+01]
 [3.123e+04 3.800e+01]
 [3.183e+04 1.200e+01]
 [3.243e+04 0.000e+00]
 [3.303e+04 0.000e+00]
 [3.363e+04 0.000e+00]
 [3.423e+04 0.000e+00]
 [3.483e+04 0.000e+00]
 [3.543e+04 3.200e+01]
 [3.603e+04 7.800e+01]
 [3.663e+04 4.800e+01]
 [3.723e+04 6.800e+01]
 [3.783e+04 2.000e+01]
 [3.843e+04 1.200e+01]
 [3.903e+04 0.000e+00]
 [3.963e+04 1.000e+01]
 [4.023e+04 3.200e+01]
 [4.083e+04 4.800e+01]
 [4.143e+04 3.200e+01]
 [4.203e+04 7.600e+01]
 [4.263e+04 3.000e+01]
 [4.323e+04 2.200e+01]
 [4.383e+04 4.000e+00]
 [4.443e+04 6.600e+01]
 [4.503e+04 4.200e+01]
 [4.563e+04 2.600e+01]
 [4.623e+04 4.000e+01]
 [4.683e+04 3.000e+01]
 [4.743e+04 3.000e+01]
 [4.803e+04 2.000e+00]
 [4.863e+04 8.000e+00]
 [4.923e+04 2.200e+01]
 [4.983e+04 5.800e+01]
 [5.043e+04 7.000e+01]
 [5.103e+04 2.200e+01]
 [5.163e+04 6.000e+00]
 [5.223e+04 0.000e+00]
 [5.283e+04 0.000e+00]
 [5.343e+04 0.000e+00]
 [5.403e+04 0.000e+00]
 [5.463e+04 1.000e+01]
 [5.523e+04 5.800e+01]
 [5.583e+04 1.600e+01]
 [5.643e+04 1.400e+01]
 [5.703e+04 4.000e+00]
 [5.763e+04 2.000e+00]
 [5.823e+04 2.600e+01]
 [5.883e+04 3.800e+01]
 [5.943e+04 2.600e+01]
 [6.003e+04 1.400e+01]
 [6.063e+04 0.000e+00]
 [6.123e+04 0.000e+00]
 [6.183e+04 0.000e+00]
 [6.243e+04 0.000e+00]
 [6.303e+04 0.000e+00]
 [6.363e+04 0.000e+00]
 [6.423e+04 4.200e+01]
 [6.483e+04 6.200e+01]
 [6.543e+04 4.600e+01]
 [6.603e+04 3.000e+01]
 [6.663e+04 2.200e+01]
 [6.723e+04 1.600e+01]
 [6.783e+04 1.000e+01]
 [6.843e+04 1.800e+01]
 [6.903e+04 4.000e+01]
 [6.963e+04 3.400e+01]
 [7.023e+04 5.600e+01]
 [7.083e+04 3.600e+01]
 [7.143e+04 2.000e+01]
 [7.203e+04 1.400e+01]
 [7.263e+04 0.000e+00]
 [7.323e+04 0.000e+00]
 [7.383e+04 0.000e+00]
 [7.443e+04 1.400e+01]
 [7.503e+04 1.400e+01]
 [7.563e+04 1.000e+01]
 [7.623e+04 8.000e+00]]

Origin destination interval view
    time_in  time_out
0  24030.0   24630.0
1  25230.0   25830.0
2  29430.0   30030.0
3  32430.0   33030.0
4  39030.0   39630.0
5  52230.0   52830.0
6  60630.0   61230.0
7  72630.0   73230.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time  plat Station
0    542446139        1  1398/06/23  24030  A145       2
1    542446139        1  1398/06/23  24030  A145       2
2   2620656172        1  1398/06/23  24302  A145       2
3   2620656172        1  1398/06/23  24302  A145       2
4      7900260        1  1398/06/23  29677  A145       4
5      7900260        1  1398/06/23  29677  A145       4
6    361857972        1  1398/06/23  29720  A145       4
7    361857972        1  1398/06/23  29720  A145       4
8   3603855420        1  1398/06/23  29728  A145       4
9   3603855420        1  1398/06/23  29728  A145       4
10  2740520628        1  1398/06/23  29739  A145       4
11  2740520628        1  1398/06/23  29739  A145       4
12  1407168786        1  1398/06/23  29801  A145       4
13  1407168786        1  1398/06/23  29801  A145       4
14  3672531922        1  1398/06/23  29837  A145       4
15  3672531922        1  1398/06/23  29837  A145       4
16  3206958021        1  1398/06/23  29840  A145       4
17  3206958021        1  1398/06/23  29840  A145       4
18  3794248044        1  1398/06/23  29858  A145       4
19  3794248044        1  1398/06/23  29858  A145       4
20  1002962247        1  1398/06/23  29964  A145       4
21  1002962247        1  1398/06/23  29964  A145       4
22   536831022        1  1398/06/23  39506  A145       6
23   536831022        1  1398/06/23  39506  A145       6
24  2742047524        1  1398/06/23  39532  A145       6
25  2742047524        1  1398/06/23  39532  A145       6
26  2742047524        1  1398/06/23  39533  A145       6
27  2742047524        1  1398/06/23  39533  A145       6
28  1528578990        1  1398/06/23  39582  A145       6
29  1528578990        1  1398/06/23  39582  A145       6
30   869232161        1  1398/06/23  39615  A145       6
31   869232161        1  1398/06/23  39615  A145       6
time_start time_stop 24630.0 25230.0
df_bus_partial :
 Empty DataFrame
Columns: [CardID, LineCode, FDate, Time, plat]
Index: []
time_start time_stop 25830.0 29430.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   3446252780        1  1398/06/23  26200  A145
1   3446252780        1  1398/06/23  26200  A145
2   1281272526        1  1398/06/23  26446  A145
3   1281272526        1  1398/06/23  26446  A145
4    186286502        1  1398/06/23  26449  A145
..         ...      ...         ...    ...   ...
93  3677831388        1  1398/06/23  28240  A145
94  2125230308        1  1398/06/23  28342  A145
95  2125230308        1  1398/06/23  28342  A145
96   990427550        1  1398/06/23  28461  A145
97   990427550        1  1398/06/23  28461  A145

[98 rows x 5 columns]
time_start time_stop 30030.0 32430.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   2124848516        1  1398/06/23  30185  A145
1   2124848516        1  1398/06/23  30185  A145
2    186468982        1  1398/06/23  30453  A145
3    186468982        1  1398/06/23  30453  A145
4    869251094        1  1398/06/23  30508  A145
..         ...      ...         ...    ...   ...
57  2122551444        1  1398/06/23  31588  A145
58  2741114308        1  1398/06/23  31593  A145
59  2741114308        1  1398/06/23  31593  A145
60  3700626101        1  1398/06/23  31794  A145
61  3700626101        1  1398/06/23  31794  A145

[62 rows x 5 columns]
time_start time_stop 33030.0 39030.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    4278444658        1  1398/06/23  34926  A145
1    4278444658        1  1398/06/23  34926  A145
2     233143418        1  1398/06/23  34943  A145
3     233143418        1  1398/06/23  34943  A145
4    3793556588        1  1398/06/23  34956  A145
..          ...      ...         ...    ...   ...
253   426388334        1  1398/06/23  38137  A145
254  3603844156        1  1398/06/23  38258  A145
255  3603844156        1  1398/06/23  38258  A145
256  3793671436        1  1398/06/23  38291  A145
257  3793671436        1  1398/06/23  38291  A145

[258 rows x 5 columns]
time_start time_stop 39630.0 52230.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    4057439869        1  1398/06/23  39722  A145
1    4057439869        1  1398/06/23  39722  A145
2     210511643        1  1398/06/23  39788  A145
3     210511643        1  1398/06/23  39788  A145
4     210511643        1  1398/06/23  39791  A145
..          ...      ...         ...    ...   ...
661  3180979262        1  1398/06/23  51075  A145
662  3180979262        1  1398/06/23  51076  A145
663  3180979262        1  1398/06/23  51076  A145
664  3648026404        1  1398/06/23  51472  A145
665  3648026404        1  1398/06/23  51472  A145

[666 rows x 5 columns]
time_start time_stop 52830.0 60630.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    2138001821        1  1398/06/23  54425  A145
1     869399875        1  1398/06/23  54425  A145
2    2138001821        1  1398/06/23  54425  A145
3     869399875        1  1398/06/23  54425  A145
4    2541747758        1  1398/06/23  54430  A145
..          ...      ...         ...    ...   ...
203   262484289        1  1398/06/23  59916  A145
204   262484289        1  1398/06/23  59918  A145
205   262484289        1  1398/06/23  59918  A145
206  2048171298        1  1398/06/23  60025  A145
207  2048171298        1  1398/06/23  60025  A145

[208 rows x 5 columns]
time_start time_stop 61230.0 72630.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    1002545351        1  1398/06/23  63817  A145
1    1002545351        1  1398/06/23  63817  A145
2    3254145869        1  1398/06/23  63830  A145
3    3254145869        1  1398/06/23  63830  A145
4    3180738622        1  1398/06/23  63832  A145
..          ...      ...         ...    ...   ...
441   722164004        1  1398/06/23  71540  A145
442   722164004        1  1398/06/23  71544  A145
443   722164004        1  1398/06/23  71544  A145
444   736371680        1  1398/06/23  71569  A145
445   736371680        1  1398/06/23  71569  A145

[446 rows x 5 columns]
transactions in line 1 plat A148
          CardID  LineCode       FDate   Time  plat
1832   212671675         1  1398/06/23  21811  A148
1833   212671675         1  1398/06/23  21811  A148
1834   426167598         1  1398/06/23  21850  A148
1835   426167598         1  1398/06/23  21850  A148
1836  2741717316         1  1398/06/23  21888  A148
...          ...       ...         ...    ...   ...
3461  2048218530         1  1398/06/23  78270  A148
3462  3166414222         1  1398/06/23  78276  A148
3463  3166414222         1  1398/06/23  78276  A148
3464   173733190         1  1398/06/23  78281  A148
3465   173733190         1  1398/06/23  78281  A148

[1634 rows x 5 columns]
first row of the selected chunck :
 [212671675 1 '1398/06/23' 21811 'A148']
1634
t0 = 21811
ts = 78281
time_intervals 94
10min interval view
 for line 1 plat A148
 [[2.1811e+04 0.0000e+00]
 [2.2411e+04 7.0000e+00]
 [2.3011e+04 4.0000e+00]
 [2.3611e+04 0.0000e+00]
 [2.4211e+04 0.0000e+00]
 [2.4811e+04 0.0000e+00]
 [2.5411e+04 0.0000e+00]
 [2.6011e+04 2.4000e+01]
 [2.6611e+04 8.0000e+01]
 [2.7211e+04 1.6000e+01]
 [2.7811e+04 8.0000e+00]
 [2.8411e+04 8.0000e+00]
 [2.9011e+04 0.0000e+00]
 [2.9611e+04 1.2000e+01]
 [3.0211e+04 1.2000e+01]
 [3.0811e+04 2.6000e+01]
 [3.1411e+04 1.2000e+01]
 [3.2011e+04 3.4000e+01]
 [3.2611e+04 0.0000e+00]
 [3.3211e+04 0.0000e+00]
 [3.3811e+04 0.0000e+00]
 [3.4411e+04 0.0000e+00]
 [3.5011e+04 2.4000e+01]
 [3.5611e+04 4.6000e+01]
 [3.6211e+04 5.2000e+01]
 [3.6811e+04 2.6000e+01]
 [3.7411e+04 4.6000e+01]
 [3.8011e+04 1.4000e+01]
 [3.8611e+04 1.8000e+01]
 [3.9211e+04 1.0000e+01]
 [3.9811e+04 5.4000e+01]
 [4.0411e+04 2.4000e+01]
 [4.1011e+04 4.0000e+01]
 [4.1611e+04 5.0000e+01]
 [4.2211e+04 4.6000e+01]
 [4.2811e+04 3.0000e+01]
 [4.3411e+04 2.0000e+00]
 [4.4011e+04 0.0000e+00]
 [4.4611e+04 1.0000e+01]
 [4.5211e+04 4.8000e+01]
 [4.5811e+04 2.0000e+01]
 [4.6411e+04 3.0000e+01]
 [4.7011e+04 3.0000e+01]
 [4.7611e+04 5.0000e+01]
 [4.8211e+04 1.6000e+01]
 [4.8811e+04 1.6000e+01]
 [4.9411e+04 2.4000e+01]
 [5.0011e+04 7.4000e+01]
 [5.0611e+04 1.8000e+01]
 [5.1211e+04 3.2000e+01]
 [5.1811e+04 2.0000e+00]
 [5.2411e+04 0.0000e+00]
 [5.3011e+04 0.0000e+00]
 [5.3611e+04 0.0000e+00]
 [5.4211e+04 8.0000e+00]
 [5.4811e+04 3.0000e+01]
 [5.5411e+04 8.0000e+00]
 [5.6011e+04 1.0000e+01]
 [5.6611e+04 4.0000e+00]
 [5.7211e+04 2.0000e+00]
 [5.7811e+04 1.2000e+01]
 [5.8411e+04 3.0000e+01]
 [5.9011e+04 1.6000e+01]
 [5.9611e+04 1.2000e+01]
 [6.0211e+04 2.0000e+00]
 [6.0811e+04 0.0000e+00]
 [6.1411e+04 0.0000e+00]
 [6.2011e+04 0.0000e+00]
 [6.2611e+04 0.0000e+00]
 [6.3211e+04 0.0000e+00]
 [6.3811e+04 2.2000e+01]
 [6.4411e+04 3.6000e+01]
 [6.5011e+04 8.0000e+00]
 [6.5611e+04 1.6000e+01]
 [6.6211e+04 2.4000e+01]
 [6.6811e+04 0.0000e+00]
 [6.7411e+04 1.6000e+01]
 [6.8011e+04 0.0000e+00]
 [6.8611e+04 1.4000e+01]
 [6.9211e+04 4.6000e+01]
 [6.9811e+04 4.0000e+01]
 [7.0411e+04 6.4000e+01]
 [7.1011e+04 2.4000e+01]
 [7.1611e+04 2.4000e+01]
 [7.2211e+04 1.8000e+01]
 [7.2811e+04 0.0000e+00]
 [7.3411e+04 0.0000e+00]
 [7.4011e+04 0.0000e+00]
 [7.4611e+04 0.0000e+00]
 [7.5211e+04 0.0000e+00]
 [7.5811e+04 1.4000e+01]
 [7.6411e+04 2.0000e+00]
 [7.7011e+04 4.0000e+00]
 [7.7611e+04 1.8000e+01]]
Origin destination interval view
    time_in  time_out
0  21811.0   22411.0
1  23611.0   24211.0
2  29011.0   29611.0
3  32611.0   33211.0
4  44011.0   44611.0
5  52411.0   53011.0
6  60811.0   61411.0
7  66811.0   67411.0
8  68011.0   68611.0
9  72811.0   73411.0

OD bus stations of transactions:
         CardID LineCode       FDate   Time  plat Station
0    212671675        1  1398/06/23  21811  A148       2
1    212671675        1  1398/06/23  21811  A148       2
2    426167598        1  1398/06/23  21850  A148       2
3    426167598        1  1398/06/23  21850  A148       2
4   2741717316        1  1398/06/23  21888  A148       2
5   2741717316        1  1398/06/23  21888  A148       2
6   3446907884        1  1398/06/23  22194  A148       2
7   3446907884        1  1398/06/23  22194  A148       2
8    721932446        1  1398/06/23  29381  A148       4
9    721932446        1  1398/06/23  29381  A148       4
10     8194356        1  1398/06/23  29455  A148       4
11     8194356        1  1398/06/23  29455  A148       4
12  3405836005        1  1398/06/23  29459  A148       4
13  3405836005        1  1398/06/23  29459  A148       4
14  3207894708        1  1398/06/23  29460  A148       4
15  3207894708        1  1398/06/23  29460  A148       4
16  3405963852        1  1398/06/23  29511  A148       4
17  3405963852        1  1398/06/23  29511  A148       4
18  3678579180        1  1398/06/23  29550  A148       4
19  3678579180        1  1398/06/23  29550  A148       4
20  3256118269        1  1398/06/23  44478  A148       6
21  3256118269        1  1398/06/23  44478  A148       6
22  2500450196        1  1398/06/23  44521  A148       6
23  2500450196        1  1398/06/23  44521  A148       6
24  2500450196        1  1398/06/23  44539  A148       6
25  2500450196        1  1398/06/23  44539  A148       6
26  3256118269        1  1398/06/23  44557  A148       6
27  3256118269        1  1398/06/23  44557  A148       6
28  3208569092        1  1398/06/23  44608  A148       6
29  3208569092        1  1398/06/23  44608  A148       6
30  1831436285        1  1398/06/23  66812  A148       9
31  1831436285        1  1398/06/23  66812  A148       9
32   261742385        1  1398/06/23  66841  A148       9
33   261742385        1  1398/06/23  66841  A148       9
34   261742385        1  1398/06/23  66842  A148       9
35   261742385        1  1398/06/23  66842  A148       9
36  1592714756        1  1398/06/23  66998  A148       9
37  1592714756        1  1398/06/23  66998  A148       9
38  1592714756        1  1398/06/23  67000  A148       9
39  1592714756        1  1398/06/23  67000  A148       9
40  3648982148        1  1398/06/23  67001  A148       9
41  3648982148        1  1398/06/23  67001  A148       9
42  3648982148        1  1398/06/23  67004  A148       9
43  3648982148        1  1398/06/23  67004  A148       9
44  2123598084        1  1398/06/23  67152  A148       9
45  2123598084        1  1398/06/23  67152  A148       9
46  3792548012        1  1398/06/23  68360  A148      10
47  3792548012        1  1398/06/23  68360  A148      10
48  1527873534        1  1398/06/23  68373  A148      10
49  1527873534        1  1398/06/23  68373  A148      10
50   869398503        1  1398/06/23  68405  A148      10
51   869398503        1  1398/06/23  68405  A148      10
52   869398503        1  1398/06/23  68406  A148      10
53   869398503        1  1398/06/23  68406  A148      10
54   869398503        1  1398/06/23  68408  A148      10
55   869398503        1  1398/06/23  68408  A148      10
56   869398503        1  1398/06/23  68409  A148      10
57   869398503        1  1398/06/23  68409  A148      10
58  1836298589        1  1398/06/23  68595  A148      10
59  1836298589        1  1398/06/23  68595  A148      10
time_start time_stop 22411.0 23611.0
df_bus_partial :
        CardID LineCode       FDate   Time  plat
0  2044557086        1  1398/06/23  22444  A148
1  2044557086        1  1398/06/23  22444  A148
2  3997259316        1  1398/06/23  22602  A148
3  3997259316        1  1398/06/23  22602  A148
time_start time_stop 24211.0 29011.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0     426317438        1  1398/06/23  25810  A148
1     426317438        1  1398/06/23  25810  A148
2     869458586        1  1398/06/23  25816  A148
3    3258060013        1  1398/06/23  25816  A148
4    3258060013        1  1398/06/23  25816  A148
..          ...      ...         ...    ...   ...
131  3209686404        1  1398/06/23  28054  A148
132  3793530620        1  1398/06/23  28118  A148
133  3793530620        1  1398/06/23  28118  A148
134  2742417028        1  1398/06/23  28198  A148
135  2742417028        1  1398/06/23  28198  A148

[136 rows x 5 columns]
time_start time_stop 29611.0 32611.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0    722002745        1  1398/06/23  29713  A148
1    722002745        1  1398/06/23  29713  A148
2   3181087054        1  1398/06/23  29883  A148
3   3181087054        1  1398/06/23  29883  A148
4    261495729        1  1398/06/23  29885  A148
..         ...      ...         ...    ...   ...
79   722206394        1  1398/06/23  31870  A148
80   722206394        1  1398/06/23  31872  A148
81   722206394        1  1398/06/23  31872  A148
82   361275572        1  1398/06/23  31941  A148
83   361275572        1  1398/06/23  31941  A148

[84 rows x 5 columns]
time_start time_stop 33211.0 44011.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    3181142334        1  1398/06/23  34670  A148
1    3181142334        1  1398/06/23  34670  A148
2     233543770        1  1398/06/23  34695  A148
3     233543770        1  1398/06/23  34695  A148
4     233543770        1  1398/06/23  34697  A148
..          ...      ...         ...    ...   ...
477   722027212        1  1398/06/23  42807  A148
478   722027212        1  1398/06/23  42808  A148
479   722027212        1  1398/06/23  42808  A148
480  3152188142        1  1398/06/23  42894  A148
481  3152188142        1  1398/06/23  42894  A148

[482 rows x 5 columns]
time_start time_stop 44611.0 52411.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0     261517089        1  1398/06/23  44720  A148
1     261517089        1  1398/06/23  44720  A148
2    3180628798        1  1398/06/23  44731  A148
3    3180628798        1  1398/06/23  44731  A148
4     869425527        1  1398/06/23  44879  A148
..          ...      ...         ...    ...   ...
355   722188695        1  1398/06/23  51174  A148
356   722188695        1  1398/06/23  51175  A148
357   722188695        1  1398/06/23  51175  A148
358  3257409261        1  1398/06/23  51305  A148
359  3257409261        1  1398/06/23  51305  A148

[360 rows x 5 columns]
time_start time_stop 53011.0 60811.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    1001609102        1  1398/06/23  53916  A148
1    1001609102        1  1398/06/23  53916  A148
2    4240952311        1  1398/06/23  54101  A148
3    4240952311        1  1398/06/23  54101  A148
4    3104649662        1  1398/06/23  54116  A148
..          ...      ...         ...    ...   ...
129  3152462414        1  1398/06/23  59514  A148
130  2124872724        1  1398/06/23  59608  A148
131  2124872724        1  1398/06/23  59608  A148
132  2961929781        1  1398/06/23  59784  A148
133  2961929781        1  1398/06/23  59784  A148

[134 rows x 5 columns]
time_start time_stop 61411.0 66811.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    1001287422        1  1398/06/23  63508  A148
1    1001287422        1  1398/06/23  63508  A148
2    1001287422        1  1398/06/23  63509  A148
3    1001287422        1  1398/06/23  63509  A148
4     203071804        1  1398/06/23  63515  A148
..          ...      ...         ...    ...   ...
101  4059266269        1  1398/06/23  66172  A148
102  3208837700        1  1398/06/23  66175  A148
103  3631570396        1  1398/06/23  66175  A148
104  3208837700        1  1398/06/23  66175  A148
105  3631570396        1  1398/06/23  66175  A148

[106 rows x 5 columns]
time_start time_stop 67411.0 68011.0
df_bus_partial :
 Empty DataFrame
Columns: [CardID, LineCode, FDate, Time, plat]
Index: []
time_start time_stop 68611.0 72811.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    1764894068        1  1398/06/23  68722  A148
1    1764894068        1  1398/06/23  68722  A148
2    1845237556        1  1398/06/23  68804  A148
3    1845237556        1  1398/06/23  68804  A148
4     721937954        1  1398/06/23  68835  A148
..          ...      ...         ...    ...   ...
211   721968960        1  1398/06/23  71788  A148
212  3152288654        1  1398/06/23  71877  A148
213  3152288654        1  1398/06/23  71877  A148
214  2742453508        1  1398/06/23  71951  A148
215  2742453508        1  1398/06/23  71951  A148

[216 rows x 5 columns]
transactions in line 1 plat A34
          CardID  LineCode       FDate   Time plat
3466  3254533261         1  1398/06/23  21100  A34
3467  3254533261         1  1398/06/23  21100  A34
3468  2499836756         1  1398/06/23  21379  A34
3469  2499836756         1  1398/06/23  21379  A34
3470  2672251844         1  1398/06/23  21516  A34
...          ...       ...         ...    ...  ...
4983  2855839198         1  1398/06/23  74899  A34
4984  3678152956         1  1398/06/23  75187  A34
4985  3678152956         1  1398/06/23  75187  A34
4986  3678152956         1  1398/06/23  75189  A34
4987  3678152956         1  1398/06/23  75189  A34

[1522 rows x 5 columns]
first row of the selected chunck :
 [3254533261 1 '1398/06/23' 21100 'A34']
1522
t0 = 21100
ts = 75189
time_intervals 90
10min interval view
 for line 1 plat A34
 [[2.11e+04 0.00e+00]
 [2.17e+04 5.00e+00]
 [2.23e+04 8.00e+00]
 [2.29e+04 0.00e+00]
 [2.35e+04 0.00e+00]
 [2.41e+04 0.00e+00]
 [2.47e+04 0.00e+00]
 [2.53e+04 1.80e+01]
 [2.59e+04 4.20e+01]
 [2.65e+04 2.20e+01]
 [2.71e+04 1.00e+01]
 [2.77e+04 0.00e+00]
 [2.83e+04 0.00e+00]
 [2.89e+04 2.40e+01]
 [2.95e+04 1.20e+01]
 [3.01e+04 1.80e+01]
 [3.07e+04 2.80e+01]
 [3.13e+04 2.00e+00]
 [3.19e+04 0.00e+00]
 [3.25e+04 0.00e+00]
 [3.31e+04 0.00e+00]
 [3.37e+04 2.20e+01]
 [3.43e+04 7.00e+01]
 [3.49e+04 5.20e+01]
 [3.55e+04 4.20e+01]
 [3.61e+04 1.60e+01]
 [3.67e+04 8.00e+00]
 [3.73e+04 0.00e+00]
 [3.79e+04 0.00e+00]
 [3.85e+04 2.60e+01]
 [3.91e+04 4.60e+01]
 [3.97e+04 3.60e+01]
 [4.03e+04 5.40e+01]
 [4.09e+04 2.80e+01]
 [4.15e+04 3.40e+01]
 [4.21e+04 4.00e+00]
 [4.27e+04 0.00e+00]
 [4.33e+04 0.00e+00]
 [4.39e+04 0.00e+00]
 [4.45e+04 0.00e+00]
 [4.51e+04 0.00e+00]
 [4.57e+04 0.00e+00]
 [4.63e+04 0.00e+00]
 [4.69e+04 4.00e+01]
 [4.75e+04 3.00e+01]
 [4.81e+04 1.20e+01]
 [4.87e+04 2.60e+01]
 [4.93e+04 4.00e+00]
 [4.99e+04 3.60e+01]
 [5.05e+04 2.60e+01]
 [5.11e+04 2.00e+01]
 [5.17e+04 1.00e+01]
 [5.23e+04 0.00e+00]
 [5.29e+04 4.00e+00]
 [5.35e+04 1.80e+01]
 [5.41e+04 6.00e+00]
 [5.47e+04 0.00e+00]
 [5.53e+04 0.00e+00]
 [5.59e+04 0.00e+00]
 [5.65e+04 2.80e+01]
 [5.71e+04 2.60e+01]
 [5.77e+04 1.60e+01]
 [5.83e+04 1.80e+01]
 [5.89e+04 0.00e+00]
 [5.95e+04 0.00e+00]
 [6.01e+04 0.00e+00]
 [6.07e+04 0.00e+00]
 [6.13e+04 0.00e+00]
 [6.19e+04 0.00e+00]
 [6.25e+04 1.60e+01]
 [6.31e+04 4.60e+01]
 [6.37e+04 5.20e+01]
 [6.43e+04 4.00e+01]
 [6.49e+04 1.40e+01]
 [6.55e+04 1.00e+01]
 [6.61e+04 8.00e+00]
 [6.67e+04 1.40e+01]
 [6.73e+04 4.00e+01]
 [6.79e+04 3.80e+01]
 [6.85e+04 3.80e+01]
 [6.91e+04 5.20e+01]
 [6.97e+04 3.60e+01]
 [7.03e+04 2.40e+01]
 [7.09e+04 4.00e+00]
 [7.15e+04 0.00e+00]
 [7.21e+04 2.40e+01]
 [7.27e+04 4.80e+01]
 [7.33e+04 1.40e+01]
 [7.39e+04 1.60e+01]
 [7.45e+04 2.80e+01]]
Origin destination interval view
    time_in  time_out
0  21100.0   21700.0
1  22900.0   23500.0
2  27700.0   28300.0
3  31900.0   32500.0
4  37300.0   37900.0
5  42700.0   43300.0
6  52300.0   52900.0
7  54700.0   55300.0
8  58900.0   59500.0
9  71500.0   72100.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3254533261        1  1398/06/23  21100  A34       2
1   3254533261        1  1398/06/23  21100  A34       2
2   2499836756        1  1398/06/23  21379  A34       2
3   2499836756        1  1398/06/23  21379  A34       2
4   2672251844        1  1398/06/23  21516  A34       2
5   2672251844        1  1398/06/23  21516  A34       2
6    181815526        1  1398/06/23  52702  A34       8
7    181815526        1  1398/06/23  52702  A34       8
8    710482997        1  1398/06/23  52868  A34       8
9    710482997        1  1398/06/23  52868  A34       8
10   722125525        1  1398/06/23  71802  A34      11
11   722125525        1  1398/06/23  71802  A34      11
12   722125525        1  1398/06/23  71804  A34      11
13   722125525        1  1398/06/23  71804  A34      11
14  2039349402        1  1398/06/23  71808  A34      11
15  2039349402        1  1398/06/23  71808  A34      11
16  2742512068        1  1398/06/23  71810  A34      11
17  2039349402        1  1398/06/23  71810  A34      11
18  2742512068        1  1398/06/23  71810  A34      11
19  2039349402        1  1398/06/23  71810  A34      11
20  2742512068        1  1398/06/23  71811  A34      11
21  2742512068        1  1398/06/23  71811  A34      11
22   362181636        1  1398/06/23  71813  A34      11
23   362181636        1  1398/06/23  71813  A34      11
24  3152855710        1  1398/06/23  71819  A34      11
25  3152855710        1  1398/06/23  71819  A34      11
26   737781184        1  1398/06/23  71854  A34      11
27   737781184        1  1398/06/23  71854  A34      11
28   721938930        1  1398/06/23  71923  A34      11
29   721938930        1  1398/06/23  71923  A34      11
30  1093759220        1  1398/06/23  72095  A34      11
31  1093759220        1  1398/06/23  72095  A34      11
32  3202170164        1  1398/06/23  72099  A34      11

33  3202170164        1  1398/06/23  72099  A34      11
time_start time_stop 21700.0 22900.0
df_bus_partial :
        CardID LineCode       FDate   Time plat
0  2743407620        1  1398/06/23  21807  A34
1  2743407620        1  1398/06/23  21807  A34
2  3151648462        1  1398/06/23  21808  A34
3  3151648462        1  1398/06/23  21808  A34
4   233570410        1  1398/06/23  21905  A34
5   233570410        1  1398/06/23  21905  A34
6  2049418066        1  1398/06/23  22230  A34
7  2049418066        1  1398/06/23  22230  A34
time_start time_stop 23500.0 27700.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3678775052        1  1398/06/23  24898  A34
1   3678775052        1  1398/06/23  24898  A34
2    257151153        1  1398/06/23  24918  A34
3    257151153        1  1398/06/23  24918  A34
4   2122381700        1  1398/06/23  24930  A34
..         ...      ...         ...    ...  ...
87   721938956        1  1398/06/23  26752  A34
88  2741219652        1  1398/06/23  26795  A34
89  2741219652        1  1398/06/23  26795  A34
90  1833177005        1  1398/06/23  27030  A34
91  1833177005        1  1398/06/23  27030  A34

[92 rows x 5 columns]
time_start time_stop 28300.0 31900.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2229164291        1  1398/06/23  28319  A34
1   2229164291        1  1398/06/23  28319  A34
2   1292515038        1  1398/06/23  28325  A34
3   1292515038        1  1398/06/23  28325  A34
4   3405959994        1  1398/06/23  28330  A34
..         ...      ...         ...    ...  ...
79  3558258401        1  1398/06/23  30495  A34
80  4057328029        1  1398/06/23  30496  A34
81  4057328029        1  1398/06/23  30496  A34
82   721979470        1  1398/06/23  30744  A34
83   721979470        1  1398/06/23  30744  A34

[84 rows x 5 columns]
time_start time_stop 32500.0 37300.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    4265561938        1  1398/06/23  33440  A34
1    4265561938        1  1398/06/23  33440  A34
2     981290795        1  1398/06/23  33472  A34
3     981290795        1  1398/06/23  33472  A34
4     981290795        1  1398/06/23  33473  A34
..          ...      ...         ...    ...  ...
205  3154261054        1  1398/06/23  36381  A34
206  3207307589        1  1398/06/23  36384  A34
207  3207307589        1  1398/06/23  36384  A34
208  3792300860        1  1398/06/23  36465  A34
209  3792300860        1  1398/06/23  36465  A34

[210 rows x 5 columns]
time_start time_stop 37900.0 42700.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3678763084        1  1398/06/23  37975  A34
1     722234688        1  1398/06/23  37975  A34
2     722234688        1  1398/06/23  37975  A34
3    3678763084        1  1398/06/23  37975  A34
4    3678763084        1  1398/06/23  37977  A34
..          ...      ...         ...    ...  ...
223  3258303325        1  1398/06/23  41361  A34
224  3150896478        1  1398/06/23  41525  A34
225  3150896478        1  1398/06/23  41525  A34
226  2680566494        1  1398/06/23  41667  A34
227  2680566494        1  1398/06/23  41667  A34

[228 rows x 5 columns]
time_start time_stop 43300.0 52300.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     869459594        1  1398/06/23  46334  A34
1     869459594        1  1398/06/23  46334  A34
2    3679839420        1  1398/06/23  46337  A34
3    3679839420        1  1398/06/23  46337  A34
4    3179643534        1  1398/06/23  46339  A34
..          ...      ...         ...    ...  ...
199  3632302268        1  1398/06/23  51307  A34
200  1958332228        1  1398/06/23  51309  A34
201  1958332228        1  1398/06/23  51309  A34
202  2855934286        1  1398/06/23  51312  A34
203  2855934286        1  1398/06/23  51312  A34

[204 rows x 5 columns]
time_start time_stop 52900.0 54700.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    981231787        1  1398/06/23  53065  A34
1    981231787        1  1398/06/23  53065  A34
2    181938020        1  1398/06/23  53097  A34
3    181938020        1  1398/06/23  53097  A34
4    181938020        1  1398/06/23  53098  A34
5    181938020        1  1398/06/23  53098  A34
6   3206601100        1  1398/06/23  53258  A34
7   3206601100        1  1398/06/23  53258  A34
8   4270822914        1  1398/06/23  53364  A34
9   4270822914        1  1398/06/23  53364  A34
10   262396801        1  1398/06/23  53367  A34
11   262396801        1  1398/06/23  53367  A34
12  3256291661        1  1398/06/23  53386  A34
13  3256291661        1  1398/06/23  53386  A34
14  3405778345        1  1398/06/23  53426  A34
15  3405778345        1  1398/06/23  53426  A34
16  3405778345        1  1398/06/23  53432  A34
17  3405778345        1  1398/06/23  53432  A34
18   183411638        1  1398/06/23  53587  A34
19   183411638        1  1398/06/23  53587  A34
20   183411638        1  1398/06/23  53588  A34
21   183411638        1  1398/06/23  53588  A34
22   428719166        1  1398/06/23  54097  A34
23   428719166        1  1398/06/23  54097  A34
time_start time_stop 55300.0 58900.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3206072740        1  1398/06/23  56078  A34
1   3206072740        1  1398/06/23  56078  A34
2   3206072740        1  1398/06/23  56079  A34
3   3206072740        1  1398/06/23  56079  A34
4   2621769436        1  1398/06/23  56109  A34
..         ...      ...         ...    ...  ...
83  3206647516        1  1398/06/23  58078  A34
84  3206647516        1  1398/06/23  58254  A34
85  3206647516        1  1398/06/23  58254  A34
86  1003688919        1  1398/06/23  58274  A34
87  1003688919        1  1398/06/23  58274  A34

[88 rows x 5 columns]
time_start time_stop 59500.0 71500.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     184188806        1  1398/06/23  62282  A34
1     184188806        1  1398/06/23  62282  A34
2    3405884402        1  1398/06/23  62298  A34
3    3405884402        1  1398/06/23  62298  A34
4    1833384109        1  1398/06/23  62375  A34
..          ...      ...         ...    ...  ...
427  2505035236        1  1398/06/23  70281  A34
428   262668353        1  1398/06/23  70401  A34
429   262668353        1  1398/06/23  70401  A34
430  2239147470        1  1398/06/23  70523  A34
431  2239147470        1  1398/06/23  70523  A34

[432 rows x 5 columns]
transactions in line 1 plat B25
          CardID  LineCode       FDate   Time plat
4988  3405857235         1  1398/06/23  24232  B25
4989  3405857235         1  1398/06/23  24232  B25
4990   262238401         1  1398/06/23  24235  B25
4991   262238401         1  1398/06/23  24235  B25
4992  3792608284         1  1398/06/23  24237  B25
4993  3792608284         1  1398/06/23  24237  B25
4994  1001217566         1  1398/06/23  24260  B25
4995  1001217566         1  1398/06/23  24260  B25
4996  3258005613         1  1398/06/23  24264  B25
4997  3258005613         1  1398/06/23  24264  B25
4998  3446716236         1  1398/06/23  24314  B25
4999  3446716236         1  1398/06/23  24314  B25
5000  4059318045         1  1398/06/23  24332  B25
5001  4059318045         1  1398/06/23  24332  B25
5002   212456011         1  1398/06/23  24359  B25
5003   212456011         1  1398/06/23  24359  B25
5004   537939870         1  1398/06/23  24520  B25
5005   537939870         1  1398/06/23  24520  B25
5006  3996810372         1  1398/06/23  24525  B25
5007  3996810372         1  1398/06/23  24525  B25
5008  3794217068         1  1398/06/23  24586  B25
5009  3794217068         1  1398/06/23  24586  B25
5010   234290778         1  1398/06/23  24629  B25
5011   234290778         1  1398/06/23  24629  B25
5012  2740601460         1  1398/06/23  24641  B25
5013  2740601460         1  1398/06/23  24641  B25
5014  2497977524         1  1398/06/23  24643  B25
5015  2497977524         1  1398/06/23  24643  B25
5016  3648975444         1  1398/06/23  24646  B25
5017  3648975444         1  1398/06/23  24646  B25
5018  2125830612         1  1398/06/23  24978  B25
5019  2125830612         1  1398/06/23  24978  B25
5020  3680292124         1  1398/06/23  25403  B25
5021  3680292124         1  1398/06/23  25403  B25
5022  2115521716         1  1398/06/23  25517  B25
5023  2115521716         1  1398/06/23  25517  B25
5024   980735675         1  1398/06/23  25795  B25
5025   980735675         1  1398/06/23  25795  B25
5026  1528046382         1  1398/06/23  27458  B25
5027  1528046382         1  1398/06/23  27458  B25
5028   722133212         1  1398/06/23  27459  B25
5029   722133212         1  1398/06/23  27459  B25
5030  1291390174         1  1398/06/23  27470  B25
5031  1291390174         1  1398/06/23  27470  B25
5032  1371741102         1  1398/06/23  27474  B25
5033  1371741102         1  1398/06/23  27474  B25
5034  4276487330         1  1398/06/23  27476  B25
5035  4276487330         1  1398/06/23  27476  B25
first row of the selected chunck :
 [3405857235 1 '1398/06/23' 24232 'B25']
48
t0 = 24232
ts = 27476
time_intervals 5
10min interval view
 for line 1 plat B25
 [[2.4232e+04 0.0000e+00]
 [2.4832e+04 2.9000e+01]
 [2.5432e+04 4.0000e+00]
 [2.6032e+04 4.0000e+00]
 [2.6632e+04 0.0000e+00]]
Origin destination interval view
    time_in  time_out
0  24232.0   24832.0
1  26632.0   27232.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3405857235        1  1398/06/23  24232  B25       2
1   3405857235        1  1398/06/23  24232  B25       2
2    262238401        1  1398/06/23  24235  B25       2
3    262238401        1  1398/06/23  24235  B25       2
4   3792608284        1  1398/06/23  24237  B25       2
5   3792608284        1  1398/06/23  24237  B25       2
6   1001217566        1  1398/06/23  24260  B25       2
7   1001217566        1  1398/06/23  24260  B25       2
8   3258005613        1  1398/06/23  24264  B25       2
9   3258005613        1  1398/06/23  24264  B25       2
10  3446716236        1  1398/06/23  24314  B25       2
11  3446716236        1  1398/06/23  24314  B25       2
12  4059318045        1  1398/06/23  24332  B25       2
13  4059318045        1  1398/06/23  24332  B25       2
14   212456011        1  1398/06/23  24359  B25       2
15   212456011        1  1398/06/23  24359  B25       2
16   537939870        1  1398/06/23  24520  B25       2
17   537939870        1  1398/06/23  24520  B25       2
18  3996810372        1  1398/06/23  24525  B25       2
19  3996810372        1  1398/06/23  24525  B25       2
20  3794217068        1  1398/06/23  24586  B25       2
21  3794217068        1  1398/06/23  24586  B25       2
22   234290778        1  1398/06/23  24629  B25       2
23   234290778        1  1398/06/23  24629  B25       2
24  2740601460        1  1398/06/23  24641  B25       2
25  2740601460        1  1398/06/23  24641  B25       2
26  2497977524        1  1398/06/23  24643  B25       2
27  2497977524        1  1398/06/23  24643  B25       2
28  3648975444        1  1398/06/23  24646  B25       2
29  3648975444        1  1398/06/23  24646  B25       2
time_start time_stop 24832.0 26632.0

df_bus_partial :
        CardID LineCode       FDate   Time plat
0  2125830612        1  1398/06/23  24978  B25
1  2125830612        1  1398/06/23  24978  B25
2  3680292124        1  1398/06/23  25403  B25
3  3680292124        1  1398/06/23  25403  B25
4  2115521716        1  1398/06/23  25517  B25
5  2115521716        1  1398/06/23  25517  B25
6   980735675        1  1398/06/23  25795  B25
7   980735675        1  1398/06/23  25795  B25
transactions in line 1 plat C16
          CardID  LineCode       FDate   Time plat
5036   722090946         1  1398/06/23  21377  C16
5037   722090946         1  1398/06/23  21377  C16
5038  2117203508         1  1398/06/23  21389  C16
5039  2117203508         1  1398/06/23  21389  C16
5040  2680053934         1  1398/06/23  21532  C16
...          ...       ...         ...    ...  ...
5679  3701415973         1  1398/06/23  74329  C16
5680  3701415973         1  1398/06/23  74330  C16
5681  3701415973         1  1398/06/23  74330  C16
5682  1368123646         1  1398/06/23  77137  C16
5683  1368123646         1  1398/06/23  77137  C16

[648 rows x 5 columns]
first row of the selected chunck :
 [722090946 1 '1398/06/23' 21377 'C16']
648
t0 = 21377
ts = 77137
time_intervals 93
10min interval view
 for line 1 plat C16
 [[2.1377e+04 0.0000e+00]
 [2.1977e+04 1.3000e+01]
 [2.2577e+04 2.0000e+00]
 [2.3177e+04 0.0000e+00]
 [2.3777e+04 0.0000e+00]
 [2.4377e+04 0.0000e+00]
 [2.4977e+04 1.0000e+01]
 [2.5577e+04 2.0000e+01]
 [2.6177e+04 4.0000e+00]
 [2.6777e+04 6.0000e+00]
 [2.7377e+04 0.0000e+00]
 [2.7977e+04 0.0000e+00]
 [2.8577e+04 4.2000e+01]
 [2.9177e+04 3.4000e+01]
 [2.9777e+04 0.0000e+00]
 [3.0377e+04 0.0000e+00]
 [3.0977e+04 0.0000e+00]
 [3.1577e+04 0.0000e+00]
 [3.2177e+04 0.0000e+00]
 [3.2777e+04 0.0000e+00]
 [3.3377e+04 0.0000e+00]
 [3.3977e+04 0.0000e+00]
 [3.4577e+04 0.0000e+00]
 [3.5177e+04 0.0000e+00]
 [3.5777e+04 0.0000e+00]
 [3.6377e+04 0.0000e+00]
 [3.6977e+04 0.0000e+00]
 [3.7577e+04 0.0000e+00]
 [3.8177e+04 0.0000e+00]
 [3.8777e+04 0.0000e+00]
 [3.9377e+04 0.0000e+00]
 [3.9977e+04 0.0000e+00]
 [4.0577e+04 0.0000e+00]
 [4.1177e+04 0.0000e+00]
 [4.1777e+04 0.0000e+00]
 [4.2377e+04 0.0000e+00]
 [4.2977e+04 0.0000e+00]
 [4.3577e+04 0.0000e+00]
 [4.4177e+04 0.0000e+00]
 [4.4777e+04 0.0000e+00]
 [4.5377e+04 0.0000e+00]
 [4.5977e+04 0.0000e+00]
 [4.6577e+04 0.0000e+00]
 [4.7177e+04 0.0000e+00]
 [4.7777e+04 0.0000e+00]
 [4.8377e+04 0.0000e+00]
 [4.8977e+04 0.0000e+00]
 [4.9577e+04 0.0000e+00]
 [5.0177e+04 0.0000e+00]
 [5.0777e+04 0.0000e+00]
 [5.1377e+04 0.0000e+00]
 [5.1977e+04 0.0000e+00]
 [5.2577e+04 0.0000e+00]
 [5.3177e+04 0.0000e+00]
 [5.3777e+04 0.0000e+00]
 [5.4377e+04 0.0000e+00]
 [5.4977e+04 0.0000e+00]
 [5.5577e+04 0.0000e+00]
 [5.6177e+04 0.0000e+00]
 [5.6777e+04 0.0000e+00]
 [5.7377e+04 0.0000e+00]
 [5.7977e+04 0.0000e+00]
 [5.8577e+04 0.0000e+00]
 [5.9177e+04 0.0000e+00]
 [5.9777e+04 0.0000e+00]
 [6.0377e+04 0.0000e+00]
 [6.0977e+04 2.4000e+01]
 [6.1577e+04 2.2000e+01]
 [6.2177e+04 1.2000e+01]
 [6.2777e+04 2.0000e+00]
 [6.3377e+04 0.0000e+00]
 [6.3977e+04 0.0000e+00]
 [6.4577e+04 0.0000e+00]
 [6.5177e+04 0.0000e+00]
 [6.5777e+04 1.0000e+01]
 [6.6377e+04 2.4000e+01]
 [6.6977e+04 5.8000e+01]
 [6.7577e+04 3.2000e+01]
 [6.8177e+04 2.4000e+01]
 [6.8777e+04 4.0000e+01]
 [6.9377e+04 2.0000e+00]
 [6.9977e+04 0.0000e+00]
 [7.0577e+04 0.0000e+00]
 [7.1177e+04 1.0000e+01]
 [7.1777e+04 5.8000e+01]
 [7.2377e+04 4.0000e+01]
 [7.2977e+04 5.4000e+01]
 [7.3577e+04 5.0000e+01]
 [7.4177e+04 2.8000e+01]
 [7.4777e+04 2.4000e+01]
 [7.5377e+04 0.0000e+00]
 [7.5977e+04 0.0000e+00]
 [7.6577e+04 0.0000e+00]]
Origin destination interval view
    time_in  time_out
0  21377.0   21977.0
1  23177.0   23777.0
2  27377.0   27977.0
3  29777.0   30377.0
4  63377.0   63977.0
5  69977.0   70577.0
6  75377.0   75977.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    722090946        1  1398/06/23  21377  C16       2
1    722090946        1  1398/06/23  21377  C16       2
2   2117203508        1  1398/06/23  21389  C16       2
3   2117203508        1  1398/06/23  21389  C16       2
4   2680053934        1  1398/06/23  21532  C16       2
5   2680053934        1  1398/06/23  21532  C16       2
6   2124941188        1  1398/06/23  21872  C16       2
7   2124941188        1  1398/06/23  21872  C16       2
8   1528649022        1  1398/06/23  21874  C16       2
9   1528649022        1  1398/06/23  21874  C16       2
10   212337004        1  1398/06/23  21911  C16       2
11   212337004        1  1398/06/23  21911  C16       2
12  2123505492        1  1398/06/23  21913  C16       2
13  2123505492        1  1398/06/23  21913  C16       2
time_start time_stop 21977.0 23177.0
df_bus_partial :
        CardID LineCode       FDate   Time plat
0  2138368061        1  1398/06/23  22008  C16
1  2138368061        1  1398/06/23  22008  C16
time_start time_stop 23777.0 27377.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3792026972        1  1398/06/23  24519  C16
1   3792026972        1  1398/06/23  24519  C16
2    869442828        1  1398/06/23  24565  C16
3    869442828        1  1398/06/23  24565  C16
4    722214742        1  1398/06/23  24601  C16
5    722214742        1  1398/06/23  24601  C16
6   3183170606        1  1398/06/23  24712  C16
7   3183170606        1  1398/06/23  24712  C16
8   3630510508        1  1398/06/23  24772  C16
9   3630510508        1  1398/06/23  24772  C16
10  2044923534        1  1398/06/23  25029  C16
11  2044923534        1  1398/06/23  25029  C16
12   343062692        1  1398/06/23  25100  C16
13   343062692        1  1398/06/23  25100  C16
14  1944196997        1  1398/06/23  25108  C16
15  1944196997        1  1398/06/23  25108  C16
16  3211506388        1  1398/06/23  25178  C16
17  3211506388        1  1398/06/23  25178  C16
18  3211506388        1  1398/06/23  25179  C16
19  3211506388        1  1398/06/23  25179  C16
20   983696571        1  1398/06/23  25184  C16
21   983696571        1  1398/06/23  25184  C16
22  1835758557        1  1398/06/23  25234  C16
23  1835758557        1  1398/06/23  25234  C16
24  1002165159        1  1398/06/23  25437  C16
25  1002165159        1  1398/06/23  25437  C16
26   981263643        1  1398/06/23  25476  C16
27   981263643        1  1398/06/23  25476  C16
28   869365619        1  1398/06/23  25478  C16
29   869365619        1  1398/06/23  25478  C16
30  3547393636        1  1398/06/23  25578  C16
31  3547393636        1  1398/06/23  25578  C16
32  3107363509        1  1398/06/23  25582  C16
33  3107363509        1  1398/06/23  25582  C16
34   722093142        1  1398/06/23  26259  C16
35   722093142        1  1398/06/23  26259  C16
36  3650336804        1  1398/06/23  26265  C16
37  3650336804        1  1398/06/23  26265  C16
38   737207232        1  1398/06/23  26432  C16
39   737207232        1  1398/06/23  26432  C16
time_start time_stop 27977.0 29777.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1832647869        1  1398/06/23  28131  C16
1   1832647869        1  1398/06/23  28131  C16
2   2239165765        1  1398/06/23  28181  C16
3   2239165765        1  1398/06/23  28181  C16
4   2122964020        1  1398/06/23  28202  C16
..         ...      ...         ...    ...  ...
71  1524902612        1  1398/06/23  28599  C16
72  1782169844        1  1398/06/23  28600  C16
73  1782169844        1  1398/06/23  28600  C16
74  1598567700        1  1398/06/23  28602  C16
75  1598567700        1  1398/06/23  28602  C16

[76 rows x 5 columns]
time_start time_stop 30377.0 63377.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   4058375165        1  1398/06/23  60428  C16
1   4058375165        1  1398/06/23  60428  C16
2   4275106514        1  1398/06/23  60433  C16
3   4275106514        1  1398/06/23  60433  C16
4   3180373134        1  1398/06/23  60457  C16
5   3180373134        1  1398/06/23  60457  C16
6    721790998        1  1398/06/23  60524  C16
7    721790998        1  1398/06/23  60524  C16
8   2230787619        1  1398/06/23  60570  C16
9   2230787619        1  1398/06/23  60570  C16
10   996526030        1  1398/06/23  60574  C16
11   996526030        1  1398/06/23  60574  C16
12  3257493277        1  1398/06/23  60585  C16
13  3257493277        1  1398/06/23  60585  C16
14  3700637749        1  1398/06/23  60627  C16
15  3700637749        1  1398/06/23  60627  C16
16  3977321124        1  1398/06/23  60711  C16
17  3977321124        1  1398/06/23  60711  C16
18  3792875548        1  1398/06/23  60841  C16
19  3792875548        1  1398/06/23  60841  C16
20  3632282812        1  1398/06/23  60879  C16
21  3632282812        1  1398/06/23  60879  C16
22  2504958948        1  1398/06/23  60938  C16
23  2504958948        1  1398/06/23  60938  C16
24   235220474        1  1398/06/23  60983  C16
25   235220474        1  1398/06/23  60983  C16
26   473741562        1  1398/06/23  60988  C16
27   473741562        1  1398/06/23  60988  C16
28   722010097        1  1398/06/23  61140  C16
29   722010097        1  1398/06/23  61140  C16
30  1368369278        1  1398/06/23  61146  C16
31  1368369278        1  1398/06/23  61146  C16
32  3150594126        1  1398/06/23  61198  C16
33  3150594126        1  1398/06/23  61198  C16
34   361082916        1  1398/06/23  61201  C16
35   361082916        1  1398/06/23  61201  C16
36   982474971        1  1398/06/23  61206  C16
37   982474971        1  1398/06/23  61206  C16
38   212395676        1  1398/06/23  61207  C16
39   212395676        1  1398/06/23  61207  C16
40   212395676        1  1398/06/23  61208  C16
41   212395676        1  1398/06/23  61208  C16
42   262279569        1  1398/06/23  61353  C16
43   262279569        1  1398/06/23  61353  C16
44  3258327325        1  1398/06/23  61477  C16
45  3258327325        1  1398/06/23  61477  C16
46  2239171815        1  1398/06/23  61652  C16
47  2239171815        1  1398/06/23  61652  C16
48   209428427        1  1398/06/23  61760  C16
49   209428427        1  1398/06/23  61760  C16
50   183343862        1  1398/06/23  61836  C16
51   183343862        1  1398/06/23  61836  C16
52  4058932589        1  1398/06/23  61837  C16
53  4058932589        1  1398/06/23  61837  C16
54  2541396686        1  1398/06/23  61972  C16
55  2541396686        1  1398/06/23  61972  C16
56  3758253541        1  1398/06/23  61980  C16
57  3758253541        1  1398/06/23  61980  C16
58  1957795460        1  1398/06/23  62369  C16
59  1957795460        1  1398/06/23  62369  C16
time_start time_stop 63977.0 69977.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0     869340886        1  1398/06/23  65474  C16
1     869340886        1  1398/06/23  65474  C16
2    2671871076        1  1398/06/23  65569  C16
3    2671871076        1  1398/06/23  65569  C16
4    2671871076        1  1398/06/23  65570  C16
..          ...      ...         ...    ...  ...
185  1788735204        1  1398/06/23  68618  C16
186  2741360180        1  1398/06/23  68620  C16
187  2741360180        1  1398/06/23  68620  C16
188   722224675        1  1398/06/23  69239  C16
189   722224675        1  1398/06/23  69239  C16

[190 rows x 5 columns]
time_start time_stop 70577.0 75377.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1831757437        1  1398/06/23  70714  C16
1    1831757437        1  1398/06/23  70714  C16
2     173474292        1  1398/06/23  70742  C16
3     173474292        1  1398/06/23  70742  C16
4     721858629        1  1398/06/23  70762  C16
..          ...      ...         ...    ...  ...
259  3701415973        1  1398/06/23  74327  C16
260  3701415973        1  1398/06/23  74329  C16
261  3701415973        1  1398/06/23  74329  C16
262  3701415973        1  1398/06/23  74330  C16
263  3701415973        1  1398/06/23  74330  C16

[264 rows x 5 columns]
transactions in line 1 plat C62
          CardID  LineCode       FDate   Time plat
5684  1283977614         1  1398/06/23  23811  C62
5685  1283977614         1  1398/06/23  23811  C62
5686   480500164         1  1398/06/23  23960  C62
5687   480500164         1  1398/06/23  23960  C62
5688  3405939083         1  1398/06/23  24000  C62
...          ...       ...         ...    ...  ...
7149  2123244116         1  1398/06/23  73932  C62
7150   645898733         1  1398/06/23  74063  C62
7151   645898733         1  1398/06/23  74063  C62
7152  2742836996         1  1398/06/23  74222  C62
7153  2742836996         1  1398/06/23  74222  C62

[1470 rows x 5 columns]
first row of the selected chunck :
 [1283977614 1 '1398/06/23' 23811 'C62']
1470
t0 = 23811
ts = 74222
time_intervals 84
10min interval view
 for line 1 plat C62
 [[2.3811e+04 0.0000e+00]
 [2.4411e+04 9.0000e+00]
 [2.5011e+04 6.0000e+00]
 [2.5611e+04 0.0000e+00]
 [2.6211e+04 0.0000e+00]
 [2.6811e+04 0.0000e+00]
 [2.7411e+04 4.0000e+01]
 [2.8011e+04 9.4000e+01]
 [2.8611e+04 3.8000e+01]
 [2.9211e+04 2.4000e+01]
 [2.9811e+04 2.0000e+00]
 [3.0411e+04 0.0000e+00]
 [3.1011e+04 2.2000e+01]
 [3.1611e+04 2.8000e+01]
 [3.2211e+04 2.4000e+01]
 [3.2811e+04 2.6000e+01]
 [3.3411e+04 2.4000e+01]
 [3.4011e+04 0.0000e+00]
 [3.4611e+04 0.0000e+00]
 [3.5211e+04 0.0000e+00]
 [3.5811e+04 3.0000e+01]
 [3.6411e+04 7.2000e+01]
 [3.7011e+04 5.2000e+01]
 [3.7611e+04 4.2000e+01]
 [3.8211e+04 3.6000e+01]
 [3.8811e+04 4.0000e+00]
 [3.9411e+04 0.0000e+00]
 [4.0011e+04 0.0000e+00]
 [4.0611e+04 2.6000e+01]
 [4.1211e+04 2.4000e+01]
 [4.1811e+04 5.0000e+01]
 [4.2411e+04 6.0000e+01]
 [4.3011e+04 5.0000e+01]
 [4.3611e+04 2.0000e+01]
 [4.4211e+04 0.0000e+00]
 [4.4811e+04 0.0000e+00]
 [4.5411e+04 0.0000e+00]
 [4.6011e+04 2.0000e+00]
 [4.6611e+04 1.8000e+01]
 [4.7211e+04 8.0000e+00]
 [4.7811e+04 1.4000e+01]
 [4.8411e+04 4.8000e+01]
 [4.9011e+04 1.0000e+01]
 [4.9611e+04 4.0000e+00]
 [5.0211e+04 1.4000e+01]
 [5.0811e+04 2.6000e+01]
 [5.1411e+04 3.8000e+01]
 [5.2011e+04 1.0000e+01]
 [5.2611e+04 2.0000e+00]
 [5.3211e+04 0.0000e+00]
 [5.3811e+04 0.0000e+00]
 [5.4411e+04 0.0000e+00]
 [5.5011e+04 0.0000e+00]
 [5.5611e+04 2.0000e+00]
 [5.6211e+04 1.4000e+01]
 [5.6811e+04 2.6000e+01]
 [5.7411e+04 1.6000e+01]
 [5.8011e+04 1.2000e+01]
 [5.8611e+04 0.0000e+00]
 [5.9211e+04 2.2000e+01]
 [5.9811e+04 2.8000e+01]
 [6.0411e+04 8.0000e+00]
 [6.1011e+04 1.6000e+01]
 [6.1611e+04 0.0000e+00]
 [6.2211e+04 0.0000e+00]
 [6.2811e+04 0.0000e+00]
 [6.3411e+04 0.0000e+00]
 [6.4011e+04 0.0000e+00]
 [6.4611e+04 2.0000e+00]
 [6.5211e+04 3.0000e+01]
 [6.5811e+04 5.2000e+01]
 [6.6411e+04 1.8000e+01]
 [6.7011e+04 2.4000e+01]
 [6.7611e+04 1.2000e+01]
 [6.8211e+04 2.4000e+01]
 [6.8811e+04 0.0000e+00]
 [6.9411e+04 0.0000e+00]
 [7.0011e+04 0.0000e+00]
 [7.0611e+04 0.0000e+00]
 [7.1211e+04 2.2000e+01]
 [7.1811e+04 2.8000e+01]
 [7.2411e+04 4.4000e+01]
 [7.3011e+04 6.0000e+00]
 [7.3611e+04 5.2000e+01]]
Origin destination interval view
    time_in  time_out
0  23811.0   24411.0
1  25611.0   26211.0
2  30411.0   31011.0
3  34011.0   34611.0
4  39411.0   40011.0
5  44211.0   44811.0
6  53211.0   53811.0
7  58611.0   59211.0
8  61611.0   62211.0
9  68811.0   69411.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   1283977614        1  1398/06/23  23811  C62       2
1   1283977614        1  1398/06/23  23811  C62       2
2    480500164        1  1398/06/23  23960  C62       2
3    480500164        1  1398/06/23  23960  C62       2
4   3405939083        1  1398/06/23  24000  C62       2
5   3405939083        1  1398/06/23  24000  C62       2
6    262790433        1  1398/06/23  24337  C62       2
7    262790433        1  1398/06/23  24337  C62       2
8   3631559516        1  1398/06/23  24345  C62       2
9   3631559516        1  1398/06/23  24345  C62       2
10  2115627076        1  1398/06/23  30699  C62       4
11  2115627076        1  1398/06/23  30699  C62       4
12  3603844156        1  1398/06/23  30708  C62       4
13  3603844156        1  1398/06/23  30708  C62       4
14  3446787484        1  1398/06/23  30717  C62       4
15  3446787484        1  1398/06/23  30717  C62       4
16   362766532        1  1398/06/23  30741  C62       4
17   362766532        1  1398/06/23  30741  C62       4
18   362766532        1  1398/06/23  30743  C62       4
19   362766532        1  1398/06/23  30743  C62       4
20  1834802269        1  1398/06/23  30850  C62       4
21  1834802269        1  1398/06/23  30850  C62       4
22  1114051666        1  1398/06/23  30852  C62       4
23  1114051666        1  1398/06/23  30852  C62       4
24  2116230356        1  1398/06/23  30855  C62       4
25  2116230356        1  1398/06/23  30855  C62       4
26   556271134        1  1398/06/23  30858  C62       4
27   556271134        1  1398/06/23  30858  C62       4
28   173873814        1  1398/06/23  30909  C62       4
29   173873814        1  1398/06/23  30909  C62       4
30   721956457        1  1398/06/23  30985  C62       4
31   721956457        1  1398/06/23  30985  C62       4
32   721796497        1  1398/06/23  58880  C62       9
33   721796497        1  1398/06/23  58880  C62       9
34   721796497        1  1398/06/23  58882  C62       9
35   721796497        1  1398/06/23  58882  C62       9
36  3405917851        1  1398/06/23  58886  C62       9
37  3405917851        1  1398/06/23  58886  C62       9
38  3405900042        1  1398/06/23  58889  C62       9
39  3405900042        1  1398/06/23  58889  C62       9
40  3213201524        1  1398/06/23  58945  C62       9
41  3213201524        1  1398/06/23  58945  C62       9
42   362354052        1  1398/06/23  58946  C62       9
43   362354052        1  1398/06/23  58946  C62       9
44  3179947038        1  1398/06/23  58990  C62       9
45  3179947038        1  1398/06/23  58990  C62       9
46   182850710        1  1398/06/23  59006  C62       9
47   182850710        1  1398/06/23  59006  C62       9
48  3650104452        1  1398/06/23  59052  C62       9
49  3650104452        1  1398/06/23  59052  C62       9
50  3649221332        1  1398/06/23  59156  C62       9
51  3649221332        1  1398/06/23  59156  C62       9
52   425672142        1  1398/06/23  59169  C62       9
53   425672142        1  1398/06/23  59169  C62       9
time_start time_stop 24411.0 25611.0
df_bus_partial :
        CardID LineCode       FDate   Time plat
0   396853594        1  1398/06/23  24677  C62
1   396853594        1  1398/06/23  24677  C62
2  3547897876        1  1398/06/23  24680  C62
3  3547897876        1  1398/06/23  24680  C62
4  2129310964        1  1398/06/23  24689  C62
5  2129310964        1  1398/06/23  24689  C62
time_start time_stop 26211.0 30411.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3701185797        1  1398/06/23  26938  C62
1    3701185797        1  1398/06/23  26938  C62
2    2508255828        1  1398/06/23  26958  C62
3    2508255828        1  1398/06/23  26958  C62
4    4266673618        1  1398/06/23  26966  C62
..          ...      ...         ...    ...  ...
193  1001543758        1  1398/06/23  29130  C62
194  1598499972        1  1398/06/23  29134  C62
195  1598499972        1  1398/06/23  29134  C62
196   427654542        1  1398/06/23  29449  C62
197   427654542        1  1398/06/23  29449  C62

[198 rows x 5 columns]
time_start time_stop 31011.0 34011.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3547578900        1  1398/06/23  31103  C62
1    3547578900        1  1398/06/23  31103  C62
2     869334492        1  1398/06/23  31112  C62
3     869334492        1  1398/06/23  31112  C62
4    3700063477        1  1398/06/23  31115  C62
..          ...      ...         ...    ...  ...
97    549642181        1  1398/06/23  33170  C62
98   1407244590        1  1398/06/23  33348  C62
99   1407244590        1  1398/06/23  33348  C62
100  1594639252        1  1398/06/23  33353  C62
101  1594639252        1  1398/06/23  33353  C62

[102 rows x 5 columns]
time_start time_stop 34611.0 39411.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1371241902        1  1398/06/23  35214  C62
1    1371241902        1  1398/06/23  35214  C62
2    3208731780        1  1398/06/23  35217  C62
3    3208731780        1  1398/06/23  35217  C62
4    2542134030        1  1398/06/23  35222  C62
..          ...      ...         ...    ...  ...
231  2506441348        1  1398/06/23  38209  C62
232   361097092        1  1398/06/23  38656  C62
233   361097092        1  1398/06/23  38656  C62
234   262342097        1  1398/06/23  38780  C62
235   262342097        1  1398/06/23  38780  C62

[236 rows x 5 columns]
time_start time_stop 40011.0 44211.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1213820894        1  1398/06/23  40251  C62
1    1213820894        1  1398/06/23  40251  C62
2     722215758        1  1398/06/23  40255  C62
3     722215758        1  1398/06/23  40255  C62
4    2677251412        1  1398/06/23  40272  C62
..          ...      ...         ...    ...  ...
225   722262802        1  1398/06/23  43409  C62
226  3791974700        1  1398/06/23  43559  C62
227  3791974700        1  1398/06/23  43559  C62
228  3791974700        1  1398/06/23  43560  C62
229  3791974700        1  1398/06/23  43560  C62

[230 rows x 5 columns]
time_start time_stop 44811.0 53211.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2618137740        1  1398/06/23  45851  C62
1    2618137740        1  1398/06/23  45851  C62
2    2586619972        1  1398/06/23  46187  C62
3    2586619972        1  1398/06/23  46187  C62
4    1003665895        1  1398/06/23  46197  C62
..          ...      ...         ...    ...  ...
189  2123752452        1  1398/06/23  51525  C62
190   537383150        1  1398/06/23  51647  C62
191   537383150        1  1398/06/23  51647  C62
192  3405931006        1  1398/06/23  52219  C62
193  3405931006        1  1398/06/23  52219  C62

[194 rows x 5 columns]
time_start time_stop 53811.0 58611.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    537173310        1  1398/06/23  55452  C62
1    537173310        1  1398/06/23  55452  C62
2   1832062589        1  1398/06/23  55787  C62
3   1832062589        1  1398/06/23  55787  C62
4   3977915972        1  1398/06/23  55974  C62
..         ...      ...         ...    ...  ...
65   722214742        1  1398/06/23  57919  C62
66   261550977        1  1398/06/23  57920  C62
67   261550977        1  1398/06/23  57920  C62
68  3208438437        1  1398/06/23  57922  C62
69  3208438437        1  1398/06/23  57922  C62

[70 rows x 5 columns]
time_start time_stop 59211.0 61611.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    344543012        1  1398/06/23  59363  C62
1    344543012        1  1398/06/23  59363  C62
2    344543012        1  1398/06/23  59364  C62
3    344543012        1  1398/06/23  59364  C62
4    344543012        1  1398/06/23  59365  C62
5    344543012        1  1398/06/23  59365  C62
6   3254286301        1  1398/06/23  59368  C62
7   3254286301        1  1398/06/23  59368  C62
8   1214060702        1  1398/06/23  59412  C62
9   1214060702        1  1398/06/23  59412  C62
10  3630010444        1  1398/06/23  59414  C62
11  3630010444        1  1398/06/23  59414  C62
12  3178629406        1  1398/06/23  59465  C62
13  3178629406        1  1398/06/23  59465  C62
14   482502692        1  1398/06/23  59472  C62
15   482502692        1  1398/06/23  59472  C62
16   722209683        1  1398/06/23  59474  C62
17   722209683        1  1398/06/23  59474  C62
18  1787341764        1  1398/06/23  59534  C62
19  1787341764        1  1398/06/23  59534  C62
20  3405829469        1  1398/06/23  59607  C62
21  3405829469        1  1398/06/23  59607  C62
22  4245857527        1  1398/06/23  59791  C62
23  4245857527        1  1398/06/23  59791  C62
24  3646357444        1  1398/06/23  59794  C62
25  3646357444        1  1398/06/23  59794  C62
26  3677560700        1  1398/06/23  59797  C62
27  3677560700        1  1398/06/23  59797  C62
28   428013534        1  1398/06/23  59870  C62
29   428013534        1  1398/06/23  59870  C62
30  4075694938        1  1398/06/23  59872  C62
31  4075694938        1  1398/06/23  59872  C62
32   980734715        1  1398/06/23  59876  C62
33   980734715        1  1398/06/23  59876  C62
34   869248178        1  1398/06/23  59970  C62
35   869248178        1  1398/06/23  59970  C62
36   721942197        1  1398/06/23  60588  C62
37   721942197        1  1398/06/23  60588  C62
38   344543012        1  1398/06/23  60784  C62
39   344543012        1  1398/06/23  60784  C62
40  2182624387        1  1398/06/23  60837  C62
41  2182624387        1  1398/06/23  60837  C62
42  2182624387        1  1398/06/23  60839  C62
43  2182624387        1  1398/06/23  60839  C62
44  2541747758        1  1398/06/23  60882  C62
45  2541747758        1  1398/06/23  60882  C62
46  3792215532        1  1398/06/23  60966  C62
47  3792215532        1  1398/06/23  60966  C62
48   398515034        1  1398/06/23  60970  C62
49   398515034        1  1398/06/23  60970  C62
50   398515034        1  1398/06/23  60972  C62
51   398515034        1  1398/06/23  60972  C62
time_start time_stop 62211.0 68811.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3794802268        1  1398/06/23  64600  C62
1    3794802268        1  1398/06/23  64600  C62
2    1595569156        1  1398/06/23  64691  C62
3    1595569156        1  1398/06/23  64691  C62
4    2659864428        1  1398/06/23  64718  C62
..          ...      ...         ...    ...  ...
157  3631691772        1  1398/06/23  67820  C62
158  3631691772        1  1398/06/23  67820  C62
159  1506109598        1  1398/06/23  67820  C62
160  2188132451        1  1398/06/23  68013  C62
161  2188132451        1  1398/06/23  68013  C62

[162 rows x 5 columns]
transactions in line 1 plat C65
          CardID  LineCode       FDate   Time plat
7154  3997448164         1  1398/06/23  24485  C65
7155  3997448164         1  1398/06/23  24485  C65
7156  1527730158         1  1398/06/23  24553  C65
7157  1527730158         1  1398/06/23  24553  C65
7158   174855524         1  1398/06/23  24567  C65
...          ...       ...         ...    ...  ...
7865  3258247773         1  1398/06/23  73018  C65
7866   361708292         1  1398/06/23  73027  C65
7867   361708292         1  1398/06/23  73027  C65
7868  3556378577         1  1398/06/23  73363  C65
7869  3556378577         1  1398/06/23  73363  C65

[716 rows x 5 columns]
first row of the selected chunck :
 [3997448164 1 '1398/06/23' 24485 'C65']
716
t0 = 24485
ts = 73363
time_intervals 81
10min interval view
 for line 1 plat C65
 [[2.4485e+04 0.0000e+00]
 [2.5085e+04 7.0000e+00]
 [2.5685e+04 1.2000e+01]
 [2.6285e+04 1.2000e+01]
 [2.6885e+04 0.0000e+00]
 [2.7485e+04 0.0000e+00]
 [2.8085e+04 1.4000e+01]
 [2.8685e+04 2.6000e+01]
 [2.9285e+04 0.0000e+00]
 [2.9885e+04 0.0000e+00]
 [3.0485e+04 0.0000e+00]
 [3.1085e+04 0.0000e+00]
 [3.1685e+04 0.0000e+00]
 [3.2285e+04 0.0000e+00]
 [3.2885e+04 0.0000e+00]
 [3.3485e+04 0.0000e+00]
 [3.4085e+04 0.0000e+00]
 [3.4685e+04 0.0000e+00]
 [3.5285e+04 0.0000e+00]
 [3.5885e+04 0.0000e+00]
 [3.6485e+04 0.0000e+00]
 [3.7085e+04 0.0000e+00]
 [3.7685e+04 0.0000e+00]
 [3.8285e+04 0.0000e+00]
 [3.8885e+04 0.0000e+00]
 [3.9485e+04 0.0000e+00]
 [4.0085e+04 0.0000e+00]
 [4.0685e+04 0.0000e+00]
 [4.1285e+04 0.0000e+00]
 [4.1885e+04 0.0000e+00]
 [4.2485e+04 0.0000e+00]
 [4.3085e+04 0.0000e+00]
 [4.3685e+04 0.0000e+00]
 [4.4285e+04 0.0000e+00]
 [4.4885e+04 0.0000e+00]
 [4.5485e+04 0.0000e+00]
 [4.6085e+04 0.0000e+00]
 [4.6685e+04 0.0000e+00]
 [4.7285e+04 0.0000e+00]
 [4.7885e+04 1.0000e+01]
 [4.8485e+04 1.2000e+01]
 [4.9085e+04 4.0000e+00]
 [4.9685e+04 2.0000e+00]
 [5.0285e+04 1.4000e+01]
 [5.0885e+04 0.0000e+00]
 [5.1485e+04 1.8000e+01]
 [5.2085e+04 2.0000e+01]
 [5.2685e+04 3.4000e+01]
 [5.3285e+04 1.6000e+01]
 [5.3885e+04 8.0000e+00]
 [5.4485e+04 0.0000e+00]
 [5.5085e+04 0.0000e+00]
 [5.5685e+04 0.0000e+00]
 [5.6285e+04 0.0000e+00]
 [5.6885e+04 4.0000e+00]
 [5.7485e+04 2.8000e+01]
 [5.8085e+04 3.2000e+01]
 [5.8685e+04 1.6000e+01]
 [5.9285e+04 8.0000e+00]
 [5.9885e+04 0.0000e+00]
 [6.0485e+04 1.8000e+01]
 [6.1085e+04 4.8000e+01]
 [6.1685e+04 4.2000e+01]
 [6.2285e+04 1.0000e+01]
 [6.2885e+04 1.0000e+01]
 [6.3485e+04 6.0000e+00]
 [6.4085e+04 0.0000e+00]
 [6.4685e+04 0.0000e+00]
 [6.5285e+04 1.2000e+01]
 [6.5885e+04 2.8000e+01]
 [6.6485e+04 5.0000e+01]
 [6.7085e+04 3.4000e+01]
 [6.7685e+04 1.8000e+01]
 [6.8285e+04 1.4000e+01]
 [6.8885e+04 2.0000e+00]
 [6.9485e+04 0.0000e+00]
 [7.0085e+04 0.0000e+00]
 [7.0685e+04 1.2000e+01]
 [7.1285e+04 2.0000e+01]
 [7.1885e+04 3.4000e+01]
 [7.2485e+04 3.8000e+01]]
Origin destination interval view
    time_in  time_out
0  24485.0   25085.0
1  26885.0   27485.0
2  29285.0   29885.0
3  50885.0   51485.0
4  54485.0   55085.0
5  59885.0   60485.0
6  64085.0   64685.0
7  69485.0   70085.0

OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3997448164        1  1398/06/23  24485  C65       2
1   3997448164        1  1398/06/23  24485  C65       2
2   1527730158        1  1398/06/23  24553  C65       2
3   1527730158        1  1398/06/23  24553  C65       2
4    174855524        1  1398/06/23  24567  C65       2
5    174855524        1  1398/06/23  24567  C65       2
6   3631661004        1  1398/06/23  24849  C65       2
7   3631661004        1  1398/06/23  24849  C65       2
8   2124412212        1  1398/06/23  51096  C65       5
9   2124412212        1  1398/06/23  51096  C65       5
10  1527144718        1  1398/06/23  51160  C65       5
11  1527144718        1  1398/06/23  51160  C65       5
12  2137092157        1  1398/06/23  51199  C65       5
13  2137092157        1  1398/06/23  51199  C65       5
14  3104040933        1  1398/06/23  51216  C65       5
15  3104040933        1  1398/06/23  51216  C65       5
16   186297366        1  1398/06/23  51362  C65       5
17   186297366        1  1398/06/23  51362  C65       5
18  4058746237        1  1398/06/23  51383  C65       5
19  4058746237        1  1398/06/23  51383  C65       5
20  3818883893        1  1398/06/23  51398  C65       5
21  3818883893        1  1398/06/23  51398  C65       5
22  1836298589        1  1398/06/23  51480  C65       5
23  1836298589        1  1398/06/23  51480  C65       5
24  3405882298        1  1398/06/23  51484  C65       5
25  3405882298        1  1398/06/23  51484  C65       5
26  2743113844        1  1398/06/23  60154  C65       7
27  2743113844        1  1398/06/23  60154  C65       7
28   181886388        1  1398/06/23  60166  C65       7
29   181886388        1  1398/06/23  60166  C65       7
30  2854932734        1  1398/06/23  60183  C65       7
31  2854932734        1  1398/06/23  60183  C65       7
32  2854932734        1  1398/06/23  60184  C65       7
33  2854932734        1  1398/06/23  60184  C65       7
34  2137355645        1  1398/06/23  60194  C65       7
35  2137355645        1  1398/06/23  60194  C65       7
36   473277322        1  1398/06/23  60248  C65       7
37   473277322        1  1398/06/23  60248  C65       7
38  1360382346        1  1398/06/23  60354  C65       7
39  1360382346        1  1398/06/23  60354  C65       7
40  1291468926        1  1398/06/23  60398  C65       7
41  1291468926        1  1398/06/23  60398  C65       7
42   342881188        1  1398/06/23  60441  C65       7
43   342881188        1  1398/06/23  60441  C65       7
time_start time_stop 25085.0 26885.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1529125566        1  1398/06/23  25111  C65
1   1529125566        1  1398/06/23  25111  C65
2   1293725726        1  1398/06/23  25328  C65
3   1293725726        1  1398/06/23  25328  C65
4   3631582284        1  1398/06/23  25330  C65
5   3631582284        1  1398/06/23  25330  C65
6   3649940836        1  1398/06/23  25456  C65
7   3649940836        1  1398/06/23  25456  C65
8   3649940836        1  1398/06/23  25457  C65
9   3649940836        1  1398/06/23  25457  C65
10   536782606        1  1398/06/23  25561  C65
11   536782606        1  1398/06/23  25561  C65
12   428937854        1  1398/06/23  25784  C65
13   428937854        1  1398/06/23  25784  C65
14   869296174        1  1398/06/23  25786  C65
15   869296174        1  1398/06/23  25786  C65
16   722057246        1  1398/06/23  25787  C65
17   722057246        1  1398/06/23  25787  C65
18  3676385922        1  1398/06/23  25789  C65
19  3676385922        1  1398/06/23  25789  C65
20  1527270798        1  1398/06/23  25809  C65
21  1527270798        1  1398/06/23  25809  C65
22  1001513294        1  1398/06/23  25945  C65
23  1001513294        1  1398/06/23  25945  C65
time_start time_stop 27485.0 29285.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    181559446        1  1398/06/23  27993  C65
1    181559446        1  1398/06/23  27993  C65
2   3997592884        1  1398/06/23  27996  C65
3   3997592884        1  1398/06/23  27996  C65
4   2962431301        1  1398/06/23  28002  C65
5   2962431301        1  1398/06/23  28002  C65
6   1360382346        1  1398/06/23  28008  C65
7   1360382346        1  1398/06/23  28008  C65
8    482710004        1  1398/06/23  28040  C65
9    482710004        1  1398/06/23  28040  C65
10  1779448980        1  1398/06/23  28045  C65
11  1779448980        1  1398/06/23  28045  C65
12  3446192188        1  1398/06/23  28074  C65
13  3446192188        1  1398/06/23  28074  C65
14  3794115324        1  1398/06/23  28125  C65
15  3794115324        1  1398/06/23  28125  C65
16   869454634        1  1398/06/23  28132  C65
17   869454634        1  1398/06/23  28132  C65
18   996447694        1  1398/06/23  28135  C65
19   996447694        1  1398/06/23  28135  C65
20  2541840718        1  1398/06/23  28260  C65
21  2541840718        1  1398/06/23  28260  C65
22   874668524        1  1398/06/23  28261  C65
23   874668524        1  1398/06/23  28261  C65
24  3180924958        1  1398/06/23  28264  C65
25  3180924958        1  1398/06/23  28264  C65
26  1799082148        1  1398/06/23  28265  C65
27  1799082148        1  1398/06/23  28265  C65
28   174521492        1  1398/06/23  28267  C65
29   174521492        1  1398/06/23  28267  C65
30   174521492        1  1398/06/23  28268  C65
31   174521492        1  1398/06/23  28268  C65
32   869454402        1  1398/06/23  28329  C65
33   869454402        1  1398/06/23  28329  C65
34  1834794333        1  1398/06/23  28404  C65
35  1834794333        1  1398/06/23  28404  C65
36  1834794333        1  1398/06/23  28406  C65
37  1834794333        1  1398/06/23  28406  C65
38  3997005524        1  1398/06/23  28408  C65
39  3997005524        1  1398/06/23  28408  C65
time_start time_stop 29885.0 50885.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3555537057        1  1398/06/23  47490  C65
1   3555537057        1  1398/06/23  47490  C65
2   3700626101        1  1398/06/23  47678  C65
3   3700626101        1  1398/06/23  47678  C65
4   3213096068        1  1398/06/23  47680  C65
5   3213096068        1  1398/06/23  47680  C65
6    555984158        1  1398/06/23  47755  C65
7    555984158        1  1398/06/23  47755  C65
8   4240928599        1  1398/06/23  47822  C65
9   4240928599        1  1398/06/23  47822  C65
10   721971505        1  1398/06/23  47980  C65
11   721971505        1  1398/06/23  47980  C65
12   721971505        1  1398/06/23  47981  C65
13   721971505        1  1398/06/23  47981  C65
14  3631206988        1  1398/06/23  48058  C65
15  3631206988        1  1398/06/23  48058  C65
16  2741535588        1  1398/06/23  48059  C65
17  2741535588        1  1398/06/23  48059  C65
18  1530440190        1  1398/06/23  48140  C65
19  1530440190        1  1398/06/23  48140  C65
20  1003431847        1  1398/06/23  48394  C65
21  1003431847        1  1398/06/23  48394  C65
22   645889501        1  1398/06/23  48681  C65
23   645889501        1  1398/06/23  48681  C65
24  1282047294        1  1398/06/23  48898  C65
25  1282047294        1  1398/06/23  48898  C65
26  2962325253        1  1398/06/23  49190  C65
27  2962325253        1  1398/06/23  49190  C65
28  2481917348        1  1398/06/23  49780  C65
29  2481917348        1  1398/06/23  49780  C65
30  2742805940        1  1398/06/23  49783  C65
31  2742805940        1  1398/06/23  49783  C65
32   427240062        1  1398/06/23  49789  C65
33   427240062        1  1398/06/23  49789  C65
34   722174077        1  1398/06/23  49805  C65
35   722174077        1  1398/06/23  49805  C65
36   646118701        1  1398/06/23  49829  C65
37   646118701        1  1398/06/23  49829  C65
38  2123107172        1  1398/06/23  49915  C65
39  2123107172        1  1398/06/23  49915  C65
40  1629356773        1  1398/06/23  49920  C65
41  1629356773        1  1398/06/23  49920  C65
time_start time_stop 51485.0 54485.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   4275586370        1  1398/06/23  51522  C65
1   4275586370        1  1398/06/23  51522  C65
2   1000589710        1  1398/06/23  51766  C65
3   1000589710        1  1398/06/23  51766  C65
4   4270876738        1  1398/06/23  51770  C65
..         ...      ...         ...    ...  ...
73  2508255828        1  1398/06/23  53779  C65
74  2508255828        1  1398/06/23  53780  C65
75  2508255828        1  1398/06/23  53780  C65
76  2138555485        1  1398/06/23  53826  C65
77  2138555485        1  1398/06/23  53826  C65

[78 rows x 5 columns]
time_start time_stop 55085.0 59885.0

df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2680097742        1  1398/06/23  56732  C65
1   2680097742        1  1398/06/23  56732  C65
2   3648597156        1  1398/06/23  56811  C65
3   3648597156        1  1398/06/23  56811  C65
4    393860442        1  1398/06/23  56948  C65
..         ...      ...         ...    ...  ...
83  2741542020        1  1398/06/23  58890  C65
84  1832311197        1  1398/06/23  59164  C65
85  1832311197        1  1398/06/23  59164  C65
86  3208946836        1  1398/06/23  59243  C65
87  3208946836        1  1398/06/23  59243  C65

[88 rows x 5 columns]
time_start time_stop 60485.0 64085.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2124889764        1  1398/06/23  60510  C65
1    2124889764        1  1398/06/23  60510  C65
2    2124889764        1  1398/06/23  60511  C65
3    2124889764        1  1398/06/23  60511  C65
4     164176372        1  1398/06/23  60551  C65
..          ...      ...         ...    ...  ...
111   339170985        1  1398/06/23  62937  C65
112  2138952045        1  1398/06/23  62957  C65
113  2138952045        1  1398/06/23  62957  C65
114  2138952045        1  1398/06/23  62961  C65
115  2138952045        1  1398/06/23  62961  C65

[116 rows x 5 columns]
time_start time_stop 64685.0 69485.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     261019345        1  1398/06/23  65206  C65
1     261019345        1  1398/06/23  65206  C65
2    1529525694        1  1398/06/23  65223  C65
3    1529525694        1  1398/06/23  65223  C65
4    3214133636        1  1398/06/23  65229  C65
..          ...      ...         ...    ...  ...
153   262149873        1  1398/06/23  68107  C65
154   722126144        1  1398/06/23  68122  C65
155   722126144        1  1398/06/23  68122  C65
156  3405812631        1  1398/06/23  68545  C65
157  3405812631        1  1398/06/23  68545  C65

[158 rows x 5 columns]
transactions in line 1 plat D23
          CardID  LineCode       FDate   Time plat
7870  2053204658         1  1398/06/23  23372  D23
7871  2053204658         1  1398/06/23  23372  D23
7872   984261499         1  1398/06/23  23815  D23
7873   984261499         1  1398/06/23  23815  D23
7874   361746468         1  1398/06/23  23853  D23
...          ...       ...         ...    ...  ...
9345  1529821134         1  1398/06/23  73413  D23
9346  1529821134         1  1398/06/23  73414  D23
9347  1529821134         1  1398/06/23  73414  D23
9348  3791825333         1  1398/06/23  73522  D23
9349  3791825333         1  1398/06/23  73522  D23

[1480 rows x 5 columns]
first row of the selected chunck :
 [2053204658 1 '1398/06/23' 23372 'D23']
1480
t0 = 23372
ts = 73522
time_intervals 84
10min interval view
 for line 1 plat D23
 [[2.3372e+04 0.0000e+00]
 [2.3972e+04 9.0000e+00]
 [2.4572e+04 2.0000e+00]
 [2.5172e+04 0.0000e+00]
 [2.5772e+04 0.0000e+00]
 [2.6372e+04 0.0000e+00]
 [2.6972e+04 2.0000e+01]
 [2.7572e+04 6.2000e+01]
 [2.8172e+04 2.6000e+01]
 [2.8772e+04 2.8000e+01]
 [2.9372e+04 0.0000e+00]
 [2.9972e+04 0.0000e+00]
 [3.0572e+04 6.0000e+00]
 [3.1172e+04 1.0000e+01]
 [3.1772e+04 6.0000e+00]
 [3.2372e+04 3.6000e+01]
 [3.2972e+04 6.0000e+00]
 [3.3572e+04 0.0000e+00]
 [3.4172e+04 0.0000e+00]
 [3.4772e+04 0.0000e+00]
 [3.5372e+04 0.0000e+00]
 [3.5972e+04 5.6000e+01]
 [3.6572e+04 9.6000e+01]
 [3.7172e+04 3.0000e+01]
 [3.7772e+04 2.0000e+00]
 [3.8372e+04 2.0000e+00]
 [3.8972e+04 6.0000e+00]
 [3.9572e+04 0.0000e+00]
 [4.0172e+04 1.2000e+01]
 [4.0772e+04 5.0000e+01]
 [4.1372e+04 4.0000e+01]
 [4.1972e+04 4.6000e+01]
 [4.2572e+04 2.2000e+01]
 [4.3172e+04 2.0000e+01]
 [4.3772e+04 0.0000e+00]
 [4.4372e+04 8.0000e+00]
 [4.4972e+04 1.6000e+01]
 [4.5572e+04 2.0000e+01]
 [4.6172e+04 2.4000e+01]
 [4.6772e+04 1.6000e+01]
 [4.7372e+04 1.6000e+01]
 [4.7972e+04 6.0000e+00]
 [4.8572e+04 0.0000e+00]
 [4.9172e+04 0.0000e+00]
 [4.9772e+04 1.8000e+01]
 [5.0372e+04 1.6000e+01]
 [5.0972e+04 5.2000e+01]
 [5.1572e+04 1.4000e+01]
 [5.2172e+04 0.0000e+00]
 [5.2772e+04 0.0000e+00]
 [5.3372e+04 0.0000e+00]
 [5.3972e+04 0.0000e+00]
 [5.4572e+04 0.0000e+00]
 [5.5172e+04 1.4000e+01]
 [5.5772e+04 3.4000e+01]
 [5.6372e+04 3.4000e+01]
 [5.6972e+04 2.8000e+01]
 [5.7572e+04 1.4000e+01]
 [5.8172e+04 0.0000e+00]
 [5.8772e+04 6.0000e+00]
 [5.9372e+04 2.6000e+01]
 [5.9972e+04 2.4000e+01]
 [6.0572e+04 1.4000e+01]
 [6.1172e+04 3.2000e+01]
 [6.1772e+04 4.0000e+00]
 [6.2372e+04 0.0000e+00]
 [6.2972e+04 0.0000e+00]
 [6.3572e+04 0.0000e+00]
 [6.4172e+04 0.0000e+00]
 [6.4772e+04 2.0000e+01]
 [6.5372e+04 2.0000e+01]
 [6.5972e+04 5.0000e+01]
 [6.6572e+04 4.6000e+01]
 [6.7172e+04 2.4000e+01]
 [6.7772e+04 2.4000e+01]
 [6.8372e+04 1.2000e+01]
 [6.8972e+04 0.0000e+00]
 [6.9572e+04 4.0000e+00]
 [7.0172e+04 3.6000e+01]
 [7.0772e+04 5.0000e+01]
 [7.1372e+04 2.6000e+01]
 [7.1972e+04 7.6000e+01]
 [7.2572e+04 3.6000e+01]
 [7.3172e+04 1.6000e+01]]
Origin destination interval view
     time_in  time_out
0   23372.0   23972.0
1   25172.0   25772.0
2   29372.0   29972.0
3   33572.0   34172.0
4   39572.0   40172.0
5   43772.0   44372.0
6   48572.0   49172.0
7   52172.0   52772.0
8   58172.0   58772.0
9   62372.0   62972.0
10  68972.0   69572.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   2053204658        1  1398/06/23  23372  D23       2
1   2053204658        1  1398/06/23  23372  D23       2
2    984261499        1  1398/06/23  23815  D23       2
3    984261499        1  1398/06/23  23815  D23       2
4    361746468        1  1398/06/23  23853  D23       2
5    361746468        1  1398/06/23  23853  D23       2
6    174373222        1  1398/06/23  23935  D23       2
7    174373222        1  1398/06/23  23935  D23       2
8    722120973        1  1398/06/23  23939  D23       2
9    722120973        1  1398/06/23  23939  D23       2
10  1527081438        1  1398/06/23  39977  D23       6
11  1527081438        1  1398/06/23  39977  D23       6
12  1527081438        1  1398/06/23  39978  D23       6
13  1527081438        1  1398/06/23  39978  D23       6
14  4270345458        1  1398/06/23  39987  D23       6
15  4270345458        1  1398/06/23  39987  D23       6
16   428351246        1  1398/06/23  40037  D23       6
17   428351246        1  1398/06/23  40037  D23       6
18   428351246        1  1398/06/23  40038  D23       6
19   428351246        1  1398/06/23  40038  D23       6
20  2740493300        1  1398/06/23  40122  D23       6
21  2740493300        1  1398/06/23  40122  D23       6
22   258205345        1  1398/06/23  44338  D23       7
23   258205345        1  1398/06/23  44338  D23       7
24   258205345        1  1398/06/23  44340  D23       7
25   258205345        1  1398/06/23  44340  D23       7
26   258205345        1  1398/06/23  44341  D23       7
27   258205345        1  1398/06/23  44341  D23       7
28   258205345        1  1398/06/23  44342  D23       7
29   258205345        1  1398/06/23  44342  D23       7
30   721938956        1  1398/06/23  58563  D23      10
31   721938956        1  1398/06/23  58563  D23      10
32  2658089308        1  1398/06/23  58612  D23      10
33  2658089308        1  1398/06/23  58612  D23      10
34   429433806        1  1398/06/23  58759  D23      10
35   429433806        1  1398/06/23  58759  D23      10
36  3180866766        1  1398/06/23  69556  D23      12
37  3180866766        1  1398/06/23  69556  D23      12
38  3632110748        1  1398/06/23  69563  D23      12
39  3632110748        1  1398/06/23  69563  D23      12
time_start time_stop 23972.0 25172.0
df_bus_partial :
        CardID LineCode       FDate   Time plat
0  4275924754        1  1398/06/23  24461  D23
1  4275924754        1  1398/06/23  24461  D23
time_start time_stop 25772.0 29372.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     869181290        1  1398/06/23  26665  D23
1     869181290        1  1398/06/23  26665  D23
2    2621475644        1  1398/06/23  26678  D23
3    2621475644        1  1398/06/23  26678  D23
4     735948880        1  1398/06/23  26698  D23
..          ...      ...         ...    ...  ...
131  1291992078        1  1398/06/23  28655  D23
132  2497827709        1  1398/06/23  28686  D23
133  2497827709        1  1398/06/23  28686  D23
134   211198427        1  1398/06/23  28709  D23
135   211198427        1  1398/06/23  28709  D23

[136 rows x 5 columns]
time_start time_stop 29972.0 33572.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    900115972        1  1398/06/23  30348  D23
1    900115972        1  1398/06/23  30348  D23
2   2589891316        1  1398/06/23  30352  D23
3   2589891316        1  1398/06/23  30352  D23
4   1002022414        1  1398/06/23  30478  D23
..         ...      ...         ...    ...  ...
59  4270057618        1  1398/06/23  32425  D23
60  3405910022        1  1398/06/23  32475  D23
61  3405910022        1  1398/06/23  32475  D23
62   722019907        1  1398/06/23  32630  D23
63   722019907        1  1398/06/23  32630  D23

[64 rows x 5 columns]
time_start time_stop 34172.0 39572.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0     721849514        1  1398/06/23  35488  D23
1     721849514        1  1398/06/23  35488  D23
2    3558642961        1  1398/06/23  35494  D23
3    3558642961        1  1398/06/23  35494  D23
4     981085579        1  1398/06/23  35505  D23
..          ...      ...         ...    ...  ...
187  2681822398        1  1398/06/23  38412  D23
188  1528199886        1  1398/06/23  38413  D23
189  1528199886        1  1398/06/23  38413  D23
190  1528199886        1  1398/06/23  38415  D23
191  1528199886        1  1398/06/23  38415  D23

[192 rows x 5 columns]
time_start time_stop 40172.0 43772.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     981989419        1  1398/06/23  40184  D23
1     981989419        1  1398/06/23  40184  D23
2    2492348116        1  1398/06/23  40189  D23
3    2492348116        1  1398/06/23  40189  D23
4     233474810        1  1398/06/23  40204  D23
..          ...      ...         ...    ...  ...
173  3208449140        1  1398/06/23  42808  D23
174  3208449140        1  1398/06/23  42810  D23
175  3208449140        1  1398/06/23  42810  D23
176  2742726036        1  1398/06/23  42831  D23
177  2742726036        1  1398/06/23  42831  D23

[178 rows x 5 columns]
time_start time_stop 44372.0 48572.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    210920171        1  1398/06/23  44534  D23
1    210920171        1  1398/06/23  44534  D23
2   2117707412        1  1398/06/23  44585  D23
3   2117707412        1  1398/06/23  44585  D23
4    721713332        1  1398/06/23  44635  D23
..         ...      ...         ...    ...  ...
93  2239141633        1  1398/06/23  47430  D23
94  2239141633        1  1398/06/23  47430  D23
95  3206729541        1  1398/06/23  47430  D23
96  3206729541        1  1398/06/23  47431  D23
97  3206729541        1  1398/06/23  47431  D23

[98 rows x 5 columns]
time_start time_stop 49172.0 52172.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    429325054        1  1398/06/23  49234  D23
1    429325054        1  1398/06/23  49234  D23
2   3676248994        1  1398/06/23  49343  D23
3   3676248994        1  1398/06/23  49343  D23
4      8181620        1  1398/06/23  49636  D23
..         ...      ...         ...    ...  ...
95  3648789396        1  1398/06/23  51393  D23
96  2741752020        1  1398/06/23  51500  D23
97  2741752020        1  1398/06/23  51500  D23
98  2740738612        1  1398/06/23  51547  D23
99  2740738612        1  1398/06/23  51547  D23

[100 rows x 5 columns]
time_start time_stop 52772.0 58172.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3405872294        1  1398/06/23  54959  D23
1    3405872294        1  1398/06/23  54959  D23
2    3210679716        1  1398/06/23  54963  D23
3    3210679716        1  1398/06/23  54963  D23
4    1001798654        1  1398/06/23  54972  D23
..          ...      ...         ...    ...  ...
119   722148714        1  1398/06/23  57291  D23
120  1529607518        1  1398/06/23  57460  D23
121  1529607518        1  1398/06/23  57460  D23
122   736043552        1  1398/06/23  57564  D23
123   736043552        1  1398/06/23  57564  D23

[124 rows x 5 columns]
time_start time_stop 58772.0 62372.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1407174651        1  1398/06/23  58973  D23
1   1407174651        1  1398/06/23  58973  D23
2   2509195172        1  1398/06/23  59046  D23
3   2509195172        1  1398/06/23  59046  D23
4   2509195172        1  1398/06/23  59047  D23
..         ...      ...         ...    ...  ...
95  2239179189        1  1398/06/23  61059  D23
96  3648813348        1  1398/06/23  61261  D23
97  3648813348        1  1398/06/23  61261  D23
98  3648813348        1  1398/06/23  61262  D23
99  3648813348        1  1398/06/23  61262  D23

[100 rows x 5 columns]
time_start time_stop 62972.0 68972.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1528578206        1  1398/06/23  64503  D23
1    1528578206        1  1398/06/23  64503  D23
2    1528578206        1  1398/06/23  64504  D23
3    1528578206        1  1398/06/23  64504  D23
4    1528578206        1  1398/06/23  64505  D23
..          ...      ...         ...    ...  ...
191  1594746260        1  1398/06/23  68021  D23
192  3104959109        1  1398/06/23  68138  D23
193  3104959109        1  1398/06/23  68138  D23
194   710148293        1  1398/06/23  68267  D23
195   710148293        1  1398/06/23  68267  D23

[196 rows x 5 columns]
transactions in line 1 plat D33
           CardID  LineCode       FDate   Time plat
9350   3794822812         1  1398/06/23  21441  D33
9351   3794822812         1  1398/06/23  21441  D33
9352   3794208508         1  1398/06/23  21445  D33
9353   3794208508         1  1398/06/23  21445  D33
9354    261483009         1  1398/06/23  21448  D33
...           ...       ...         ...    ...  ...
11429  1835468173         1  1398/06/23  75743  D33
11430  3208101508         1  1398/06/23  76050  D33
11431  3208101508         1  1398/06/23  76050  D33
11432  3208101508         1  1398/06/23  76056  D33
11433  3208101508         1  1398/06/23  76056  D33

[2084 rows x 5 columns]
first row of the selected chunck :
 [3794822812 1 '1398/06/23' 21441 'D33']
2084
t0 = 21441
ts = 76056
time_intervals 91
10min interval view
 for line 1 plat D33
 [[2.1441e+04 0.0000e+00]
 [2.2041e+04 5.1000e+01]
 [2.2641e+04 8.0000e+00]
 [2.3241e+04 2.0000e+00]
 [2.3841e+04 0.0000e+00]
 [2.4441e+04 0.0000e+00]
 [2.5041e+04 0.0000e+00]
 [2.5641e+04 2.0000e+00]
 [2.6241e+04 2.0000e+01]
 [2.6841e+04 2.4000e+01]
 [2.7441e+04 4.0000e+00]
 [2.8041e+04 0.0000e+00]
 [2.8641e+04 0.0000e+00]
 [2.9241e+04 1.8000e+01]
 [2.9841e+04 7.0000e+01]
 [3.0441e+04 5.0000e+01]
 [3.1041e+04 6.6000e+01]
 [3.1641e+04 3.6000e+01]
 [3.2241e+04 2.0000e+01]
 [3.2841e+04 2.4000e+01]
 [3.3441e+04 4.2000e+01]
 [3.4041e+04 4.0000e+01]
 [3.4641e+04 6.0000e+01]
 [3.5241e+04 4.0000e+01]
 [3.5841e+04 4.0000e+00]
 [3.6441e+04 0.0000e+00]
 [3.7041e+04 2.0000e+00]
 [3.7641e+04 4.0000e+01]
 [3.8241e+04 6.0000e+01]
 [3.8841e+04 3.2000e+01]
 [3.9441e+04 4.2000e+01]
 [4.0041e+04 2.6000e+01]
 [4.0641e+04 1.0000e+01]
 [4.1241e+04 2.0000e+00]
 [4.1841e+04 2.0000e+00]
 [4.2441e+04 1.0000e+01]
 [4.3041e+04 3.0000e+01]
 [4.3641e+04 5.6000e+01]
 [4.4241e+04 7.6000e+01]
 [4.4841e+04 2.2000e+01]
 [4.5441e+04 2.8000e+01]
 [4.6041e+04 8.0000e+00]
 [4.6641e+04 0.0000e+00]
 [4.7241e+04 0.0000e+00]
 [4.7841e+04 4.0000e+00]
 [4.8441e+04 1.8000e+01]
 [4.9041e+04 1.4000e+01]
 [4.9641e+04 4.0000e+00]
 [5.0241e+04 8.0000e+00]
 [5.0841e+04 2.0000e+00]
 [5.1441e+04 2.4000e+01]
 [5.2041e+04 2.6000e+01]
 [5.2641e+04 4.2000e+01]
 [5.3241e+04 1.6000e+01]
 [5.3841e+04 1.4000e+01]
 [5.4441e+04 0.0000e+00]
 [5.5041e+04 0.0000e+00]
 [5.5641e+04 0.0000e+00]
 [5.6241e+04 0.0000e+00]
 [5.6841e+04 0.0000e+00]
 [5.7441e+04 1.0000e+01]
 [5.8041e+04 3.4000e+01]
 [5.8641e+04 6.6000e+01]
 [5.9241e+04 1.8000e+01]
 [5.9841e+04 2.2000e+01]
 [6.0441e+04 8.0000e+00]
 [6.1041e+04 0.0000e+00]
 [6.1641e+04 0.0000e+00]
 [6.2241e+04 2.8000e+01]
 [6.2841e+04 5.2000e+01]
 [6.3441e+04 5.2000e+01]
 [6.4041e+04 5.8000e+01]
 [6.4641e+04 4.6000e+01]
 [6.5241e+04 2.8000e+01]
 [6.5841e+04 2.0000e+00]
 [6.6441e+04 2.0000e+01]
 [6.7041e+04 4.8000e+01]
 [6.7641e+04 7.6000e+01]
 [6.8241e+04 1.4000e+01]
 [6.8841e+04 1.0000e+01]
 [6.9441e+04 2.4000e+01]
 [7.0041e+04 2.4000e+01]
 [7.0641e+04 1.2000e+01]
 [7.1241e+04 0.0000e+00]
 [7.1841e+04 0.0000e+00]
 [7.2441e+04 3.2000e+01]
 [7.3041e+04 3.4000e+01]
 [7.3641e+04 4.6000e+01]
 [7.4241e+04 3.0000e+01]
 [7.4841e+04 4.0000e+01]
 [7.5441e+04 4.0000e+01]]
Origin destination interval view
    time_in  time_out
0  21441.0   22041.0
1  23841.0   24441.0
2  28041.0   28641.0
3  36441.0   37041.0
4  46641.0   47241.0
5  54441.0   55041.0
6  61041.0   61641.0
7  71241.0   71841.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3794822812        1  1398/06/23  21441  D33       2
1   3794822812        1  1398/06/23  21441  D33       2
2   3794208508        1  1398/06/23  21445  D33       2
3   3794208508        1  1398/06/23  21445  D33       2
4    261483009        1  1398/06/23  21448  D33       2
5    261483009        1  1398/06/23  21448  D33       2
6    361013812        1  1398/06/23  21452  D33       2
7    361013812        1  1398/06/23  21452  D33       2
8   2586637540        1  1398/06/23  21456  D33       2
9   2586637540        1  1398/06/23  21456  D33       2
10   483057556        1  1398/06/23  21584  D33       2
11   483057556        1  1398/06/23  21584  D33       2
12   397293146        1  1398/06/23  21699  D33       2
13   397293146        1  1398/06/23  21699  D33       2
14  2052927266        1  1398/06/23  21701  D33       2
15  2052927266        1  1398/06/23  21701  D33       2
16  2481906452        1  1398/06/23  21704  D33       2
17  2481906452        1  1398/06/23  21704  D33       2
18  3152966878        1  1398/06/23  21705  D33       2
19  3152966878        1  1398/06/23  21705  D33       2
20  3792937852        1  1398/06/23  21707  D33       2
21  3792937852        1  1398/06/23  21707  D33       2
22  1529562942        1  1398/06/23  21710  D33       2
23  1529562942        1  1398/06/23  21710  D33       2
24  1513399653        1  1398/06/23  21711  D33       2
25  1513399653        1  1398/06/23  21711  D33       2
26  3150910910        1  1398/06/23  21734  D33       2
27  3150910910        1  1398/06/23  21734  D33       2
28  3258194717        1  1398/06/23  21784  D33       2
29  3258194717        1  1398/06/23  21784  D33       2
30  3152947566        1  1398/06/23  21787  D33       2
31  3152947566        1  1398/06/23  21787  D33       2
32  1001310446        1  1398/06/23  21790  D33       2
33  1001310446        1  1398/06/23  21790  D33       2
34  3405787225        1  1398/06/23  21793  D33       2
35  3405787225        1  1398/06/23  21793  D33       2
36   869263013        1  1398/06/23  21796  D33       2
37   869263013        1  1398/06/23  21796  D33       2
38   721987025        1  1398/06/23  21851  D33       2
39   721987025        1  1398/06/23  21851  D33       2
40   981380171        1  1398/06/23  21931  D33       2
41   981380171        1  1398/06/23  21931  D33       2
42  3792858044        1  1398/06/23  21936  D33       2
43  3792858044        1  1398/06/23  21936  D33       2
44   480056900        1  1398/06/23  21942  D33       2
45   480056900        1  1398/06/23  21942  D33       2
46   645499949        1  1398/06/23  22002  D33       2
47   645499949        1  1398/06/23  22002  D33       2
48  3153149374        1  1398/06/23  22008  D33       2
49  3153149374        1  1398/06/23  22008  D33       2
50  3445770604        1  1398/06/23  22011  D33       2
51  3445770604        1  1398/06/23  22011  D33       2
52  3792095996        1  1398/06/23  37035  D33       5
53  3792095996        1  1398/06/23  37035  D33       5
time_start time_stop 22041.0 23841.0
df_bus_partial :
        CardID LineCode       FDate   Time plat
0  3258466621        1  1398/06/23  22061  D33
1  3258466621        1  1398/06/23  22061  D33
2   721750384        1  1398/06/23  22064  D33
3   721750384        1  1398/06/23  22064  D33
4  3109147461        1  1398/06/23  22280  D33
5  3109147461        1  1398/06/23  22280  D33
6  2235558595        1  1398/06/23  22410  D33
7  2235558595        1  1398/06/23  22410  D33
8  3794581420        1  1398/06/23  23219  D33
9  3794581420        1  1398/06/23  23219  D33
time_start time_stop 24441.0 28041.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    483275012        1  1398/06/23  25638  D33
1    483275012        1  1398/06/23  25638  D33
2   1002796279        1  1398/06/23  25839  D33
3   1002796279        1  1398/06/23  25839  D33
4   3793343644        1  1398/06/23  25917  D33
5   3793343644        1  1398/06/23  25917  D33
6   4275262354        1  1398/06/23  25958  D33
7   4275262354        1  1398/06/23  25958  D33
8   1527612062        1  1398/06/23  25959  D33
9   1527612062        1  1398/06/23  25959  D33
10   173393110        1  1398/06/23  25993  D33
11   173393110        1  1398/06/23  25993  D33
12   722046187        1  1398/06/23  26038  D33
13   722046187        1  1398/06/23  26038  D33
14  3446004844        1  1398/06/23  26055  D33
15  3446004844        1  1398/06/23  26055  D33
16  3792017932        1  1398/06/23  26151  D33
17  3792017932        1  1398/06/23  26151  D33
18  3792017932        1  1398/06/23  26152  D33
19  3792017932        1  1398/06/23  26152  D33
20  3632322700        1  1398/06/23  26196  D33
21  3632322700        1  1398/06/23  26196  D33
22   869445307        1  1398/06/23  26355  D33
23   869445307        1  1398/06/23  26355  D33
24  2482022132        1  1398/06/23  26358  D33
25  2482022132        1  1398/06/23  26358  D33
26  3152654638        1  1398/06/23  26556  D33
27  3152654638        1  1398/06/23  26556  D33
28  4256760148        1  1398/06/23  26614  D33
29  4256760148        1  1398/06/23  26614  D33
30  4270442242        1  1398/06/23  26710  D33
31  4270442242        1  1398/06/23  26710  D33
32  3179643534        1  1398/06/23  26712  D33
33  3179643534        1  1398/06/23  26712  D33
34   235358922        1  1398/06/23  26717  D33
35   235358922        1  1398/06/23  26717  D33
36   262634065        1  1398/06/23  26720  D33
37   262634065        1  1398/06/23  26720  D33
38  3793005500        1  1398/06/23  26724  D33
39  3793005500        1  1398/06/23  26724  D33
40  2239112125        1  1398/06/23  26762  D33
41  2239112125        1  1398/06/23  26762  D33
42  3445581388        1  1398/06/23  26791  D33
43  3445581388        1  1398/06/23  26791  D33
44   622906005        1  1398/06/23  26834  D33
45   622906005        1  1398/06/23  26834  D33
46   233472890        1  1398/06/23  26866  D33
47   233472890        1  1398/06/23  26866  D33
48  2138950845        1  1398/06/23  27191  D33
49  2138950845        1  1398/06/23  27191  D33
time_start time_stop 28641.0 36441.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0     721798960        1  1398/06/23  29115  D33
1     721798960        1  1398/06/23  29115  D33
2     289782107        1  1398/06/23  29117  D33
3     289782107        1  1398/06/23  29117  D33
4    2039348778        1  1398/06/23  29122  D33
..          ...      ...         ...    ...  ...
465  2590503060        1  1398/06/23  35179  D33
466   262638129        1  1398/06/23  35301  D33
467   262638129        1  1398/06/23  35301  D33
468  2239099431        1  1398/06/23  35348  D33
469  2239099431        1  1398/06/23  35348  D33

[470 rows x 5 columns]
time_start time_stop 37041.0 46641.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3794988076        1  1398/06/23  37044  D33
1    3794988076        1  1398/06/23  37044  D33
2    3758194085        1  1398/06/23  37059  D33
3    3758194085        1  1398/06/23  37059  D33
4    2740544740        1  1398/06/23  37069  D33
..          ...      ...         ...    ...  ...
439  2501324564        1  1398/06/23  45511  D33
440  2048171298        1  1398/06/23  45519  D33
441  2048171298        1  1398/06/23  45519  D33
442   211024060        1  1398/06/23  45626  D33
443   211024060        1  1398/06/23  45626  D33

[444 rows x 5 columns]
time_start time_stop 47241.0 54441.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     262577425        1  1398/06/23  47746  D33
1     262577425        1  1398/06/23  47746  D33
2     262472481        1  1398/06/23  47813  D33
3     262472481        1  1398/06/23  47813  D33
4    1002870455        1  1398/06/23  47945  D33
..          ...      ...         ...    ...  ...
167  1957870580        1  1398/06/23  53484  D33
168  1957870580        1  1398/06/23  53487  D33
169  1957870580        1  1398/06/23  53487  D33
170   869330561        1  1398/06/23  53699  D33
171   869330561        1  1398/06/23  53699  D33

[172 rows x 5 columns]
time_start time_stop 55041.0 61041.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     260895473        1  1398/06/23  57295  D33
1     260895473        1  1398/06/23  57295  D33
2     260895473        1  1398/06/23  57296  D33
3     260895473        1  1398/06/23  57296  D33
4    4245410071        1  1398/06/23  57396  D33
..          ...      ...         ...    ...  ...
153  1414641193        1  1398/06/23  59981  D33
154  1835190333        1  1398/06/23  59983  D33
155  1835190333        1  1398/06/23  59983  D33
156   981494795        1  1398/06/23  60164  D33
157   981494795        1  1398/06/23  60164  D33

[158 rows x 5 columns]
time_start time_stop 61641.0 71241.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    4269554018        1  1398/06/23  61866  D33
1    4269554018        1  1398/06/23  61866  D33
2    3151261438        1  1398/06/23  61869  D33
3    3151261438        1  1398/06/23  61869  D33
4     721797932        1  1398/06/23  61897  D33
..          ...      ...         ...    ...  ...
489   301019739        1  1398/06/23  70218  D33
490  1527387150        1  1398/06/23  70621  D33
491  1527387150        1  1398/06/23  70621  D33
492  1527387150        1  1398/06/23  70627  D33
493  1527387150        1  1398/06/23  70627  D33

[494 rows x 5 columns]
transactions in line 1 plat D35
           CardID  LineCode       FDate   Time plat
11434   480433540         1  1398/06/23  23910  D35
11435   480433540         1  1398/06/23  23910  D35
11436  1003123719         1  1398/06/23  24278  D35
11437  1003123719         1  1398/06/23  24278  D35
11438  1407159865         1  1398/06/23  24281  D35
...           ...       ...         ...    ...  ...
12793   722176236         1  1398/06/23  62508  D35
12794  3553834492         1  1398/06/23  62524  D35
12795  3553834492         1  1398/06/23  62524  D35
12796  3553834492         1  1398/06/23  62530  D35
12797  3553834492         1  1398/06/23  62530  D35

[1364 rows x 5 columns]
first row of the selected chunck :
 [480433540 1 '1398/06/23' 23910 'D35']
1364
t0 = 23910
ts = 62530
time_intervals 64
10min interval view
 for line 1 plat D35
 [[2.391e+04 0.000e+00]
 [2.451e+04 1.500e+01]
 [2.511e+04 1.000e+01]
 [2.571e+04 4.000e+00]
 [2.631e+04 0.000e+00]
 [2.691e+04 0.000e+00]
 [2.751e+04 4.600e+01]
 [2.811e+04 7.400e+01]
 [2.871e+04 2.800e+01]
 [2.931e+04 1.800e+01]
 [2.991e+04 1.200e+01]
 [3.051e+04 0.000e+00]
 [3.111e+04 0.000e+00]
 [3.171e+04 2.800e+01]
 [3.231e+04 3.800e+01]
 [3.291e+04 2.800e+01]
 [3.351e+04 1.800e+01]
 [3.411e+04 3.200e+01]
 [3.471e+04 0.000e+00]
 [3.531e+04 0.000e+00]
 [3.591e+04 1.800e+01]
 [3.651e+04 7.800e+01]
 [3.711e+04 7.200e+01]
 [3.771e+04 3.200e+01]
 [3.831e+04 5.600e+01]
 [3.891e+04 2.000e+01]
 [3.951e+04 0.000e+00]
 [4.011e+04 0.000e+00]
 [4.071e+04 0.000e+00]
 [4.131e+04 1.800e+01]
 [4.191e+04 4.000e+01]
 [4.251e+04 7.000e+01]
 [4.311e+04 2.800e+01]
 [4.371e+04 2.600e+01]
 [4.431e+04 6.000e+00]
 [4.491e+04 0.000e+00]
 [4.551e+04 0.000e+00]
 [4.611e+04 0.000e+00]
 [4.671e+04 1.800e+01]
 [4.731e+04 4.400e+01]
 [4.791e+04 1.200e+01]
 [4.851e+04 2.400e+01]
 [4.911e+04 3.800e+01]
 [4.971e+04 1.000e+01]
 [5.031e+04 6.000e+00]
 [5.091e+04 1.200e+01]
 [5.151e+04 2.600e+01]
 [5.211e+04 3.400e+01]
 [5.271e+04 2.200e+01]
 [5.331e+04 6.000e+00]
 [5.391e+04 0.000e+00]
 [5.451e+04 0.000e+00]
 [5.511e+04 0.000e+00]
 [5.571e+04 0.000e+00]
 [5.631e+04 1.000e+01]
 [5.691e+04 4.000e+01]
 [5.751e+04 2.800e+01]
 [5.811e+04 1.600e+01]
 [5.871e+04 2.000e+00]
 [5.931e+04 0.000e+00]
 [5.991e+04 1.200e+01]
 [6.051e+04 4.000e+01]
 [6.111e+04 2.800e+01]
 [6.171e+04 5.800e+01]]
Origin destination interval view
    time_in  time_out
0  23910.0   24510.0
1  26310.0   26910.0
2  30510.0   31110.0
3  34710.0   35310.0
4  39510.0   40110.0
5  44910.0   45510.0
6  53910.0   54510.0
7  59310.0   59910.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    480433540        1  1398/06/23  23910  D35       2
1    480433540        1  1398/06/23  23910  D35       2
2   1003123719        1  1398/06/23  24278  D35       2
3   1003123719        1  1398/06/23  24278  D35       2
4   1407159865        1  1398/06/23  24281  D35       2
5   1407159865        1  1398/06/23  24281  D35       2
6    982036667        1  1398/06/23  24284  D35       2
7    982036667        1  1398/06/23  24284  D35       2
8    721834121        1  1398/06/23  24356  D35       2
9    721834121        1  1398/06/23  24356  D35       2
10   425704174        1  1398/06/23  24442  D35       2
11   425704174        1  1398/06/23  24442  D35       2
12   402072666        1  1398/06/23  24498  D35       2
13   402072666        1  1398/06/23  24498  D35       2
14   402072666        1  1398/06/23  24501  D35       2
15   402072666        1  1398/06/23  24501  D35       2
16  3206780053        1  1398/06/23  59718  D35       9
17  3206780053        1  1398/06/23  59718  D35       9
18  3206780053        1  1398/06/23  59720  D35       9
19  3206780053        1  1398/06/23  59720  D35       9
20  1527622158        1  1398/06/23  59725  D35       9
21  1527622158        1  1398/06/23  59725  D35       9
22  1598741764        1  1398/06/23  59801  D35       9
23  1598741764        1  1398/06/23  59801  D35       9
24  1598741764        1  1398/06/23  59802  D35       9
25  1598741764        1  1398/06/23  59802  D35       9
26   722206318        1  1398/06/23  59817  D35       9
27   722206318        1  1398/06/23  59817  D35       9
time_start time_stop 24510.0 26310.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1834992429        1  1398/06/23  24650  D35
1   1834992429        1  1398/06/23  24650  D35
2   1529312526        1  1398/06/23  24984  D35
3   1529312526        1  1398/06/23  24984  D35
4   3793441868        1  1398/06/23  24985  D35
5   3793441868        1  1398/06/23  24985  D35
6   4275295826        1  1398/06/23  24987  D35
7   4275295826        1  1398/06/23  24987  D35
8    473142202        1  1398/06/23  24991  D35
9    473142202        1  1398/06/23  24991  D35
10  4241144887        1  1398/06/23  25210  D35
11   211423324        1  1398/06/23  25210  D35
12   211423324        1  1398/06/23  25210  D35
13  4241144887        1  1398/06/23  25210  D35
time_start time_stop 26910.0 30510.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3183895726        1  1398/06/23  27243  D35
1    3183895726        1  1398/06/23  27243  D35
2    3649129540        1  1398/06/23  27245  D35
3    3649129540        1  1398/06/23  27245  D35
4    1459066101        1  1398/06/23  27247  D35
..          ...      ...         ...    ...  ...
173  1527207550        1  1398/06/23  29719  D35
174   737473040        1  1398/06/23  29794  D35
175   737473040        1  1398/06/23  29794  D35
176   722102379        1  1398/06/23  29796  D35
177   722102379        1  1398/06/23  29796  D35

[178 rows x 5 columns]
time_start time_stop 31110.0 34710.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     722147667        1  1398/06/23  31452  D35
1     722147667        1  1398/06/23  31452  D35
2    2039234650        1  1398/06/23  31457  D35
3    2039234650        1  1398/06/23  31457  D35
4    1368162798        1  1398/06/23  31463  D35
..          ...      ...         ...    ...  ...
139  3405806942        1  1398/06/23  33731  D35
140  3650373668        1  1398/06/23  33774  D35
141  3650373668        1  1398/06/23  33774  D35
142  3405810050        1  1398/06/23  33776  D35
143  3405810050        1  1398/06/23  33776  D35

[144 rows x 5 columns]
time_start time_stop 35310.0 39510.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     985251739        1  1398/06/23  35820  D35
1     985251739        1  1398/06/23  35820  D35
2     985251739        1  1398/06/23  35821  D35
3     985251739        1  1398/06/23  35821  D35
4     869413139        1  1398/06/23  35825  D35
..          ...      ...         ...    ...  ...
271     7988452        1  1398/06/23  38787  D35
272  4265756850        1  1398/06/23  38885  D35
273  4265756850        1  1398/06/23  38885  D35
274  4265756850        1  1398/06/23  38886  D35
275  4265756850        1  1398/06/23  38886  D35

[276 rows x 5 columns]
time_start time_stop 40110.0 44910.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     721938358        1  1398/06/23  40734  D35
1     721938358        1  1398/06/23  40734  D35
2     556065342        1  1398/06/23  40757  D35
3     556065342        1  1398/06/23  40757  D35
4    3179481758        1  1398/06/23  40916  D35
..          ...      ...         ...    ...  ...
183   212190347        1  1398/06/23  43792  D35
184  1003881047        1  1398/06/23  43928  D35
185  1003881047        1  1398/06/23  43928  D35
186  3444949724        1  1398/06/23  44241  D35
187  3444949724        1  1398/06/23  44241  D35

[188 rows x 5 columns]
time_start time_stop 45510.0 53910.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3254396765        1  1398/06/23  46274  D35
1    3254396765        1  1398/06/23  46274  D35
2    3254396765        1  1398/06/23  46276  D35
3    3254396765        1  1398/06/23  46276  D35
4    3254396765        1  1398/06/23  46278  D35
..          ...      ...         ...    ...  ...
247  3758198661        1  1398/06/23  52736  D35
248  1527365566        1  1398/06/23  52846  D35
249  1527365566        1  1398/06/23  52846  D35
250  1003075447        1  1398/06/23  52902  D35
251  1003075447        1  1398/06/23  52902  D35

[252 rows x 5 columns]
time_start time_stop 54510.0 59310.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3214682548        1  1398/06/23  55950  D35
1   3214682548        1  1398/06/23  55950  D35
2   2509320404        1  1398/06/23  55956  D35
3   2509320404        1  1398/06/23  55956  D35
4   3258054541        1  1398/06/23  56062  D35
..         ...      ...         ...    ...  ...
91  3997078164        1  1398/06/23  58064  D35
92  2508198532        1  1398/06/23  58072  D35
93  2508198532        1  1398/06/23  58072  D35
94  3109181301        1  1398/06/23  58199  D35
95  3109181301        1  1398/06/23  58199  D35

[96 rows x 5 columns]
transactions in line 1 plat D44
           CardID  LineCode       FDate   Time plat
12798   427668190         1  1398/06/23  22333  D44
12799   427668190         1  1398/06/23  22333  D44
12800  3180814910         1  1398/06/23  22339  D44
12801  3180814910         1  1398/06/23  22339  D44
12802  1788471364         1  1398/06/23  22475  D44
...           ...       ...         ...    ...  ...
14477   722117991         1  1398/06/23  74485  D44
14478  1371853038         1  1398/06/23  74488  D44
14479  1371853038         1  1398/06/23  74488  D44
14480   645793597         1  1398/06/23  74495  D44
14481   645793597         1  1398/06/23  74495  D44

[1684 rows x 5 columns]
first row of the selected chunck :
 [427668190 1 '1398/06/23' 22333 'D44']
1684
t0 = 22333
ts = 74495
time_intervals 87
10min interval view
 for line 1 plat D44
 [[2.2333e+04 0.0000e+00]
 [2.2933e+04 2.3000e+01]
 [2.3533e+04 1.4000e+01]
 [2.4133e+04 8.0000e+00]
 [2.4733e+04 0.0000e+00]
 [2.5333e+04 0.0000e+00]
 [2.5933e+04 0.0000e+00]
 [2.6533e+04 1.0000e+01]
 [2.7133e+04 4.0000e+00]
 [2.7733e+04 2.6000e+01]
 [2.8333e+04 2.0000e+00]
 [2.8933e+04 0.0000e+00]
 [2.9533e+04 0.0000e+00]
 [3.0133e+04 2.0000e+01]
 [3.0733e+04 7.0000e+01]
 [3.1333e+04 7.4000e+01]
 [3.1933e+04 3.6000e+01]
 [3.2533e+04 5.4000e+01]
 [3.3133e+04 8.0000e+00]
 [3.3733e+04 4.0000e+00]
 [3.4333e+04 3.0000e+01]
 [3.4933e+04 2.2000e+01]
 [3.5533e+04 3.4000e+01]
 [3.6133e+04 2.0000e+01]
 [3.6733e+04 6.0000e+00]
 [3.7333e+04 0.0000e+00]
 [3.7933e+04 0.0000e+00]
 [3.8533e+04 1.8000e+01]
 [3.9133e+04 6.2000e+01]
 [3.9733e+04 5.6000e+01]
 [4.0333e+04 3.6000e+01]
 [4.0933e+04 3.2000e+01]
 [4.1533e+04 1.8000e+01]
 [4.2133e+04 1.8000e+01]
 [4.2733e+04 0.0000e+00]
 [4.3333e+04 4.0000e+00]
 [4.3933e+04 2.2000e+01]
 [4.4533e+04 2.0000e+01]
 [4.5133e+04 6.8000e+01]
 [4.5733e+04 3.6000e+01]
 [4.6333e+04 2.8000e+01]
 [4.6933e+04 2.0000e+00]
 [4.7533e+04 0.0000e+00]
 [4.8133e+04 0.0000e+00]
 [4.8733e+04 0.0000e+00]
 [4.9333e+04 1.6000e+01]
 [4.9933e+04 1.0000e+01]
 [5.0533e+04 1.4000e+01]
 [5.1133e+04 1.4000e+01]
 [5.1733e+04 4.0000e+00]
 [5.2333e+04 0.0000e+00]
 [5.2933e+04 1.4000e+01]
 [5.3533e+04 2.2000e+01]
 [5.4133e+04 2.0000e+01]
 [5.4733e+04 4.0000e+00]
 [5.5333e+04 0.0000e+00]
 [5.5933e+04 0.0000e+00]
 [5.6533e+04 0.0000e+00]
 [5.7133e+04 0.0000e+00]
 [5.7733e+04 0.0000e+00]
 [5.8333e+04 3.2000e+01]
 [5.8933e+04 4.0000e+01]
 [5.9533e+04 2.4000e+01]
 [6.0133e+04 3.2000e+01]
 [6.0733e+04 1.2000e+01]
 [6.1333e+04 2.0000e+00]
 [6.1933e+04 0.0000e+00]
 [6.2533e+04 4.6000e+01]
 [6.3133e+04 5.8000e+01]
 [6.3733e+04 8.8000e+01]
 [6.4333e+04 2.8000e+01]
 [6.4933e+04 3.4000e+01]
 [6.5533e+04 2.0000e+01]
 [6.6133e+04 0.0000e+00]
 [6.6733e+04 0.0000e+00]
 [6.7333e+04 1.2000e+01]
 [6.7933e+04 2.8000e+01]
 [6.8533e+04 1.8000e+01]
 [6.9133e+04 2.2000e+01]
 [6.9733e+04 1.4000e+01]
 [7.0333e+04 4.0000e+01]
 [7.0933e+04 2.0000e+00]
 [7.1533e+04 0.0000e+00]
 [7.2133e+04 0.0000e+00]
 [7.2733e+04 1.6000e+01]
 [7.3333e+04 3.2000e+01]
 [7.3933e+04 2.4000e+01]]
Origin destination interval view
     time_in  time_out
0   22333.0   22933.0
1   24733.0   25333.0
2   28933.0   29533.0
3   37333.0   37933.0
4   42733.0   43333.0
5   47533.0   48133.0
6   52333.0   52933.0
7   55333.0   55933.0
8   61933.0   62533.0
9   66133.0   66733.0
10  71533.0   72133.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    427668190        1  1398/06/23  22333  D44       2
1    427668190        1  1398/06/23  22333  D44       2
2   3180814910        1  1398/06/23  22339  D44       2
3   3180814910        1  1398/06/23  22339  D44       2
4   1788471364        1  1398/06/23  22475  D44       2
..         ...      ...         ...    ...  ...     ...
83  1002629303        1  1398/06/23  62486  D44      10
84  3818551765        1  1398/06/23  62505  D44      10
85  3818551765        1  1398/06/23  62505  D44      10
86  2505928260        1  1398/06/23  62511  D44      10
87  2505928260        1  1398/06/23  62511  D44      10

[88 rows x 6 columns]
time_start time_stop 22933.0 24733.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    181358358        1  1398/06/23  22990  D44
1    181358358        1  1398/06/23  22990  D44
2   3405863393        1  1398/06/23  22997  D44
3   3405863393        1  1398/06/23  22997  D44
4   3557680433        1  1398/06/23  22999  D44
5   3557680433        1  1398/06/23  22999  D44
6   3405812918        1  1398/06/23  23002  D44
7   3405812918        1  1398/06/23  23002  D44
8   4270936594        1  1398/06/23  23067  D44
9   4270936594        1  1398/06/23  23067  D44
10  1291951998        1  1398/06/23  23118  D44
11  1291951998        1  1398/06/23  23118  D44
12  2620654716        1  1398/06/23  23320  D44
13  2620654716        1  1398/06/23  23320  D44
14  3446771948        1  1398/06/23  23580  D44
15  3446771948        1  1398/06/23  23580  D44
16  1160411662        1  1398/06/23  23585  D44
17  1160411662        1  1398/06/23  23585  D44
18  2855439934        1  1398/06/23  23595  D44
19  2855439934        1  1398/06/23  23595  D44
20   722045737        1  1398/06/23  23738  D44
21   722045737        1  1398/06/23  23738  D44
time_start time_stop 25333.0 28933.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3603710620        1  1398/06/23  26010  D44
1   3603710620        1  1398/06/23  26010  D44
2    555554846        1  1398/06/23  26033  D44
3    555554846        1  1398/06/23  26033  D44
4   3206132772        1  1398/06/23  26056  D44
5   3206132772        1  1398/06/23  26056  D44
6   3206132772        1  1398/06/23  26057  D44
7   3206132772        1  1398/06/23  26057  D44
8   1845574228        1  1398/06/23  26205  D44
9   1845574228        1  1398/06/23  26205  D44
10  3649811588        1  1398/06/23  26575  D44
11  3649811588        1  1398/06/23  26575  D44
12  3205343589        1  1398/06/23  27066  D44
13  3205343589        1  1398/06/23  27066  D44
14  2743412324        1  1398/06/23  27138  D44
15  2743412324        1  1398/06/23  27138  D44
16   721921292        1  1398/06/23  27218  D44
17   721921292        1  1398/06/23  27218  D44
18   175008964        1  1398/06/23  27233  D44
19   175008964        1  1398/06/23  27233  D44
20  1003288983        1  1398/06/23  27347  D44
21  1003288983        1  1398/06/23  27347  D44
22  3793450812        1  1398/06/23  27377  D44
23  3793450812        1  1398/06/23  27377  D44
24  3205503557        1  1398/06/23  27429  D44
25  3205503557        1  1398/06/23  27429  D44
26   721814455        1  1398/06/23  27432  D44
27   721814455        1  1398/06/23  27432  D44
28   721864985        1  1398/06/23  27436  D44
29   721864985        1  1398/06/23  27436  D44
30  3794499148        1  1398/06/23  27447  D44
31  3794499148        1  1398/06/23  27447  D44
32   722234162        1  1398/06/23  27451  D44
33   722234162        1  1398/06/23  27451  D44
34  2115830932        1  1398/06/23  27563  D44
35  2115830932        1  1398/06/23  27563  D44
36  4244739191        1  1398/06/23  27565  D44
37  4244739191        1  1398/06/23  27565  D44
38  1595220916        1  1398/06/23  27675  D44
39  1595220916        1  1398/06/23  27675  D44
40  3206961157        1  1398/06/23  27867  D44

41  3206961157        1  1398/06/23  27867  D44
time_start time_stop 29533.0 37333.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1001697358        1  1398/06/23  29995  D44
1    1001697358        1  1398/06/23  29995  D44
2    3631219484        1  1398/06/23  30001  D44
3    3631219484        1  1398/06/23  30001  D44
4    3631219484        1  1398/06/23  30003  D44
..          ...      ...         ...    ...  ...
373  2239154092        1  1398/06/23  36204  D44
374  2239154092        1  1398/06/23  36450  D44
375  2239154092        1  1398/06/23  36450  D44
376  2740929028        1  1398/06/23  36580  D44
377  2740929028        1  1398/06/23  36580  D44

[378 rows x 5 columns]
time_start time_stop 37933.0 42733.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2239066490        1  1398/06/23  38214  D44
1    2239066490        1  1398/06/23  38214  D44
2    2239066490        1  1398/06/23  38215  D44
3    2239066490        1  1398/06/23  38215  D44
4    3679403148        1  1398/06/23  38256  D44
..          ...      ...         ...    ...  ...
235   256834849        1  1398/06/23  41916  D44
236   722215758        1  1398/06/23  42078  D44
237   722215758        1  1398/06/23  42078  D44
238  3794874412        1  1398/06/23  42089  D44
239  3794874412        1  1398/06/23  42089  D44

[240 rows x 5 columns]
time_start time_stop 43333.0 47533.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1528301102        1  1398/06/23  43413  D44
1    1528301102        1  1398/06/23  43413  D44
2    2123299316        1  1398/06/23  43501  D44
3    2123299316        1  1398/06/23  43501  D44
4    3179884414        1  1398/06/23  43510  D44
..          ...      ...         ...    ...  ...
171  1335634821        1  1398/06/23  46160  D44
172  2239160976        1  1398/06/23  46242  D44
173  2239160976        1  1398/06/23  46242  D44
174  3649866628        1  1398/06/23  46615  D44
175  3649866628        1  1398/06/23  46615  D44

[176 rows x 5 columns]
time_start time_stop 48133.0 52333.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3446201276        1  1398/06/23  48779  D44
1   3446201276        1  1398/06/23  48779  D44
2   2855651950        1  1398/06/23  49134  D44
3   2855651950        1  1398/06/23  49134  D44
4    261651809        1  1398/06/23  49137  D44
5    261651809        1  1398/06/23  49137  D44
6   3631522908        1  1398/06/23  49148  D44
7   3631522908        1  1398/06/23  49148  D44
8   3631522908        1  1398/06/23  49149  D44
9   3631522908        1  1398/06/23  49149  D44
10  2481957732        1  1398/06/23  49302  D44
11  2481957732        1  1398/06/23  49302  D44
12  3444835164        1  1398/06/23  49303  D44
13  3444835164        1  1398/06/23  49303  D44
14  3701196069        1  1398/06/23  49306  D44
15  3701196069        1  1398/06/23  49306  D44
16  2498245789        1  1398/06/23  49528  D44
17  2498245789        1  1398/06/23  49528  D44
18   721904471        1  1398/06/23  49702  D44
19   721904471        1  1398/06/23  49702  D44
20   721946599        1  1398/06/23  49749  D44
21   721946599        1  1398/06/23  49749  D44
22  1001915470        1  1398/06/23  49756  D44
23  1001915470        1  1398/06/23  49756  D44
24   182731366        1  1398/06/23  49832  D44
25   182731366        1  1398/06/23  49832  D44
26  3648938836        1  1398/06/23  50060  D44
27  3648938836        1  1398/06/23  50060  D44
28  2052784306        1  1398/06/23  50257  D44
29  2052784306        1  1398/06/23  50257  D44
30  2052784306        1  1398/06/23  50259  D44
31  2052784306        1  1398/06/23  50259  D44
32  4246191511        1  1398/06/23  50264  D44
33  4246191511        1  1398/06/23  50264  D44
34  3150813502        1  1398/06/23  50265  D44
35  3150813502        1  1398/06/23  50265  D44
36  1833470813        1  1398/06/23  50453  D44
37  2137448221        1  1398/06/23  50453  D44
38  1833470813        1  1398/06/23  50453  D44
39  2137448221        1  1398/06/23  50453  D44
40  3152156894        1  1398/06/23  50644  D44
41  3152156894        1  1398/06/23  50644  D44
42  3405811852        1  1398/06/23  50646  D44
43  3405811852        1  1398/06/23  50646  D44
44  2044654462        1  1398/06/23  50779  D44
45  2044654462        1  1398/06/23  50779  D44
46  3672245602        1  1398/06/23  50782  D44
47  3672245602        1  1398/06/23  50782  D44
48  3679152716        1  1398/06/23  50785  D44
49  3679152716        1  1398/06/23  50785  D44
50  4256204148        1  1398/06/23  50787  D44
51  4256204148        1  1398/06/23  50787  D44
52  3180026110        1  1398/06/23  51060  D44
53  3180026110        1  1398/06/23  51060  D44
54  2740812068        1  1398/06/23  51182  D44
55  2740812068        1  1398/06/23  51182  D44
56  3206194804        1  1398/06/23  51272  D44
57  3206194804        1  1398/06/23  51272  D44
time_start time_stop 52933.0 55333.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3209420164        1  1398/06/23  52947  D44
1    209147387        1  1398/06/23  52947  D44
2    209147387        1  1398/06/23  52947  D44
3   3209420164        1  1398/06/23  52947  D44
4   1831824621        1  1398/06/23  53001  D44
5   1831824621        1  1398/06/23  53001  D44
6   2118163060        1  1398/06/23  53044  D44
7   2118163060        1  1398/06/23  53044  D44
8    722228810        1  1398/06/23  53282  D44
9    722228810        1  1398/06/23  53282  D44
10   991225518        1  1398/06/23  53355  D44
11   991225518        1  1398/06/23  53355  D44
12  1003226455        1  1398/06/23  53429  D44
13  1003226455        1  1398/06/23  53429  D44
14  2129810948        1  1398/06/23  53493  D44
15  2129810948        1  1398/06/23  53493  D44
16  1529486686        1  1398/06/23  53497  D44
17  1529486686        1  1398/06/23  53497  D44
18   362229316        1  1398/06/23  53502  D44
19   362229316        1  1398/06/23  53502  D44
20  3679835468        1  1398/06/23  53506  D44
21  3679835468        1  1398/06/23  53506  D44
22  2229451683        1  1398/06/23  53575  D44
23  2229451683        1  1398/06/23  53575  D44
24  1527163102        1  1398/06/23  53716  D44
25  1527163102        1  1398/06/23  53716  D44
26   555960142        1  1398/06/23  53729  D44
27   555960142        1  1398/06/23  53729  D44
28   555960142        1  1398/06/23  53731  D44
29   555960142        1  1398/06/23  53731  D44
30  3206415189        1  1398/06/23  53920  D44
31  3206415189        1  1398/06/23  53920  D44
32  3184015758        1  1398/06/23  53923  D44
33  3184015758        1  1398/06/23  53923  D44
34  3206415189        1  1398/06/23  53926  D44
35  3206415189        1  1398/06/23  53926  D44
36  1003108359        1  1398/06/23  53929  D44
37  1003108359        1  1398/06/23  53929  D44
38  3258164637        1  1398/06/23  53942  D44
39  3258164637        1  1398/06/23  53942  D44
40  2627865300        1  1398/06/23  54054  D44
41  2627865300        1  1398/06/23  54054  D44
42  4246009623        1  1398/06/23  54437  D44
43  4246009623        1  1398/06/23  54437  D44
44   294078811        1  1398/06/23  54446  D44
45   294078811        1  1398/06/23  54446  D44
time_start time_stop 55933.0 61933.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3214647140        1  1398/06/23  57774  D44
1    3214647140        1  1398/06/23  57774  D44
2    2618294636        1  1398/06/23  57780  D44
3    2618294636        1  1398/06/23  57780  D44
4     722251505        1  1398/06/23  57799  D44
..          ...      ...         ...    ...  ...
137  3105840517        1  1398/06/23  60439  D44
138   260820417        1  1398/06/23  60618  D44
139   260820417        1  1398/06/23  60618  D44
140   261370513        1  1398/06/23  60847  D44
141   261370513        1  1398/06/23  60847  D44

[142 rows x 5 columns]
time_start time_stop 62533.0 66133.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1368369422        1  1398/06/23  62537  D44
1    1368369422        1  1398/06/23  62537  D44
2    1368369422        1  1398/06/23  62538  D44
3    1368369422        1  1398/06/23  62538  D44
4    4270187714        1  1398/06/23  62576  D44
..          ...      ...         ...    ...  ...
223  3254590733        1  1398/06/23  65286  D44
224  3254590733        1  1398/06/23  65287  D44
225  3254590733        1  1398/06/23  65287  D44
226  2742092388        1  1398/06/23  65360  D44
227  2742092388        1  1398/06/23  65360  D44

[228 rows x 5 columns]
time_start time_stop 66733.0 71533.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3208101508        1  1398/06/23  67152  D44
1    3208101508        1  1398/06/23  67152  D44
2    3208101508        1  1398/06/23  67154  D44
3    3208101508        1  1398/06/23  67154  D44
4     646247837        1  1398/06/23  67162  D44
..          ...      ...         ...    ...  ...
131  3553797500        1  1398/06/23  70318  D44
132  3649135252        1  1398/06/23  70320  D44
133  3649135252        1  1398/06/23  70320  D44
134  2137233565        1  1398/06/23  70336  D44
135  2137233565        1  1398/06/23  70336  D44

[136 rows x 5 columns]
transactions in line 1 plat D92
           CardID  LineCode       FDate   Time plat
14482  3446800188         1  1398/06/23  45540  D92
14483  3446800188         1  1398/06/23  45540  D92
14484  2620469084         1  1398/06/23  45553  D92
14485  2620469084         1  1398/06/23  45553  D92
14486  2620469084         1  1398/06/23  45554  D92
...           ...       ...         ...    ...  ...
15477  2039188522         1  1398/06/23  78107  D92
15478  2188151859         1  1398/06/23  78192  D92
15479  2188151859         1  1398/06/23  78192  D92
15480  3794658780         1  1398/06/23  78756  D92
15481  3794658780         1  1398/06/23  78756  D92

[1000 rows x 5 columns]
first row of the selected chunck :
 [3446800188 1 '1398/06/23' 45540 'D92']
1000
t0 = 45540
ts = 78756
time_intervals 55
10min interval view
 for line 1 plat D92
 [[4.554e+04 0.000e+00]
 [4.614e+04 3.100e+01]
 [4.674e+04 1.600e+01]
 [4.734e+04 5.800e+01]
 [4.794e+04 4.400e+01]
 [4.854e+04 3.400e+01]
 [4.914e+04 2.000e+00]
 [4.974e+04 0.000e+00]
 [5.034e+04 0.000e+00]
 [5.094e+04 2.000e+00]
 [5.154e+04 1.800e+01]
 [5.214e+04 3.200e+01]
 [5.274e+04 1.200e+01]
 [5.334e+04 2.800e+01]
 [5.394e+04 1.600e+01]
 [5.454e+04 1.000e+01]
 [5.514e+04 2.000e+01]
 [5.574e+04 3.400e+01]
 [5.634e+04 4.200e+01]
 [5.694e+04 4.000e+00]
 [5.754e+04 2.000e+00]
 [5.814e+04 0.000e+00]
 [5.874e+04 0.000e+00]
 [5.934e+04 0.000e+00]
 [5.994e+04 0.000e+00]
 [6.054e+04 0.000e+00]
 [6.114e+04 4.000e+01]
 [6.174e+04 4.600e+01]
 [6.234e+04 4.200e+01]
 [6.294e+04 1.800e+01]
 [6.354e+04 1.400e+01]
 [6.414e+04 4.000e+00]
 [6.474e+04 0.000e+00]
 [6.534e+04 3.400e+01]
 [6.594e+04 4.400e+01]
 [6.654e+04 4.200e+01]
 [6.714e+04 1.000e+02]
 [6.774e+04 4.600e+01]
 [6.834e+04 4.000e+00]
 [6.894e+04 4.000e+00]
 [6.954e+04 0.000e+00]
 [7.014e+04 0.000e+00]
 [7.074e+04 1.200e+01]
 [7.134e+04 1.200e+01]
 [7.194e+04 1.200e+01]
 [7.254e+04 1.200e+01]
 [7.314e+04 1.000e+01]
 [7.374e+04 1.000e+01]
 [7.434e+04 0.000e+00]
 [7.494e+04 0.000e+00]
 [7.554e+04 0.000e+00]
 [7.614e+04 0.000e+00]
 [7.674e+04 4.000e+00]
 [7.734e+04 2.600e+01]
 [7.794e+04 3.400e+01]]
Origin destination interval view
    time_in  time_out
0  45540.0   46140.0
1  49740.0   50340.0
2  58140.0   58740.0
3  64740.0   65340.0
4  69540.0   70140.0
5  74340.0   74940.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3446800188        1  1398/06/23  45540  D92       2
1   3446800188        1  1398/06/23  45540  D92       2
2   2620469084        1  1398/06/23  45553  D92       2
3   2620469084        1  1398/06/23  45553  D92       2
4   2620469084        1  1398/06/23  45554  D92       2
..         ...      ...         ...    ...  ...     ...
61   212237004        1  1398/06/23  65269  D92       5
62   212237004        1  1398/06/23  65270  D92       5
63   212237004        1  1398/06/23  65270  D92       5
64  2497867229        1  1398/06/23  65287  D92       5
65  2497867229        1  1398/06/23  65287  D92       5

[66 rows x 6 columns]
time_start time_stop 46140.0 49740.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1407195132        1  1398/06/23  46366  D92
1    1407195132        1  1398/06/23  46366  D92
2    1283920190        1  1398/06/23  46368  D92
3    1283920190        1  1398/06/23  46368  D92
4    1527720094        1  1398/06/23  46370  D92
..          ...      ...         ...    ...  ...
149  4270191186        1  1398/06/23  48376  D92
150  1001831390        1  1398/06/23  48443  D92
151  1001831390        1  1398/06/23  48443  D92
152  1831670653        1  1398/06/23  48810  D92
153  1831670653        1  1398/06/23  48810  D92

[154 rows x 5 columns]
time_start time_stop 50340.0 58140.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2675776196        1  1398/06/23  50910  D92
1    2675776196        1  1398/06/23  50910  D92
2    3793092140        1  1398/06/23  51031  D92
3    3793092140        1  1398/06/23  51031  D92
4     721924370        1  1398/06/23  51040  D92
..          ...      ...         ...    ...  ...
215  3446758284        1  1398/06/23  56364  D92
216  1000571102        1  1398/06/23  56734  D92
217  1000571102        1  1398/06/23  56734  D92
218  1371172782        1  1398/06/23  57032  D92
219  1371172782        1  1398/06/23  57032  D92

[220 rows x 5 columns]
time_start time_stop 58740.0 64740.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     980522891        1  1398/06/23  60630  D92
1     980522891        1  1398/06/23  60630  D92
2     980522891        1  1398/06/23  60631  D92
3     980522891        1  1398/06/23  60631  D92
4     980522891        1  1398/06/23  60632  D92
..          ...      ...         ...    ...  ...
159  1611723211        1  1398/06/23  63245  D92
160  1293313550        1  1398/06/23  63601  D92
161  1293313550        1  1398/06/23  63601  D92
162  4276167682        1  1398/06/23  63706  D92
163  4276167682        1  1398/06/23  63706  D92

[164 rows x 5 columns]
time_start time_stop 65340.0 69540.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     645878797        1  1398/06/23  65393  D92
1    4059517101        1  1398/06/23  65393  D92
2     645878797        1  1398/06/23  65393  D92
3    4059517101        1  1398/06/23  65393  D92
4     182097334        1  1398/06/23  65484  D92
..          ...      ...         ...    ...  ...
235  3445611580        1  1398/06/23  68225  D92
236   722246387        1  1398/06/23  68467  D92
237   722246387        1  1398/06/23  68467  D92
238   722246387        1  1398/06/23  68468  D92
239   722246387        1  1398/06/23  68468  D92

[240 rows x 5 columns]
time_start time_stop 70140.0 74340.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2491197204        1  1398/06/23  70322  D92
1   2491197204        1  1398/06/23  70322  D92
2    982180603        1  1398/06/23  70510  D92
3    982180603        1  1398/06/23  70510  D92
4    638390139        1  1398/06/23  70696  D92
..         ...      ...         ...    ...  ...
63  2740520628        1  1398/06/23  73171  D92
64   262762065        1  1398/06/23  73172  D92
65   262762065        1  1398/06/23  73172  D92
66   105329747        1  1398/06/23  73399  D92
67   105329747        1  1398/06/23  73399  D92

[68 rows x 5 columns]
transactions in line 1 plat D94
           CardID  LineCode       FDate   Time plat
15482   426374638         1  1398/06/23  23642  D94
15483   426374638         1  1398/06/23  23642  D94
15484  2740637204         1  1398/06/23  23648  D94
15485  2740637204         1  1398/06/23  23648  D94
15486  3206499412         1  1398/06/23  23657  D94
...           ...       ...         ...    ...  ...
17317  3630312652         1  1398/06/23  76642  D94
17318   428543534         1  1398/06/23  76671  D94
17319   428543534         1  1398/06/23  76671  D94
17320   173141668         1  1398/06/23  77635  D94
17321   173141668         1  1398/06/23  77635  D94

[1840 rows x 5 columns]
first row of the selected chunck :
 [426374638 1 '1398/06/23' 23642 'D94']
1840
t0 = 23642
ts = 77635
time_intervals 90
10min interval view
 for line 1 plat D94
 [[2.3642e+04 0.0000e+00]
 [2.4242e+04 2.3000e+01]
 [2.4842e+04 3.0000e+01]
 [2.5442e+04 1.4000e+01]
 [2.6042e+04 1.2000e+01]
 [2.6642e+04 0.0000e+00]
 [2.7242e+04 1.0000e+01]
 [2.7842e+04 2.6000e+01]
 [2.8442e+04 4.4000e+01]
 [2.9042e+04 1.6000e+01]
 [2.9642e+04 2.0000e+00]
 [3.0242e+04 0.0000e+00]
 [3.0842e+04 0.0000e+00]
 [3.1442e+04 1.4000e+01]
 [3.2042e+04 6.4000e+01]
 [3.2642e+04 8.6000e+01]
 [3.3242e+04 4.4000e+01]
 [3.3842e+04 5.4000e+01]
 [3.4442e+04 2.0000e+01]
 [3.5042e+04 6.0000e+00]
 [3.5642e+04 1.8000e+01]
 [3.6242e+04 4.6000e+01]
 [3.6842e+04 3.4000e+01]
 [3.7442e+04 5.2000e+01]
 [3.8042e+04 4.0000e+01]
 [3.8642e+04 1.4000e+01]
 [3.9242e+04 2.0000e+00]
 [3.9842e+04 0.0000e+00]
 [4.0442e+04 1.0000e+01]
 [4.1042e+04 6.8000e+01]
 [4.1642e+04 5.0000e+01]
 [4.2242e+04 2.8000e+01]
 [4.2842e+04 4.0000e+01]
 [4.3442e+04 2.6000e+01]
 [4.4042e+04 1.4000e+01]
 [4.4642e+04 0.0000e+00]
 [4.5242e+04 2.0000e+01]
 [4.5842e+04 1.8000e+01]
 [4.6442e+04 4.8000e+01]
 [4.7042e+04 3.2000e+01]
 [4.7642e+04 1.2000e+01]
 [4.8242e+04 6.0000e+00]
 [4.8842e+04 0.0000e+00]
 [4.9442e+04 0.0000e+00]
 [5.0042e+04 0.0000e+00]
 [5.0642e+04 1.4000e+01]
 [5.1242e+04 2.6000e+01]
 [5.1842e+04 1.8000e+01]
 [5.2442e+04 1.4000e+01]
 [5.3042e+04 4.0000e+00]
 [5.3642e+04 1.4000e+01]
 [5.4242e+04 1.2000e+01]
 [5.4842e+04 1.2000e+01]
 [5.5442e+04 2.2000e+01]
 [5.6042e+04 1.2000e+01]
 [5.6642e+04 0.0000e+00]
 [5.7242e+04 0.0000e+00]
 [5.7842e+04 0.0000e+00]
 [5.8442e+04 0.0000e+00]
 [5.9042e+04 0.0000e+00]
 [5.9642e+04 1.6000e+01]
 [6.0242e+04 2.0000e+01]
 [6.0842e+04 8.6000e+01]
 [6.1442e+04 6.6000e+01]
 [6.2042e+04 2.4000e+01]
 [6.2642e+04 1.6000e+01]
 [6.3242e+04 8.0000e+00]
 [6.3842e+04 2.6000e+01]
 [6.4442e+04 3.2000e+01]
 [6.5042e+04 2.0000e+01]
 [6.5642e+04 4.2000e+01]
 [6.6242e+04 3.2000e+01]
 [6.6842e+04 4.2000e+01]
 [6.7442e+04 4.0000e+00]
 [6.8042e+04 0.0000e+00]
 [6.8642e+04 0.0000e+00]
 [6.9242e+04 6.0000e+00]
 [6.9842e+04 3.6000e+01]
 [7.0442e+04 4.0000e+01]
 [7.1042e+04 4.0000e+00]
 [7.1642e+04 4.0000e+00]
 [7.2242e+04 2.6000e+01]
 [7.2842e+04 2.0000e+00]
 [7.3442e+04 2.0000e+00]
 [7.4042e+04 0.0000e+00]
 [7.4642e+04 2.0000e+00]
 [7.5242e+04 2.8000e+01]
 [7.5842e+04 2.0000e+01]
 [7.6442e+04 3.4000e+01]
 [7.7042e+04 8.0000e+00]]
Origin destination interval view
    time_in  time_out
0  23642.0   24242.0
1  26642.0   27242.0
2  30242.0   30842.0
3  39842.0   40442.0
4  44642.0   45242.0
5  48842.0   49442.0
6  56642.0   57242.0
7  68042.0   68642.0
8  74042.0   74642.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    426374638        1  1398/06/23  23642  D94       2
1    426374638        1  1398/06/23  23642  D94       2
2   2740637204        1  1398/06/23  23648  D94       2
3   2740637204        1  1398/06/23  23648  D94       2
4   3206499412        1  1398/06/23  23657  D94       2
..         ...      ...         ...    ...  ...     ...
61   879622620        1  1398/06/23  45190  D94       6
62   879622620        1  1398/06/23  45192  D94       6
63   879622620        1  1398/06/23  45192  D94       6
64   300567691        1  1398/06/23  74636  D94      10
65   300567691        1  1398/06/23  74636  D94      10

[66 rows x 6 columns]
time_start time_stop 24242.0 26642.0

df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3184157278        1  1398/06/23  24379  D94
1   1371783982        1  1398/06/23  24379  D94
2   3184157278        1  1398/06/23  24379  D94
3   1371783982        1  1398/06/23  24379  D94
4    980749755        1  1398/06/23  24382  D94
5    980749755        1  1398/06/23  24382  D94
6   3258488813        1  1398/06/23  24455  D94
7   3258488813        1  1398/06/23  24455  D94
8   2741559444        1  1398/06/23  24458  D94
9   2741559444        1  1398/06/23  24458  D94
10   480208132        1  1398/06/23  24460  D94
11   480208132        1  1398/06/23  24460  D94
12  2507966036        1  1398/06/23  24521  D94
13   721784209        1  1398/06/23  24521  D94
14   721784209        1  1398/06/23  24521  D94
15  2507966036        1  1398/06/23  24521  D94
16  2137799309        1  1398/06/23  24528  D94
17  2137799309        1  1398/06/23  24528  D94
18   710044549        1  1398/06/23  24594  D94
19   710044549        1  1398/06/23  24594  D94
20  4254407156        1  1398/06/23  24652  D94
21  4254407156        1  1398/06/23  24652  D94
22  1765376100        1  1398/06/23  24655  D94
23  1765376100        1  1398/06/23  24655  D94
24  2743089076        1  1398/06/23  24721  D94
25  2743089076        1  1398/06/23  24721  D94
26  4244805767        1  1398/06/23  24798  D94
27  4244805767        1  1398/06/23  24798  D94
28   209147387        1  1398/06/23  24803  D94
29   209147387        1  1398/06/23  24803  D94
30   262830481        1  1398/06/23  24950  D94
31   262830481        1  1398/06/23  24950  D94
32  3206512924        1  1398/06/23  24954  D94
33  3206512924        1  1398/06/23  24954  D94
34  3445693644        1  1398/06/23  25078  D94
35  3445693644        1  1398/06/23  25078  D94
36  3553270492        1  1398/06/23  25265  D94
37  3553270492        1  1398/06/23  25265  D94
38  4059450509        1  1398/06/23  25268  D94
39  4059450509        1  1398/06/23  25268  D94
40   262238401        1  1398/06/23  25365  D94
41   262238401        1  1398/06/23  25365  D94
42  3630118604        1  1398/06/23  25367  D94
43  3630118604        1  1398/06/23  25367  D94
44  4275497394        1  1398/06/23  25520  D94
45  4275497394        1  1398/06/23  25520  D94
46   869191337        1  1398/06/23  25597  D94
47   869191337        1  1398/06/23  25597  D94
48  3701269733        1  1398/06/23  25656  D94
49  3701269733        1  1398/06/23  25656  D94
50  2045021134        1  1398/06/23  25660  D94
51  2045021134        1  1398/06/23  25660  D94
52   981366315        1  1398/06/23  25804  D94
53   981366315        1  1398/06/23  25804  D94
54   261269265        1  1398/06/23  25809  D94
55   261269265        1  1398/06/23  25809  D94
time_start time_stop 27242.0 30242.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1291992078        1  1398/06/23  27281  D94
1   1291992078        1  1398/06/23  27281  D94
2    869201543        1  1398/06/23  27336  D94
3    869201543        1  1398/06/23  27336  D94
4    982479275        1  1398/06/23  27384  D94
..         ...      ...         ...    ...  ...
83  3649984260        1  1398/06/23  28764  D94
84  1001870558        1  1398/06/23  28822  D94
85  1001870558        1  1398/06/23  28822  D94
86   985040395        1  1398/06/23  29159  D94
87   985040395        1  1398/06/23  29159  D94

[88 rows x 5 columns]
time_start time_stop 30842.0 39842.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3649193476        1  1398/06/23  31372  D94
1    3649193476        1  1398/06/23  31372  D94
2    1598781572        1  1398/06/23  31376  D94
3    1598781572        1  1398/06/23  31376  D94
4    2137866333        1  1398/06/23  31381  D94
..          ...      ...         ...    ...  ...
489  2045209806        1  1398/06/23  38330  D94
490  3181391758        1  1398/06/23  38375  D94
491  3181391758        1  1398/06/23  38375  D94
492   361002868        1  1398/06/23  38871  D94
493   361002868        1  1398/06/23  38871  D94

[494 rows x 5 columns]
time_start time_stop 40442.0 44642.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    4269491426        1  1398/06/23  40563  D94
1    4269491426        1  1398/06/23  40563  D94
2    1001237630        1  1398/06/23  40569  D94
3    1001237630        1  1398/06/23  40569  D94
4    2740799444        1  1398/06/23  40570  D94
..          ...      ...         ...    ...  ...
221   428877422        1  1398/06/23  43585  D94
222   362766532        1  1398/06/23  43666  D94
223   362766532        1  1398/06/23  43666  D94
224  3202333732        1  1398/06/23  43687  D94
225  3202333732        1  1398/06/23  43687  D94

[226 rows x 5 columns]
time_start time_stop 45242.0 48842.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1835190221        1  1398/06/23  45255  D94
1    1835190221        1  1398/06/23  45255  D94
2    3792559868        1  1398/06/23  45263  D94
3    3792559868        1  1398/06/23  45263  D94
4     168641860        1  1398/06/23  45326  D94
..          ...      ...         ...    ...  ...
111   180779398        1  1398/06/23  47651  D94
112   180779398        1  1398/06/23  47653  D94
113   180779398        1  1398/06/23  47653  D94
114   261696353        1  1398/06/23  47661  D94
115   261696353        1  1398/06/23  47661  D94

[116 rows x 5 columns]
time_start time_stop 49442.0 56642.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    4269808850        1  1398/06/23  50128  D94
1    4269808850        1  1398/06/23  50128  D94
2    3677905932        1  1398/06/23  50148  D94
3    3677905932        1  1398/06/23  50148  D94
4    3201359092        1  1398/06/23  50257  D94
..          ...      ...         ...    ...  ...
143   175098678        1  1398/06/23  55531  D94
144  3649827476        1  1398/06/23  55806  D94
145  3649827476        1  1398/06/23  55806  D94
146  3446201276        1  1398/06/23  55807  D94
147  3446201276        1  1398/06/23  55807  D94

[148 rows x 5 columns]
time_start time_stop 57242.0 68042.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1371898910        1  1398/06/23  59458  D94
1    1371898910        1  1398/06/23  59458  D94
2     556195710        1  1398/06/23  59503  D94
3     556195710        1  1398/06/23  59503  D94
4     721931634        1  1398/06/23  59519  D94
..          ...      ...         ...    ...  ...
429   721882830        1  1398/06/23  66832  D94
430   427604478        1  1398/06/23  66893  D94
431   427604478        1  1398/06/23  66893  D94
432  1530469246        1  1398/06/23  67273  D94
433  1530469246        1  1398/06/23  67273  D94

[434 rows x 5 columns]
time_start time_stop 68642.0 74042.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3210100100        1  1398/06/23  69234  D94
1    3210100100        1  1398/06/23  69234  D94
2    3210100100        1  1398/06/23  69235  D94
3    3210100100        1  1398/06/23  69235  D94
4    3210100100        1  1398/06/23  69236  D94
..          ...      ...         ...    ...  ...
115  3838890669        1  1398/06/23  72210  D94
116  3997257412        1  1398/06/23  72606  D94
117  3997257412        1  1398/06/23  72606  D94
118  2665236364        1  1398/06/23  72871  D94
119  2665236364        1  1398/06/23  72871  D94

[120 rows x 5 columns]
transactions in line 1 plat E31
           CardID  LineCode       FDate   Time plat
17322  3630924908         1  1398/06/23  24567  E31
17323  3630924908         1  1398/06/23  24567  E31
17324   722176236         1  1398/06/23  24575  E31
17325   722176236         1  1398/06/23  24575  E31
17326  2542179726         1  1398/06/23  24581  E31
...           ...       ...         ...    ...  ...
19015  4276381650         1  1398/06/23  81007  E31
19016  4276381650         1  1398/06/23  81009  E31
19017  4276381650         1  1398/06/23  81009  E31
19018  4265342754         1  1398/06/23  82180  E31
19019  4265342754         1  1398/06/23  82180  E31

[1698 rows x 5 columns]
first row of the selected chunck :
 [3630924908 1 '1398/06/23' 24567 'E31']
1698
t0 = 24567
ts = 82180
time_intervals 96
10min interval view
 for line 1 plat E31
 [[2.4567e+04 0.0000e+00]
 [2.5167e+04 4.5000e+01]
 [2.5767e+04 1.8000e+01]
 [2.6367e+04 1.6000e+01]
 [2.6967e+04 0.0000e+00]
 [2.7567e+04 0.0000e+00]
 [2.8167e+04 1.0000e+01]
 [2.8767e+04 1.8000e+01]
 [2.9367e+04 2.2000e+01]
 [2.9967e+04 8.0000e+00]
 [3.0567e+04 0.0000e+00]
 [3.1167e+04 0.0000e+00]
 [3.1767e+04 0.0000e+00]
 [3.2367e+04 0.0000e+00]
 [3.2967e+04 0.0000e+00]
 [3.3567e+04 3.8000e+01]
 [3.4167e+04 8.6000e+01]
 [3.4767e+04 4.2000e+01]
 [3.5367e+04 3.8000e+01]
 [3.5967e+04 8.0000e+00]
 [3.6567e+04 2.0000e+00]
 [3.7167e+04 0.0000e+00]
 [3.7767e+04 4.0000e+01]
 [3.8367e+04 4.0000e+01]
 [3.8967e+04 2.6000e+01]
 [3.9567e+04 6.2000e+01]
 [4.0167e+04 6.0000e+00]
 [4.0767e+04 2.0000e+00]
 [4.1367e+04 0.0000e+00]
 [4.1967e+04 6.0000e+00]
 [4.2567e+04 4.2000e+01]
 [4.3167e+04 6.2000e+01]
 [4.3767e+04 3.8000e+01]
 [4.4367e+04 2.2000e+01]
 [4.4967e+04 2.8000e+01]
 [4.5567e+04 8.0000e+00]
 [4.6167e+04 0.0000e+00]
 [4.6767e+04 1.2000e+01]
 [4.7367e+04 3.2000e+01]
 [4.7967e+04 1.4000e+01]
 [4.8567e+04 2.2000e+01]
 [4.9167e+04 1.0000e+01]
 [4.9767e+04 0.0000e+00]
 [5.0367e+04 0.0000e+00]
 [5.0967e+04 0.0000e+00]
 [5.1567e+04 0.0000e+00]
 [5.2167e+04 4.0000e+00]
 [5.2767e+04 2.4000e+01]
 [5.3367e+04 4.8000e+01]
 [5.3967e+04 1.4000e+01]
 [5.4567e+04 1.2000e+01]
 [5.5167e+04 0.0000e+00]
 [5.5767e+04 6.0000e+00]
 [5.6367e+04 1.8000e+01]
 [5.6967e+04 2.4000e+01]
 [5.7567e+04 3.4000e+01]
 [5.8167e+04 1.0000e+01]
 [5.8767e+04 0.0000e+00]
 [5.9367e+04 0.0000e+00]
 [5.9967e+04 0.0000e+00]
 [6.0567e+04 0.0000e+00]
 [6.1167e+04 0.0000e+00]
 [6.1767e+04 6.0000e+00]
 [6.2367e+04 5.4000e+01]
 [6.2967e+04 9.2000e+01]
 [6.3567e+04 3.4000e+01]
 [6.4167e+04 3.6000e+01]
 [6.4767e+04 2.0000e+01]
 [6.5367e+04 3.0000e+01]
 [6.5967e+04 0.0000e+00]
 [6.6567e+04 1.0000e+01]
 [6.7167e+04 4.4000e+01]
 [6.7767e+04 4.8000e+01]
 [6.8367e+04 1.0000e+02]
 [6.8967e+04 4.2000e+01]
 [6.9567e+04 2.0000e+01]
 [7.0167e+04 1.2000e+01]
 [7.0767e+04 0.0000e+00]
 [7.1367e+04 1.0000e+01]
 [7.1967e+04 2.2000e+01]
 [7.2567e+04 2.2000e+01]
 [7.3167e+04 1.2000e+01]
 [7.3767e+04 2.4000e+01]
 [7.4367e+04 1.6000e+01]
 [7.4967e+04 4.0000e+00]
 [7.5567e+04 0.0000e+00]
 [7.6167e+04 0.0000e+00]
 [7.6767e+04 0.0000e+00]
 [7.7367e+04 0.0000e+00]
 [7.7967e+04 0.0000e+00]
 [7.8567e+04 0.0000e+00]
 [7.9167e+04 0.0000e+00]
 [7.9767e+04 0.0000e+00]
 [8.0367e+04 0.0000e+00]
 [8.0967e+04 1.6000e+01]
 [8.1567e+04 4.0000e+00]]
Origin destination interval view
     time_in  time_out
0   24567.0   25167.0
1   26967.0   27567.0
2   30567.0   31167.0
3   37167.0   37767.0
4   41367.0   41967.0
5   46167.0   46767.0
6   49767.0   50367.0
7   55167.0   55767.0
8   58767.0   59367.0
9   65967.0   66567.0
10  70767.0   71367.0
11  75567.0   76167.0

OD bus stations of transactions:
          CardID LineCode       FDate   Time plat Station
0    3630924908        1  1398/06/23  24567  E31       2
1    3630924908        1  1398/06/23  24567  E31       2
2     722176236        1  1398/06/23  24575  E31       2
3     722176236        1  1398/06/23  24575  E31       2
4    2542179726        1  1398/06/23  24581  E31       2
..          ...      ...         ...    ...  ...     ...
125   175498102        1  1398/06/23  71189  E31      12
126   175498102        1  1398/06/23  71191  E31      12
127   175498102        1  1398/06/23  71191  E31      12
128  3791825333        1  1398/06/23  71345  E31      12
129  3791825333        1  1398/06/23  71345  E31      12

[130 rows x 6 columns]
time_start time_stop 25167.0 26967.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1407534361        1  1398/06/23  25236  E31
1   1407534361        1  1398/06/23  25236  E31
2   2740668468        1  1398/06/23  25238  E31
3   2740668468        1  1398/06/23  25238  E31
4    235375418        1  1398/06/23  25244  E31
5    235375418        1  1398/06/23  25244  E31
6   3205469029        1  1398/06/23  25304  E31
7   3205469029        1  1398/06/23  25304  E31
8   3648949172        1  1398/06/23  25322  E31
9   3648949172        1  1398/06/23  25322  E31
10   473277322        1  1398/06/23  25373  E31
11   473277322        1  1398/06/23  25373  E31
12  3211657812        1  1398/06/23  25471  E31
13  3211657812        1  1398/06/23  25471  E31
14  1360613402        1  1398/06/23  25572  E31
15  1360613402        1  1398/06/23  25572  E31
16  1368063342        1  1398/06/23  25617  E31
17  1368063342        1  1398/06/23  25617  E31
18  3603788268        1  1398/06/23  25799  E31
19  3603788268        1  1398/06/23  25799  E31
20   261593537        1  1398/06/23  25800  E31
21   261593537        1  1398/06/23  25800  E31
22  2680210398        1  1398/06/23  25884  E31
23  2680210398        1  1398/06/23  25884  E31
24  2680210398        1  1398/06/23  25885  E31
25  2680210398        1  1398/06/23  25885  E31
26  4266210050        1  1398/06/23  25889  E31
27  4266210050        1  1398/06/23  25889  E31
28  1835468973        1  1398/06/23  26151  E31
29  1835468973        1  1398/06/23  26151  E31
30   211085804        1  1398/06/23  26152  E31
31   211085804        1  1398/06/23  26152  E31
32  2659258812        1  1398/06/23  26266  E31
33  2659258812        1  1398/06/23  26266  E31
time_start time_stop 27567.0 30567.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2049640882        1  1398/06/23  27940  E31
1   2049640882        1  1398/06/23  27940  E31
2    721967206        1  1398/06/23  27943  E31
3    721967206        1  1398/06/23  27943  E31
4   1293359902        1  1398/06/23  27946  E31
5   1293359902        1  1398/06/23  27946  E31
6   1593688100        1  1398/06/23  28046  E31
7   1593688100        1  1398/06/23  28046  E31
8   4254842868        1  1398/06/23  28158  E31
9   4254842868        1  1398/06/23  28158  E31
10   474344666        1  1398/06/23  28185  E31
11   474344666        1  1398/06/23  28185  E31
12  3215215748        1  1398/06/23  28393  E31
13  3215215748        1  1398/06/23  28393  E31
14  3557997937        1  1398/06/23  28396  E31
15  3557997937        1  1398/06/23  28396  E31
16  3405934112        1  1398/06/23  28445  E31
17  3405934112        1  1398/06/23  28445  E31
18  1292229694        1  1398/06/23  28456  E31
19  1292229694        1  1398/06/23  28456  E31
20   869420231        1  1398/06/23  28622  E31
21   869420231        1  1398/06/23  28622  E31
22  2128446228        1  1398/06/23  28680  E31
23  2128446228        1  1398/06/23  28680  E31
24  2586679956        1  1398/06/23  28683  E31
25  2586679956        1  1398/06/23  28683  E31
26   981100251        1  1398/06/23  28742  E31
27   981100251        1  1398/06/23  28742  E31
28  2855014638        1  1398/06/23  28810  E31
29  2855014638        1  1398/06/23  28810  E31
30  3179413678        1  1398/06/23  28822  E31
31  3179413678        1  1398/06/23  28822  E31
32  3839952509        1  1398/06/23  28893  E31
33  3839952509        1  1398/06/23  28893  E31
34  2499841716        1  1398/06/23  28897  E31
35  2499841716        1  1398/06/23  28897  E31
36   212003852        1  1398/06/23  28948  E31
37   212003852        1  1398/06/23  28948  E31
38  3630460972        1  1398/06/23  28951  E31
39  3630460972        1  1398/06/23  28951  E31
40  1527451278        1  1398/06/23  28953  E31
41  1527451278        1  1398/06/23  28953  E31
42   722153108        1  1398/06/23  29061  E31
43   722153108        1  1398/06/23  29061  E31
44  2122930052        1  1398/06/23  29204  E31
45  2122930052        1  1398/06/23  29204  E31
46   721793965        1  1398/06/23  29294  E31
47   721793965        1  1398/06/23  29294  E31
48   721793965        1  1398/06/23  29295  E31
49   721793965        1  1398/06/23  29295  E31
50  4245552247        1  1398/06/23  29685  E31
51  4245552247        1  1398/06/23  29685  E31
52  3254238445        1  1398/06/23  29766  E31
53  3254238445        1  1398/06/23  29766  E31
54  3108781173        1  1398/06/23  29816  E31
55  3108781173        1  1398/06/23  29816  E31
56  3792215532        1  1398/06/23  29905  E31
57  3792215532        1  1398/06/23  29905  E31
time_start time_stop 31167.0 37167.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2855220206        1  1398/06/23  33012  E31
1    2855220206        1  1398/06/23  33012  E31
2    3108736069        1  1398/06/23  33016  E31
3    3108736069        1  1398/06/23  33016  E31
4     555397022        1  1398/06/23  33030  E31
..          ...      ...         ...    ...  ...
209  2239109897        1  1398/06/23  35647  E31
210  3446870412        1  1398/06/23  35954  E31
211  3446870412        1  1398/06/23  35954  E31
212  2039344346        1  1398/06/23  36031  E31
213  2039344346        1  1398/06/23  36031  E31

[214 rows x 5 columns]
time_start time_stop 37767.0 41367.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3793707516        1  1398/06/23  37791  E31
1    3793707516        1  1398/06/23  37791  E31
2    3793716140        1  1398/06/23  37800  E31
3    3793716140        1  1398/06/23  37800  E31
4    3631419564        1  1398/06/23  37958  E31
..          ...      ...         ...    ...  ...
131  2491829204        1  1398/06/23  39905  E31
132  2491829204        1  1398/06/23  39906  E31
133  2491829204        1  1398/06/23  39906  E31
134  2491583268        1  1398/06/23  40186  E31
135  2491583268        1  1398/06/23  40186  E31

[136 rows x 5 columns]
time_start time_stop 41967.0 46167.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1837756189        1  1398/06/23  42041  E31
1    1837756189        1  1398/06/23  42041  E31
2    1837756189        1  1398/06/23  42042  E31
3    1837756189        1  1398/06/23  42042  E31
4    2680752142        1  1398/06/23  42069  E31
..          ...      ...         ...    ...  ...
195   805763138        1  1398/06/23  45072  E31
196  1527263102        1  1398/06/23  45099  E31
197  1527263102        1  1398/06/23  45099  E31
198  2742762132        1  1398/06/23  45224  E31
199  2742762132        1  1398/06/23  45224  E31

[200 rows x 5 columns]
time_start time_stop 46767.0 49767.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2505538052        1  1398/06/23  46816  E31
1   2505538052        1  1398/06/23  46816  E31
2   4266317042        1  1398/06/23  46837  E31
3   4266317042        1  1398/06/23  46837  E31
4   2049942130        1  1398/06/23  46892  E31
..         ...      ...         ...    ...  ...
73  3446215516        1  1398/06/23  48766  E31
74  3446215516        1  1398/06/23  48767  E31
75  3446215516        1  1398/06/23  48767  E31
76  3553986812        1  1398/06/23  49027  E31
77  3553986812        1  1398/06/23  49027  E31

[78 rows x 5 columns]
time_start time_stop 50367.0 55167.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1001829118        1  1398/06/23  52021  E31
1    1001829118        1  1398/06/23  52021  E31
2    2680404430        1  1398/06/23  52145  E31
3    2680404430        1  1398/06/23  52145  E31
4     212169724        1  1398/06/23  52369  E31
..          ...      ...         ...    ...  ...
97    721854027        1  1398/06/23  54221  E31
98   2741345188        1  1398/06/23  54230  E31
99   2741345188        1  1398/06/23  54230  E31
100  1002846695        1  1398/06/23  54292  E31
101  1002846695        1  1398/06/23  54292  E31

[102 rows x 5 columns]
time_start time_stop 55767.0 58767.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2137594029        1  1398/06/23  55872  E31
1   2137594029        1  1398/06/23  55872  E31
2   2137594029        1  1398/06/23  55874  E31
3   2137594029        1  1398/06/23  55874  E31
4   3257985149        1  1398/06/23  55941  E31
..         ...      ...         ...    ...  ...
81  3153622558        1  1398/06/23  57732  E31
82  3153622558        1  1398/06/23  57733  E31
83  3153622558        1  1398/06/23  57733  E31
84   649990878        1  1398/06/23  57842  E31
85   649990878        1  1398/06/23  57842  E31

[86 rows x 5 columns]
time_start time_stop 59367.0 65967.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2742355796        1  1398/06/23  61745  E31
1    2742355796        1  1398/06/23  61745  E31
2    2742355796        1  1398/06/23  61746  E31
3    2742355796        1  1398/06/23  61746  E31
4    2742355796        1  1398/06/23  61747  E31
..          ...      ...         ...    ...  ...
267  2124414356        1  1398/06/23  65152  E31
268   260977633        1  1398/06/23  65364  E31
269   260977633        1  1398/06/23  65364  E31
270   260977633        1  1398/06/23  65365  E31
271   260977633        1  1398/06/23  65365  E31

[272 rows x 5 columns]
time_start time_stop 66567.0 70767.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2742305668        1  1398/06/23  66629  E31
1    2742305668        1  1398/06/23  66629  E31
2    3152488270        1  1398/06/23  66727  E31
3    2125660372        1  1398/06/23  66727  E31
4    3152488270        1  1398/06/23  66727  E31
..          ...      ...         ...    ...  ...
261  1831879693        1  1398/06/23  69846  E31
262  2741096340        1  1398/06/23  69893  E31
263  2741096340        1  1398/06/23  69893  E31
264  2741096340        1  1398/06/23  69895  E31
265  2741096340        1  1398/06/23  69895  E31

[266 rows x 5 columns]
time_start time_stop 71367.0 75567.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    645476797        1  1398/06/23  71402  E31
1    645476797        1  1398/06/23  71402  E31
2   3559122609        1  1398/06/23  71560  E31
3   3559122609        1  1398/06/23  71560  E31
4   2743328244        1  1398/06/23  71565  E31
..         ...      ...         ...    ...  ...
95   361666868        1  1398/06/23  74363  E31
96  3405962743        1  1398/06/23  74458  E31
97  3405962743        1  1398/06/23  74458  E31
98  3153520750        1  1398/06/23  74549  E31
99  3153520750        1  1398/06/23  74549  E31

[100 rows x 5 columns]
transactions in line 1 plat E52
           CardID  LineCode       FDate   Time plat
19020   869254986         1  1398/06/23  23037  E52
19021   869254986         1  1398/06/23  23037  E52
19022  3179347822         1  1398/06/23  23278  E52
19023  3179347822         1  1398/06/23  23278  E52
19024  1000721726         1  1398/06/23  23370  E52
...           ...       ...         ...    ...  ...
20357  2741847092         1  1398/06/23  73724  E52
20358  2741847092         1  1398/06/23  73725  E52
20359  2741847092         1  1398/06/23  73725  E52
20360  2741847092         1  1398/06/23  73726  E52
20361  2741847092         1  1398/06/23  73726  E52

[1342 rows x 5 columns]
first row of the selected chunck :
 [869254986 1 '1398/06/23' 23037 'E52']
1342
t0 = 23037
ts = 73726
time_intervals 84
10min interval view
 for line 1 plat E52
 [[2.3037e+04 0.0000e+00]
 [2.3637e+04 7.0000e+00]
 [2.4237e+04 1.0000e+01]
 [2.4837e+04 4.0000e+00]
 [2.5437e+04 0.0000e+00]
 [2.6037e+04 0.0000e+00]
 [2.6637e+04 2.2000e+01]
 [2.7237e+04 3.8000e+01]
 [2.7837e+04 5.6000e+01]
 [2.8437e+04 2.8000e+01]
 [2.9037e+04 4.0000e+00]
 [2.9637e+04 0.0000e+00]
 [3.0237e+04 0.0000e+00]
 [3.0837e+04 0.0000e+00]
 [3.1437e+04 0.0000e+00]
 [3.2037e+04 0.0000e+00]
 [3.2637e+04 0.0000e+00]
 [3.3237e+04 0.0000e+00]
 [3.3837e+04 0.0000e+00]
 [3.4437e+04 2.6000e+01]
 [3.5037e+04 1.6000e+01]
 [3.5637e+04 0.0000e+00]
 [3.6237e+04 0.0000e+00]
 [3.6837e+04 0.0000e+00]
 [3.7437e+04 0.0000e+00]
 [3.8037e+04 0.0000e+00]
 [3.8637e+04 0.0000e+00]
 [3.9237e+04 0.0000e+00]
 [3.9837e+04 1.0000e+01]
 [4.0437e+04 1.4000e+01]
 [4.1037e+04 3.0000e+01]
 [4.1637e+04 6.0000e+01]
 [4.2237e+04 8.2000e+01]
 [4.2837e+04 3.0000e+01]
 [4.3437e+04 1.8000e+01]
 [4.4037e+04 2.0000e+00]
 [4.4637e+04 0.0000e+00]
 [4.5237e+04 4.0000e+00]
 [4.5837e+04 3.2000e+01]
 [4.6437e+04 2.6000e+01]
 [4.7037e+04 2.6000e+01]
 [4.7637e+04 1.6000e+01]
 [4.8237e+04 2.0000e+00]
 [4.8837e+04 0.0000e+00]
 [4.9437e+04 6.0000e+00]
 [5.0037e+04 2.4000e+01]
 [5.0637e+04 4.6000e+01]
 [5.1237e+04 3.8000e+01]
 [5.1837e+04 1.2000e+01]
 [5.2437e+04 4.0000e+00]
 [5.3037e+04 0.0000e+00]
 [5.3637e+04 0.0000e+00]
 [5.4237e+04 0.0000e+00]
 [5.4837e+04 0.0000e+00]
 [5.5437e+04 2.8000e+01]
 [5.6037e+04 5.6000e+01]
 [5.6637e+04 1.6000e+01]
 [5.7237e+04 1.4000e+01]
 [5.7837e+04 8.0000e+00]
 [5.8437e+04 4.0000e+00]
 [5.9037e+04 1.8000e+01]
 [5.9637e+04 4.0000e+01]
 [6.0237e+04 3.0000e+01]
 [6.0837e+04 2.8000e+01]
 [6.1437e+04 4.0000e+00]
 [6.2037e+04 0.0000e+00]
 [6.2637e+04 0.0000e+00]
 [6.3237e+04 0.0000e+00]
 [6.3837e+04 0.0000e+00]
 [6.4437e+04 0.0000e+00]
 [6.5037e+04 3.2000e+01]
 [6.5637e+04 4.0000e+01]
 [6.6237e+04 2.2000e+01]
 [6.6837e+04 2.4000e+01]
 [6.7437e+04 1.4000e+01]
 [6.8037e+04 2.0000e+01]
 [6.8637e+04 1.0000e+01]
 [6.9237e+04 2.0000e+00]
 [6.9837e+04 1.0000e+01]
 [7.0437e+04 3.2000e+01]
 [7.1037e+04 4.2000e+01]
 [7.1637e+04 6.4000e+01]
 [7.2237e+04 3.4000e+01]
 [7.2837e+04 2.0000e+01]]
Origin destination interval view
    time_in  time_out
0  23037.0   23637.0
1  25437.0   26037.0
2  29637.0   30237.0
3  35637.0   36237.0
4  44637.0   45237.0
5  48837.0   49437.0
6  53037.0   53637.0
7  62037.0   62637.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    869254986        1  1398/06/23  23037  E52       2
1    869254986        1  1398/06/23  23037  E52       2
2   3179347822        1  1398/06/23  23278  E52       2
3   3179347822        1  1398/06/23  23278  E52       2
4   1000721726        1  1398/06/23  23370  E52       2
5   1000721726        1  1398/06/23  23370  E52       2
6    721723218        1  1398/06/23  23379  E52       2
7    721723218        1  1398/06/23  23379  E52       2
8   3794138652        1  1398/06/23  45123  E52       6
9   3794138652        1  1398/06/23  45123  E52       6
10  2672107428        1  1398/06/23  45236  E52       6
11  2672107428        1  1398/06/23  45236  E52       6
12  3207196437        1  1398/06/23  49028  E52       7
13  3207196437        1  1398/06/23  49028  E52       7
14  1459582373        1  1398/06/23  49256  E52       7
15  1459582373        1  1398/06/23  49256  E52       7
16  3445086540        1  1398/06/23  49284  E52       7
17  3445086540        1  1398/06/23  49284  E52       7
time_start time_stop 23637.0 25437.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2124204212        1  1398/06/23  23770  E52
1   2124204212        1  1398/06/23  23770  E52
2   1779342228        1  1398/06/23  23939  E52
3   1779342228        1  1398/06/23  23939  E52
4   3648499796        1  1398/06/23  23942  E52
5   3648499796        1  1398/06/23  23942  E52
6    427311198        1  1398/06/23  24174  E52
7    427311198        1  1398/06/23  24174  E52
8    869410483        1  1398/06/23  24177  E52
9    869410483        1  1398/06/23  24177  E52
10  1001833054        1  1398/06/23  24489  E52
11  1001833054        1  1398/06/23  24489  E52
12  1001833054        1  1398/06/23  24491  E52
13  1001833054        1  1398/06/23  24491  E52
time_start time_stop 26037.0 29637.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2741965812        1  1398/06/23  26440  E52
1    2741965812        1  1398/06/23  26440  E52
2    1529331230        1  1398/06/23  26448  E52
3    1529331230        1  1398/06/23  26448  E52
4    2118174212        1  1398/06/23  26462  E52
..          ...      ...         ...    ...  ...
143  2742305668        1  1398/06/23  28362  E52
144  3256208765        1  1398/06/23  28619  E52
145  3256208765        1  1398/06/23  28619  E52
146  4265724978        1  1398/06/23  28869  E52
147  4265724978        1  1398/06/23  28869  E52

[148 rows x 5 columns]
time_start time_stop 30237.0 35637.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2506177796        1  1398/06/23  34264  E52
1   2125324276        1  1398/06/23  34264  E52
2   2125324276        1  1398/06/23  34264  E52
3   2506177796        1  1398/06/23  34264  E52
4   2125324276        1  1398/06/23  34265  E52
5   2125324276        1  1398/06/23  34265  E52
6   1414842457        1  1398/06/23  34267  E52
7   1414842457        1  1398/06/23  34267  E52
8    721946947        1  1398/06/23  34270  E52
9   2239146531        1  1398/06/23  34270  E52
10   721946947        1  1398/06/23  34270  E52
11  2239146531        1  1398/06/23  34270  E52
12  4278392898        1  1398/06/23  34273  E52
13  4278392898        1  1398/06/23  34273  E52
14  4278392898        1  1398/06/23  34274  E52
15  4278392898        1  1398/06/23  34274  E52
16  4278392898        1  1398/06/23  34276  E52
17  4278392898        1  1398/06/23  34276  E52
18  3792698396        1  1398/06/23  34278  E52
19  3792698396        1  1398/06/23  34278  E52
20  2742956564        1  1398/06/23  34333  E52
21  2742956564        1  1398/06/23  34333  E52
22  2664875980        1  1398/06/23  34336  E52
23  2664875980        1  1398/06/23  34336  E52
24   542382043        1  1398/06/23  34388  E52
25   542382043        1  1398/06/23  34388  E52
26  4245679223        1  1398/06/23  34471  E52
27  4245679223        1  1398/06/23  34471  E52
28  3791930140        1  1398/06/23  34600  E52
29  3791930140        1  1398/06/23  34600  E52
30   260976769        1  1398/06/23  34667  E52
31   260976769        1  1398/06/23  34667  E52
32   425508526        1  1398/06/23  34706  E52
33   425508526        1  1398/06/23  34706  E52
34  1371987534        1  1398/06/23  34846  E52
35  1371987534        1  1398/06/23  34846  E52
36  1371987534        1  1398/06/23  34847  E52
37  1371987534        1  1398/06/23  34847  E52
38  2125232804        1  1398/06/23  34921  E52
39  2125232804        1  1398/06/23  34921  E52
40  2125232804        1  1398/06/23  34925  E52
41  2125232804        1  1398/06/23  34925  E52
time_start time_stop 36237.0 44637.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3555180225        1  1398/06/23  39761  E52
1    3555180225        1  1398/06/23  39761  E52
2     869404005        1  1398/06/23  39770  E52
3     869404005        1  1398/06/23  39770  E52
4     426388334        1  1398/06/23  39792  E52
..          ...      ...         ...    ...  ...
241  2659336444        1  1398/06/23  43308  E52
242  2740799444        1  1398/06/23  43313  E52
243  2740799444        1  1398/06/23  43313  E52
244  3555490705        1  1398/06/23  43663  E52
245  3555490705        1  1398/06/23  43663  E52

[246 rows x 5 columns]
time_start time_stop 45237.0 48837.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2672107428        1  1398/06/23  45242  E52
1    2672107428        1  1398/06/23  45242  E52
2    2672107428        1  1398/06/23  45243  E52
3    2672107428        1  1398/06/23  45243  E52
4    2672107428        1  1398/06/23  45244  E52
..          ...      ...         ...    ...  ...
97   1002892903        1  1398/06/23  47581  E52
98   2742144884        1  1398/06/23  47585  E52
99   2742144884        1  1398/06/23  47585  E52
100   235612362        1  1398/06/23  48040  E52
101   235612362        1  1398/06/23  48040  E52

[102 rows x 5 columns]
time_start time_stop 49437.0 53037.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     869426528        1  1398/06/23  49506  E52
1     869426528        1  1398/06/23  49506  E52
2     982138635        1  1398/06/23  49507  E52
3     982138635        1  1398/06/23  49507  E52
4    1594483364        1  1398/06/23  49551  E52
..          ...      ...         ...    ...  ...
119  3180675486        1  1398/06/23  51807  E52
120   721958987        1  1398/06/23  51957  E52
121   721958987        1  1398/06/23  51957  E52
122   721958987        1  1398/06/23  51959  E52
123   721958987        1  1398/06/23  51959  E52

[124 rows x 5 columns]
time_start time_stop 53637.0 62037.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1832672333        1  1398/06/23  55106  E52
1    1832672333        1  1398/06/23  55106  E52
2    1838051869        1  1398/06/23  55136  E52
3    1838051869        1  1398/06/23  55136  E52
4     721969940        1  1398/06/23  55138  E52
..          ...      ...         ...    ...  ...
241  1371882462        1  1398/06/23  60667  E52
242  1798989492        1  1398/06/23  61028  E52
243  1798989492        1  1398/06/23  61028  E52
244   984227211        1  1398/06/23  61035  E52
245   984227211        1  1398/06/23  61035  E52

[246 rows x 5 columns]
transactions in line 1 plat E55
           CardID  LineCode       FDate   Time plat
20362  2116349892         1  1398/06/23  22214  E55
20363  2116349892         1  1398/06/23  22214  E55
20364   536823662         1  1398/06/23  22230  E55
20365   536823662         1  1398/06/23  22230  E55
20366  2497827933         1  1398/06/23  22240  E55
...           ...       ...         ...    ...  ...
22119   361741556         1  1398/06/23  75135  E55
22120  4254739588         1  1398/06/23  75200  E55
22121  4254739588         1  1398/06/23  75200  E55
22122  2962086309         1  1398/06/23  75265  E55
22123  2962086309         1  1398/06/23  75265  E55

[1762 rows x 5 columns]
first row of the selected chunck :
 [2116349892 1 '1398/06/23' 22214 'E55']
1762
t0 = 22214
ts = 75265
time_intervals 88
10min interval view
 for line 1 plat E55
 [[2.2214e+04 0.0000e+00]
 [2.2814e+04 3.3000e+01]
 [2.3414e+04 6.0000e+00]
 [2.4014e+04 1.2000e+01]
 [2.4614e+04 0.0000e+00]
 [2.5214e+04 0.0000e+00]
 [2.5814e+04 4.0000e+00]
 [2.6414e+04 1.8000e+01]
 [2.7014e+04 1.8000e+01]
 [2.7614e+04 1.0000e+01]
 [2.8214e+04 0.0000e+00]
 [2.8814e+04 0.0000e+00]
 [2.9414e+04 0.0000e+00]
 [3.0014e+04 4.2000e+01]
 [3.0614e+04 7.2000e+01]
 [3.1214e+04 4.0000e+01]
 [3.1814e+04 1.0000e+01]
 [3.2414e+04 2.0000e+00]
 [3.3014e+04 0.0000e+00]
 [3.3614e+04 4.2000e+01]
 [3.4214e+04 4.0000e+01]
 [3.4814e+04 2.6000e+01]
 [3.5414e+04 6.0000e+01]
 [3.6014e+04 3.8000e+01]
 [3.6614e+04 1.6000e+01]
 [3.7214e+04 0.0000e+00]
 [3.7814e+04 1.8000e+01]
 [3.8414e+04 5.6000e+01]
 [3.9014e+04 6.0000e+01]
 [3.9614e+04 4.4000e+01]
 [4.0214e+04 3.0000e+01]
 [4.0814e+04 1.6000e+01]
 [4.1414e+04 1.0000e+01]
 [4.2014e+04 0.0000e+00]
 [4.2614e+04 6.0000e+00]
 [4.3214e+04 2.8000e+01]
 [4.3814e+04 2.0000e+01]
 [4.4414e+04 4.8000e+01]
 [4.5014e+04 7.4000e+01]
 [4.5614e+04 8.0000e+00]
 [4.6214e+04 1.6000e+01]
 [4.6814e+04 0.0000e+00]
 [4.7414e+04 0.0000e+00]
 [4.8014e+04 0.0000e+00]
 [4.8614e+04 1.6000e+01]
 [4.9214e+04 4.0000e+01]
 [4.9814e+04 2.6000e+01]
 [5.0414e+04 2.2000e+01]
 [5.1014e+04 1.0000e+01]
 [5.1614e+04 0.0000e+00]
 [5.2214e+04 1.8000e+01]
 [5.2814e+04 1.8000e+01]
 [5.3414e+04 2.4000e+01]
 [5.4014e+04 2.8000e+01]
 [5.4614e+04 0.0000e+00]
 [5.5214e+04 0.0000e+00]
 [5.5814e+04 0.0000e+00]
 [5.6414e+04 0.0000e+00]
 [5.7014e+04 0.0000e+00]
 [5.7614e+04 8.0000e+00]
 [5.8214e+04 3.6000e+01]
 [5.8814e+04 3.6000e+01]
 [5.9414e+04 1.2000e+01]
 [6.0014e+04 8.0000e+00]
 [6.0614e+04 0.0000e+00]
 [6.1214e+04 2.0000e+01]
 [6.1814e+04 3.2000e+01]
 [6.2414e+04 6.8000e+01]
 [6.3014e+04 3.4000e+01]
 [6.3614e+04 2.6000e+01]
 [6.4214e+04 2.0000e+00]
 [6.4814e+04 0.0000e+00]
 [6.5414e+04 0.0000e+00]
 [6.6014e+04 0.0000e+00]
 [6.6614e+04 2.0000e+00]
 [6.7214e+04 3.0000e+01]
 [6.7814e+04 3.4000e+01]
 [6.8414e+04 8.0000e+00]
 [6.9014e+04 3.0000e+01]
 [6.9614e+04 2.4000e+01]
 [7.0214e+04 2.4000e+01]
 [7.0814e+04 2.0000e+00]
 [7.1414e+04 0.0000e+00]
 [7.2014e+04 2.0000e+00]
 [7.2614e+04 4.2000e+01]
 [7.3214e+04 5.4000e+01]
 [7.3814e+04 2.0000e+01]
 [7.4414e+04 5.4000e+01]]
Origin destination interval view
     time_in  time_out
0   22214.0   22814.0
1   24614.0   25214.0
2   28214.0   28814.0
3   33014.0   33614.0
4   37214.0   37814.0
5   42014.0   42614.0
6   46814.0   47414.0
7   51614.0   52214.0
8   54614.0   55214.0
9   60614.0   61214.0
10  64814.0   65414.0
11  71414.0   72014.0
OD bus stations of transactions:
          CardID LineCode       FDate   Time plat Station
0    2116349892        1  1398/06/23  22214  E55       2
1    2116349892        1  1398/06/23  22214  E55       2
2     536823662        1  1398/06/23  22230  E55       2
3     536823662        1  1398/06/23  22230  E55       2
4    2497827933        1  1398/06/23  22240  E55       2
..          ...      ...         ...    ...  ...     ...
135  2045359822        1  1398/06/23  61110  E55      11
136   984044795        1  1398/06/23  61197  E55      11
137   984044795        1  1398/06/23  61197  E55      11
138   722058773        1  1398/06/23  71861  E55      13
139   722058773        1  1398/06/23  71861  E55      13

[140 rows x 6 columns]
time_start time_stop 22814.0 24614.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3792263484        1  1398/06/23  22822  E55
1   3792263484        1  1398/06/23  22822  E55
2   2680249646        1  1398/06/23  23030  E55
3   2680249646        1  1398/06/23  23030  E55
4    425992814        1  1398/06/23  23224  E55
5    425992814        1  1398/06/23  23224  E55
6   3151006366        1  1398/06/23  23463  E55
7   3151006366        1  1398/06/23  23463  E55
8   3405943142        1  1398/06/23  23464  E55
9   3405943142        1  1398/06/23  23464  E55
10  1284115838        1  1398/06/23  23569  E55
11  1284115838        1  1398/06/23  23569  E55
12  4266178146        1  1398/06/23  23578  E55
13  4266178146        1  1398/06/23  23578  E55
14  2501299908        1  1398/06/23  23783  E55
15  2501299908        1  1398/06/23  23783  E55
16   497103326        1  1398/06/23  23868  E55
17   497103326        1  1398/06/23  23868  E55
time_start time_stop 25214.0 28214.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2855512462        1  1398/06/23  25667  E55
1   2855512462        1  1398/06/23  25667  E55
2   1776202356        1  1398/06/23  25755  E55
3   1776202356        1  1398/06/23  25755  E55
4   1002414327        1  1398/06/23  25931  E55
5   1002414327        1  1398/06/23  25931  E55
6   2182909939        1  1398/06/23  25940  E55
7   2182909939        1  1398/06/23  25940  E55
8   3152276302        1  1398/06/23  25985  E55
9   3152276302        1  1398/06/23  25985  E55
10  2047961154        1  1398/06/23  26033  E55
11  2047961154        1  1398/06/23  26033  E55
12   433282773        1  1398/06/23  26162  E55
13   433282773        1  1398/06/23  26162  E55
14  2621724380        1  1398/06/23  26164  E55
15  2621724380        1  1398/06/23  26164  E55
16   536995134        1  1398/06/23  26248  E55
17   536995134        1  1398/06/23  26248  E55
18   536995134        1  1398/06/23  26249  E55
19   536995134        1  1398/06/23  26249  E55
20  2508758612        1  1398/06/23  26302  E55
21  2508758612        1  1398/06/23  26302  E55
22  2139041453        1  1398/06/23  26491  E55
23  2139041453        1  1398/06/23  26491  E55
24   174808406        1  1398/06/23  26852  E55
25   174808406        1  1398/06/23  26852  E55
26  3108835605        1  1398/06/23  26857  E55
27  3108835605        1  1398/06/23  26857  E55
28  3108835605        1  1398/06/23  26858  E55
29  3108835605        1  1398/06/23  26858  E55
30   722185230        1  1398/06/23  26859  E55
31   722185230        1  1398/06/23  26859  E55
32   722185230        1  1398/06/23  26860  E55
33   722185230        1  1398/06/23  26860  E55
34  1530716766        1  1398/06/23  26937  E55
35  1530716766        1  1398/06/23  26937  E55
36  2740709380        1  1398/06/23  26948  E55
37  2740709380        1  1398/06/23  26948  E55
38  2138763101        1  1398/06/23  27002  E55
39  2138763101        1  1398/06/23  27002  E55
40  3205939620        1  1398/06/23  27177  E55
41  3205939620        1  1398/06/23  27177  E55
42  3183940398        1  1398/06/23  27329  E55
43  3183940398        1  1398/06/23  27329  E55
44  3794455548        1  1398/06/23  27373  E55
45  3794455548        1  1398/06/23  27373  E55
46  3205430501        1  1398/06/23  27375  E55
47  3205430501        1  1398/06/23  27375  E55
48  2239098234        1  1398/06/23  27590  E55
49  2239098234        1  1398/06/23  27590  E55
time_start time_stop 28814.0 33014.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0      15956292        1  1398/06/23  29523  E55
1      15956292        1  1398/06/23  29523  E55
2    3405815920        1  1398/06/23  29526  E55
3    1002368727        1  1398/06/23  29526  E55
4    3405815920        1  1398/06/23  29526  E55
..          ...      ...         ...    ...  ...
161  3212507252        1  1398/06/23  31501  E55
162  2182668835        1  1398/06/23  31559  E55
163  2182668835        1  1398/06/23  31559  E55
164  4254644868        1  1398/06/23  32313  E55
165  4254644868        1  1398/06/23  32313  E55

[166 rows x 5 columns]
time_start time_stop 33614.0 37214.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    479575854        1  1398/06/23  33615  E55
1    479575854        1  1398/06/23  33615  E55
2    429898206        1  1398/06/23  33652  E55
3    429898206        1  1398/06/23  33652  E55
4    261003825        1  1398/06/23  33811  E55
..         ...      ...         ...    ...  ...
175  869380686        1  1398/06/23  36454  E55
176  981290795        1  1398/06/23  36515  E55
177  981290795        1  1398/06/23  36515  E55
178  721949819        1  1398/06/23  36542  E55
179  721949819        1  1398/06/23  36542  E55

[180 rows x 5 columns]
time_start time_stop 37814.0 42014.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     721926485        1  1398/06/23  37848  E55
1     721926485        1  1398/06/23  37848  E55
2    3253990173        1  1398/06/23  37926  E55
3    3253990173        1  1398/06/23  37926  E55
4    3793250956        1  1398/06/23  37989  E55
..          ...      ...         ...    ...  ...
211  3818883893        1  1398/06/23  41156  E55
212  2627960964        1  1398/06/23  41259  E55
213  2627960964        1  1398/06/23  41259  E55
214  2482309636        1  1398/06/23  41382  E55
215  2482309636        1  1398/06/23  41382  E55

[216 rows x 5 columns]
time_start time_stop 42614.0 46814.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1283868574        1  1398/06/23  42648  E55
1    1283868574        1  1398/06/23  42648  E55
2     722029140        1  1398/06/23  42690  E55
3     722029140        1  1398/06/23  42690  E55
4    3212196212        1  1398/06/23  42702  E55
..          ...      ...         ...    ...  ...
189  3208449140        1  1398/06/23  45851  E55
190  3208449140        1  1398/06/23  45852  E55
191  3208449140        1  1398/06/23  45852  E55
192  3648815524        1  1398/06/23  46033  E55
193  3648815524        1  1398/06/23  46033  E55

[194 rows x 5 columns]
time_start time_stop 47414.0 51614.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     262138353        1  1398/06/23  48372  E55
1     262138353        1  1398/06/23  48372  E55
2    2184283219        1  1398/06/23  48515  E55
3    2184283219        1  1398/06/23  48515  E55
4    1595476212        1  1398/06/23  48542  E55
..          ...      ...         ...    ...  ...
109   173474292        1  1398/06/23  50663  E55
110  2743129748        1  1398/06/23  50666  E55
111  2743129748        1  1398/06/23  50666  E55
112  2235872067        1  1398/06/23  51006  E55
113  2235872067        1  1398/06/23  51006  E55

[114 rows x 5 columns]
time_start time_stop 52214.0 54614.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3603911708        1  1398/06/23  52238  E55
1   3603911708        1  1398/06/23  52238  E55
2   3603911708        1  1398/06/23  52240  E55
3   3603911708        1  1398/06/23  52240  E55
4   3180026110        1  1398/06/23  52256  E55
..         ...      ...         ...    ...  ...
65   211017307        1  1398/06/23  53593  E55
66  1593127108        1  1398/06/23  53594  E55
67  1593127108        1  1398/06/23  53594  E55
68  2509300484        1  1398/06/23  53928  E55
69  2509300484        1  1398/06/23  53928  E55

[70 rows x 5 columns]
time_start time_stop 55214.0 60614.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   4276211890        1  1398/06/23  57514  E55
1   4276211890        1  1398/06/23  57514  E55
2   3792329516        1  1398/06/23  57540  E55
3   3792329516        1  1398/06/23  57540  E55
4    985210827        1  1398/06/23  57543  E55
..         ...      ...         ...    ...  ...
95  2123773892        1  1398/06/23  59502  E55
96  2044412846        1  1398/06/23  59557  E55
97  2044412846        1  1398/06/23  59557  E55
98  3179418478        1  1398/06/23  59745  E55
99  3179418478        1  1398/06/23  59745  E55

[100 rows x 5 columns]
time_start time_stop 61214.0 64814.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     262135809        1  1398/06/23  61221  E55
1     262135809        1  1398/06/23  61221  E55
2     721762615        1  1398/06/23  61298  E55
3     721762615        1  1398/06/23  61298  E55
4    2045371742        1  1398/06/23  61324  E55
..          ...      ...         ...    ...  ...
157  3648251412        1  1398/06/23  63552  E55
158  3648251412        1  1398/06/23  63554  E55
159  3648251412        1  1398/06/23  63554  E55
160   722196916        1  1398/06/23  63829  E55
161   722196916        1  1398/06/23  63829  E55

[162 rows x 5 columns]
time_start time_stop 65414.0 71414.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1001555102        1  1398/06/23  66606  E55
1    1001555102        1  1398/06/23  66606  E55
2     984050123        1  1398/06/23  66664  E55
3     984050123        1  1398/06/23  66664  E55
4     984050123        1  1398/06/23  66666  E55
..          ...      ...         ...    ...  ...
149  2501570436        1  1398/06/23  70085  E55
150  3631192188        1  1398/06/23  70087  E55
151  3631192188        1  1398/06/23  70087  E55
152   721957948        1  1398/06/23  70332  E55
153   721957948        1  1398/06/23  70332  E55

[154 rows x 5 columns]
transactions in line 1 plat F82
           CardID  LineCode       FDate   Time plat
22124  3152820782         1  1398/06/23  23231  F82
22125  3152820782         1  1398/06/23  23231  F82
22126   722155418         1  1398/06/23  23320  F82
22127   722155418         1  1398/06/23  23320  F82
22128  2239157527         1  1398/06/23  23392  F82
...           ...       ...         ...    ...  ...
23787  3205276405         1  1398/06/23  77745  F82
23788  3205276405         1  1398/06/23  77749  F82
23789  3205276405         1  1398/06/23  77749  F82
23790  3678079740         1  1398/06/23  77967  F82
23791  3678079740         1  1398/06/23  77967  F82

[1668 rows x 5 columns]
first row of the selected chunck :
 [3152820782 1 '1398/06/23' 23231 'F82']
1668
t0 = 23231
ts = 77967
time_intervals 91
10min interval view
 for line 1 plat F82
 [[2.3231e+04 0.0000e+00]
 [2.3831e+04 2.1000e+01]
 [2.4431e+04 4.2000e+01]
 [2.5031e+04 1.8000e+01]
 [2.5631e+04 4.0000e+00]
 [2.6231e+04 0.0000e+00]
 [2.6831e+04 1.4000e+01]
 [2.7431e+04 8.0000e+00]
 [2.8031e+04 3.2000e+01]
 [2.8631e+04 3.6000e+01]
 [2.9231e+04 2.0000e+00]
 [2.9831e+04 0.0000e+00]
 [3.0431e+04 0.0000e+00]
 [3.1031e+04 1.0000e+01]
 [3.1631e+04 3.8000e+01]
 [3.2231e+04 5.6000e+01]
 [3.2831e+04 3.0000e+01]
 [3.3431e+04 1.8000e+01]
 [3.4031e+04 4.0000e+00]
 [3.4631e+04 0.0000e+00]
 [3.5231e+04 2.6000e+01]
 [3.5831e+04 3.2000e+01]
 [3.6431e+04 2.8000e+01]
 [3.7031e+04 3.8000e+01]
 [3.7631e+04 3.2000e+01]
 [3.8231e+04 2.0000e+00]
 [3.8831e+04 0.0000e+00]
 [3.9431e+04 2.0000e+00]
 [4.0031e+04 5.6000e+01]
 [4.0631e+04 5.4000e+01]
 [4.1231e+04 6.0000e+00]
 [4.1831e+04 2.8000e+01]
 [4.2431e+04 2.4000e+01]
 [4.3031e+04 2.0000e+00]
 [4.3631e+04 0.0000e+00]
 [4.4231e+04 6.0000e+00]
 [4.4831e+04 2.8000e+01]
 [4.5431e+04 3.0000e+01]
 [4.6031e+04 6.8000e+01]
 [4.6631e+04 3.8000e+01]
 [4.7231e+04 3.2000e+01]
 [4.7831e+04 1.4000e+01]
 [4.8431e+04 0.0000e+00]
 [4.9031e+04 0.0000e+00]
 [4.9631e+04 2.0000e+00]
 [5.0231e+04 3.4000e+01]
 [5.0831e+04 4.6000e+01]
 [5.1431e+04 1.8000e+01]
 [5.2031e+04 6.0000e+00]
 [5.2631e+04 3.2000e+01]
 [5.3231e+04 3.4000e+01]
 [5.3831e+04 2.8000e+01]
 [5.4431e+04 4.0000e+01]
 [5.5031e+04 1.6000e+01]
 [5.5631e+04 0.0000e+00]
 [5.6231e+04 0.0000e+00]
 [5.6831e+04 0.0000e+00]
 [5.7431e+04 0.0000e+00]
 [5.8031e+04 0.0000e+00]
 [5.8631e+04 0.0000e+00]
 [5.9231e+04 1.6000e+01]
 [5.9831e+04 5.0000e+01]
 [6.0431e+04 3.6000e+01]
 [6.1031e+04 2.0000e+00]
 [6.1631e+04 2.6000e+01]
 [6.2231e+04 6.0000e+00]
 [6.2831e+04 0.0000e+00]
 [6.3431e+04 4.0000e+00]
 [6.4031e+04 4.0000e+01]
 [6.4631e+04 3.2000e+01]
 [6.5231e+04 6.6000e+01]
 [6.5831e+04 2.8000e+01]
 [6.6431e+04 8.0000e+00]
 [6.7031e+04 0.0000e+00]
 [6.7631e+04 0.0000e+00]
 [6.8231e+04 0.0000e+00]
 [6.8831e+04 1.0000e+01]
 [6.9431e+04 3.4000e+01]
 [7.0031e+04 1.0000e+01]
 [7.0631e+04 1.4000e+01]
 [7.1231e+04 1.6000e+01]
 [7.1831e+04 1.6000e+01]
 [7.2431e+04 8.0000e+00]
 [7.3031e+04 0.0000e+00]
 [7.3631e+04 0.0000e+00]
 [7.4231e+04 0.0000e+00]
 [7.4831e+04 1.8000e+01]
 [7.5431e+04 1.2000e+01]
 [7.6031e+04 2.8000e+01]
 [7.6631e+04 3.8000e+01]
 [7.7231e+04 6.0000e+00]]
Origin destination interval view
     time_in  time_out
0   23231.0   23831.0
1   26231.0   26831.0
2   29831.0   30431.0
3   34631.0   35231.0
4   38831.0   39431.0
5   43631.0   44231.0
6   48431.0   49031.0
7   55631.0   56231.0
8   62831.0   63431.0
9   67031.0   67631.0
10  73031.0   73631.0

OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3152820782        1  1398/06/23  23231  F82       2
1   3152820782        1  1398/06/23  23231  F82       2
2    722155418        1  1398/06/23  23320  F82       2
3    722155418        1  1398/06/23  23320  F82       2
4   2239157527        1  1398/06/23  23392  F82       2
..         ...      ...         ...    ...  ...     ...
69  2508124628        1  1398/06/23  44164  F82       7
70  2183183379        1  1398/06/23  63353  F82      10
71  2183183379        1  1398/06/23  63353  F82      10
72   427660046        1  1398/06/23  63385  F82      10
73   427660046        1  1398/06/23  63385  F82      10

[74 rows x 6 columns]
time_start time_stop 23831.0 26231.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3793011052        1  1398/06/23  23837  F82
1   3256177389        1  1398/06/23  23837  F82
2   3793011052        1  1398/06/23  23837  F82
3   3256177389        1  1398/06/23  23837  F82
4    721908307        1  1398/06/23  23916  F82
..         ...      ...         ...    ...  ...
59  3258119565        1  1398/06/23  24922  F82
60  3680212764        1  1398/06/23  25073  F82
61  3680212764        1  1398/06/23  25073  F82
62   722058773        1  1398/06/23  25349  F82
63   722058773        1  1398/06/23  25349  F82

[64 rows x 5 columns]
time_start time_stop 26831.0 29831.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    174974756        1  1398/06/23  27131  F82
1    174974756        1  1398/06/23  27131  F82
2   2137341325        1  1398/06/23  27221  F82
3   2137341325        1  1398/06/23  27221  F82
4   2137341325        1  1398/06/23  27223  F82
..         ...      ...         ...    ...  ...
73   980528843        1  1398/06/23  28425  F82
74  2137424413        1  1398/06/23  28563  F82
75  2137424413        1  1398/06/23  28563  F82
76   262725793        1  1398/06/23  28647  F82
77   262725793        1  1398/06/23  28647  F82

[78 rows x 5 columns]
time_start time_stop 30431.0 34631.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2239150452        1  1398/06/23  30929  F82
1    2239150452        1  1398/06/23  30929  F82
2    3206286580        1  1398/06/23  30935  F82
3    3206286580        1  1398/06/23  30935  F82
4     721717403        1  1398/06/23  30952  F82
..          ...      ...         ...    ...  ...
151  1832672653        1  1398/06/23  33319  F82
152  1598256388        1  1398/06/23  33686  F82
153  1598256388        1  1398/06/23  33686  F82
154  1529467518        1  1398/06/23  33748  F82
155  1529467518        1  1398/06/23  33748  F82

[156 rows x 5 columns]
time_start time_stop 35231.0 38831.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3105939333        1  1398/06/23  35251  F82
1    3105939333        1  1398/06/23  35251  F82
2     209359851        1  1398/06/23  35257  F82
3     209359851        1  1398/06/23  35257  F82
4    3254339245        1  1398/06/23  35288  F82
..          ...      ...         ...    ...  ...
127  2504103892        1  1398/06/23  37479  F82
128   721779710        1  1398/06/23  37592  F82
129   721779710        1  1398/06/23  37592  F82
130   722136492        1  1398/06/23  37833  F82
131   722136492        1  1398/06/23  37833  F82

[132 rows x 5 columns]
time_start time_stop 39431.0 43631.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2741461012        1  1398/06/23  39466  F82
1    2741461012        1  1398/06/23  39466  F82
2    2741461012        1  1398/06/23  39467  F82
3    2741461012        1  1398/06/23  39467  F82
4    1781389780        1  1398/06/23  39523  F82
..          ...      ...         ...    ...  ...
165  1834810701        1  1398/06/23  42228  F82
166  4057764429        1  1398/06/23  42413  F82
167  4057764429        1  1398/06/23  42413  F82
168  2139099213        1  1398/06/23  42756  F82
169  2139099213        1  1398/06/23  42756  F82

[170 rows x 5 columns]
time_start time_stop 44231.0 48431.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3604347676        1  1398/06/23  44245  F82
1    3604347676        1  1398/06/23  44245  F82
2    2139064653        1  1398/06/23  44264  F82
3    2139064653        1  1398/06/23  44264  F82
4    2139064653        1  1398/06/23  44266  F82
..          ...      ...         ...    ...  ...
205  3215185732        1  1398/06/23  47457  F82
206   869415189        1  1398/06/23  47515  F82
207   869415189        1  1398/06/23  47515  F82
208  3632177452        1  1398/06/23  47520  F82
209  3632177452        1  1398/06/23  47520  F82

[210 rows x 5 columns]
time_start time_stop 49031.0 55631.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3152944350        1  1398/06/23  49613  F82
1    3152944350        1  1398/06/23  49613  F82
2    2498480388        1  1398/06/23  49724  F82
3    2498480388        1  1398/06/23  49724  F82
4     981900859        1  1398/06/23  49725  F82
..          ...      ...         ...    ...  ...
251   233255914        1  1398/06/23  54674  F82
252  3650368260        1  1398/06/23  54680  F82
253  3650368260        1  1398/06/23  54680  F82
254  2741421236        1  1398/06/23  54783  F82
255  2741421236        1  1398/06/23  54783  F82

[256 rows x 5 columns]
time_start time_stop 56231.0 62831.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     262097425        1  1398/06/23  58920  F82
1     262097425        1  1398/06/23  58920  F82
2    2741033284        1  1398/06/23  58923  F82
3    2741033284        1  1398/06/23  58923  F82
4    3178713166        1  1398/06/23  58927  F82
..          ...      ...         ...    ...  ...
131  2742036516        1  1398/06/23  61919  F82
132  3794976972        1  1398/06/23  61923  F82
133  3794976972        1  1398/06/23  61923  F82
134  3794976972        1  1398/06/23  61924  F82
135  3794976972        1  1398/06/23  61924  F82

[136 rows x 5 columns]
time_start time_stop 63431.0 67031.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1837004461        1  1398/06/23  63443  F82
1    1837004461        1  1398/06/23  63443  F82
2    1837004461        1  1398/06/23  63445  F82
3    1837004461        1  1398/06/23  63445  F82
4    1837004461        1  1398/06/23  63446  F82
..          ...      ...         ...    ...  ...
169  4276211890        1  1398/06/23  65985  F82
170   212190347        1  1398/06/23  65990  F82
171   212190347        1  1398/06/23  65990  F82
172   556421630        1  1398/06/23  66011  F82
173   556421630        1  1398/06/23  66011  F82

[174 rows x 5 columns]
time_start time_stop 67631.0 73031.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3179963070        1  1398/06/23  68601  F82
1    3179963070        1  1398/06/23  68601  F82
2    3179963070        1  1398/06/23  68605  F82
3    3179963070        1  1398/06/23  68605  F82
4    3210416068        1  1398/06/23  68611  F82
..          ...      ...         ...    ...  ...
103   235837674        1  1398/06/23  72157  F82
104   235837674        1  1398/06/23  72158  F82
105   235837674        1  1398/06/23  72158  F82
106  3254439581        1  1398/06/23  72363  F82
107  3254439581        1  1398/06/23  72363  F82

[108 rows x 5 columns]
transactions in line 1 plat M50
           CardID  LineCode       FDate   Time plat
23792   210666907         1  1398/06/23  22914  M50
23793   210666907         1  1398/06/23  22914  M50
23794  4274559394         1  1398/06/23  23101  M50
23795   262145537         1  1398/06/23  23101  M50
23796  3839952509         1  1398/06/23  23101  M50
...           ...       ...         ...    ...  ...
25749  3405824885         1  1398/06/23  75959  M50
25750   722231248         1  1398/06/23  75962  M50
25751   722231248         1  1398/06/23  75962  M50
25752  1854595301         1  1398/06/23  76040  M50
25753  1854595301         1  1398/06/23  76040  M50

[1962 rows x 5 columns]
first row of the selected chunck :
 [210666907 1 '1398/06/23' 22914 'M50']
1962
t0 = 22914
ts = 76040
time_intervals 89
10min interval view
 for line 1 plat M50
 [[2.2914e+04 0.0000e+00]
 [2.3514e+04 2.5000e+01]
 [2.4114e+04 2.2000e+01]
 [2.4714e+04 2.0000e+01]
 [2.5314e+04 6.0000e+00]
 [2.5914e+04 0.0000e+00]
 [2.6514e+04 8.0000e+00]
 [2.7114e+04 2.2000e+01]
 [2.7714e+04 1.0000e+01]
 [2.8314e+04 2.0000e+00]
 [2.8914e+04 0.0000e+00]
 [2.9514e+04 0.0000e+00]
 [3.0114e+04 0.0000e+00]
 [3.0714e+04 2.0000e+01]
 [3.1314e+04 8.2000e+01]
 [3.1914e+04 4.0000e+01]
 [3.2514e+04 2.8000e+01]
 [3.3114e+04 1.4000e+01]
 [3.3714e+04 0.0000e+00]
 [3.4314e+04 2.0000e+00]
 [3.4914e+04 3.2000e+01]
 [3.5514e+04 4.0000e+01]
 [3.6114e+04 5.4000e+01]
 [3.6714e+04 2.4000e+01]
 [3.7314e+04 2.0000e+01]
 [3.7914e+04 8.0000e+00]
 [3.8514e+04 0.0000e+00]
 [3.9114e+04 8.0000e+00]
 [3.9714e+04 6.0000e+01]
 [4.0314e+04 6.6000e+01]
 [4.0914e+04 2.8000e+01]
 [4.1514e+04 2.4000e+01]
 [4.2114e+04 2.8000e+01]
 [4.2714e+04 1.2000e+01]
 [4.3314e+04 2.0000e+00]
 [4.3914e+04 3.2000e+01]
 [4.4514e+04 2.2000e+01]
 [4.5114e+04 2.8000e+01]
 [4.5714e+04 6.6000e+01]
 [4.6314e+04 5.0000e+01]
 [4.6914e+04 3.6000e+01]
 [4.7514e+04 2.6000e+01]
 [4.8114e+04 0.0000e+00]
 [4.8714e+04 0.0000e+00]
 [4.9314e+04 4.0000e+00]
 [4.9914e+04 1.4000e+01]
 [5.0514e+04 1.4000e+01]
 [5.1114e+04 1.4000e+01]
 [5.1714e+04 4.2000e+01]
 [5.2314e+04 1.8000e+01]
 [5.2914e+04 4.0000e+00]
 [5.3514e+04 2.8000e+01]
 [5.4114e+04 2.8000e+01]
 [5.4714e+04 3.2000e+01]
 [5.5314e+04 4.4000e+01]
 [5.5914e+04 1.0000e+01]
 [5.6514e+04 0.0000e+00]
 [5.7114e+04 0.0000e+00]
 [5.7714e+04 0.0000e+00]
 [5.8314e+04 1.0000e+01]
 [5.8914e+04 2.6000e+01]
 [5.9514e+04 4.8000e+01]
 [6.0114e+04 5.4000e+01]
 [6.0714e+04 2.8000e+01]
 [6.1314e+04 1.6000e+01]
 [6.1914e+04 0.0000e+00]
 [6.2514e+04 0.0000e+00]
 [6.3114e+04 3.4000e+01]
 [6.3714e+04 3.0000e+01]
 [6.4314e+04 4.0000e+01]
 [6.4914e+04 7.4000e+01]
 [6.5514e+04 3.2000e+01]
 [6.6114e+04 3.6000e+01]
 [6.6714e+04 6.0000e+00]
 [6.7314e+04 0.0000e+00]
 [6.7914e+04 2.0000e+01]
 [6.8514e+04 2.2000e+01]
 [6.9114e+04 4.0000e+01]
 [6.9714e+04 1.6000e+01]
 [7.0314e+04 2.0000e+01]
 [7.0914e+04 4.8000e+01]
 [7.1514e+04 1.4000e+01]
 [7.2114e+04 1.8000e+01]
 [7.2714e+04 4.0000e+00]
 [7.3314e+04 2.0000e+00]
 [7.3914e+04 1.8000e+01]
 [7.4514e+04 2.8000e+01]
 [7.5114e+04 3.2000e+01]
 [7.5714e+04 2.0000e+01]]
Origin destination interval view
    time_in  time_out
0  22914.0   23514.0
1  25914.0   26514.0
2  28914.0   29514.0
3  33714.0   34314.0
4  38514.0   39114.0
5  48114.0   48714.0
6  56514.0   57114.0
7  61914.0   62514.0
8  67314.0   67914.0

OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0    210666907        1  1398/06/23  22914  M50       2
1    210666907        1  1398/06/23  22914  M50       2
2   4274559394        1  1398/06/23  23101  M50       2
3    262145537        1  1398/06/23  23101  M50       2
4   3839952509        1  1398/06/23  23101  M50       2
..         ...      ...         ...    ...  ...     ...
59  4265906562        1  1398/06/23  67801  M50      10
60  4265906562        1  1398/06/23  67802  M50      10
61   722018373        1  1398/06/23  67802  M50      10
62  4265906562        1  1398/06/23  67802  M50      10
63   722018373        1  1398/06/23  67802  M50      10

[64 rows x 6 columns]
time_start time_stop 23514.0 25914.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2183183379        1  1398/06/23  23582  M50
1   3209993268        1  1398/06/23  23582  M50
2   2498303421        1  1398/06/23  23582  M50
3   2498303421        1  1398/06/23  23582  M50
4   3209993268        1  1398/06/23  23582  M50
5   2183183379        1  1398/06/23  23582  M50
6   3630626540        1  1398/06/23  23700  M50
7   1293506814        1  1398/06/23  23700  M50
8   1293506814        1  1398/06/23  23700  M50
9   3630626540        1  1398/06/23  23700  M50
10  2239163089        1  1398/06/23  23762  M50
11  2239163089        1  1398/06/23  23762  M50
12  3108717461        1  1398/06/23  23940  M50
13   646203821        1  1398/06/23  23940  M50
14   646203821        1  1398/06/23  23940  M50
15  3108717461        1  1398/06/23  23940  M50
16   482861380        1  1398/06/23  24060  M50
17  2618178124        1  1398/06/23  24060  M50
18  2618178124        1  1398/06/23  24060  M50
19   482861380        1  1398/06/23  24060  M50
20   361741716        1  1398/06/23  24107  M50
21   361741716        1  1398/06/23  24107  M50
22  4265462850        1  1398/06/23  24130  M50
23  4265462850        1  1398/06/23  24130  M50
24   175737702        1  1398/06/23  24169  M50
25   175737702        1  1398/06/23  24169  M50
26  3650367380        1  1398/06/23  24182  M50
27  2740605604        1  1398/06/23  24182  M50
28  3650367380        1  1398/06/23  24182  M50
29  2740605604        1  1398/06/23  24182  M50
30  2115630260        1  1398/06/23  24301  M50
31  2115630260        1  1398/06/23  24301  M50
32   285549163        1  1398/06/23  24355  M50
33   285549163        1  1398/06/23  24355  M50
34  3207771252        1  1398/06/23  24358  M50
35  3207771252        1  1398/06/23  24358  M50
36   721901057        1  1398/06/23  24359  M50
37   721901057        1  1398/06/23  24359  M50
38  1281777582        1  1398/06/23  24361  M50
39  1281777582        1  1398/06/23  24361  M50
40   428281806        1  1398/06/23  24420  M50
41   428281806        1  1398/06/23  24420  M50
42  2505302436        1  1398/06/23  24777  M50
43  2505302436        1  1398/06/23  24777  M50
44  1528858078        1  1398/06/23  24853  M50
45  1528858078        1  1398/06/23  24853  M50
46   428615774        1  1398/06/23  24977  M50
47   428615774        1  1398/06/23  24977  M50
time_start time_stop 26514.0 28914.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2138671405        1  1398/06/23  26537  M50
1   2138671405        1  1398/06/23  26537  M50
2    425993726        1  1398/06/23  26681  M50
3    425993726        1  1398/06/23  26681  M50
4    425993726        1  1398/06/23  26682  M50
5    425993726        1  1398/06/23  26682  M50
6   1781524388        1  1398/06/23  26685  M50
7   1781524388        1  1398/06/23  26685  M50
8   1598911556        1  1398/06/23  26760  M50
9   1001115998        1  1398/06/23  26760  M50
10  1001115998        1  1398/06/23  26760  M50
11  1598911556        1  1398/06/23  26760  M50
12  2508772708        1  1398/06/23  26777  M50
13  2508772708        1  1398/06/23  26777  M50
14  3631538796        1  1398/06/23  26778  M50
15  3631538796        1  1398/06/23  26778  M50
16  3153093422        1  1398/06/23  26780  M50
17  3153093422        1  1398/06/23  26780  M50
18  3649938692        1  1398/06/23  26837  M50
19  3649938692        1  1398/06/23  26837  M50
20   428857150        1  1398/06/23  27066  M50
21   428857150        1  1398/06/23  27066  M50
22   180161620        1  1398/06/23  27174  M50
23   180161620        1  1398/06/23  27174  M50
24   986214859        1  1398/06/23  27360  M50
25   986214859        1  1398/06/23  27360  M50
26  1295526110        1  1398/06/23  27424  M50
27  1295526110        1  1398/06/23  27424  M50
28  3405812263        1  1398/06/23  27427  M50
29  3405812263        1  1398/06/23  27427  M50
30   262684881        1  1398/06/23  27632  M50
31   262684881        1  1398/06/23  27632  M50
32   649940574        1  1398/06/23  27721  M50
33   649940574        1  1398/06/23  27721  M50
time_start time_stop 29514.0 33714.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2741036324        1  1398/06/23  30480  M50
1    3254238445        1  1398/06/23  30480  M50
2    2049348786        1  1398/06/23  30480  M50
3    2239140236        1  1398/06/23  30480  M50
4    2239140236        1  1398/06/23  30480  M50
..          ...      ...         ...    ...  ...
179  3650267300        1  1398/06/23  32561  M50
180  4269782434        1  1398/06/23  32825  M50
181  4269782434        1  1398/06/23  32825  M50
182   980536331        1  1398/06/23  32830  M50
183   980536331        1  1398/06/23  32830  M50

[184 rows x 5 columns]
time_start time_stop 34314.0 38514.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     722204833        1  1398/06/23  34320  M50
1     722178227        1  1398/06/23  34320  M50
2    3630657196        1  1398/06/23  34320  M50
3    1529484190        1  1398/06/23  34320  M50
4    3793572860        1  1398/06/23  34320  M50
..          ...      ...         ...    ...  ...
173  1832514477        1  1398/06/23  37324  M50
174  1524196228        1  1398/06/23  37326  M50
175  1524196228        1  1398/06/23  37326  M50
176  1837509309        1  1398/06/23  37364  M50
177  1837509309        1  1398/06/23  37364  M50

[178 rows x 5 columns]
time_start time_stop 39114.0 48114.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2681645758        1  1398/06/23  39219  M50
1    2681645758        1  1398/06/23  39219  M50
2    2117816852        1  1398/06/23  39221  M50
3    2117816852        1  1398/06/23  39221  M50
4    3405796201        1  1398/06/23  39223  M50
..          ...      ...         ...    ...  ...
475  1833095821        1  1398/06/23  47436  M50
476  1283388446        1  1398/06/23  47445  M50
477  1283388446        1  1398/06/23  47445  M50
478  3179983486        1  1398/06/23  47449  M50
479  3179983486        1  1398/06/23  47449  M50

[480 rows x 5 columns]
time_start time_stop 48714.0 56514.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2118243700        1  1398/06/23  49200  M50
1    2118243700        1  1398/06/23  49200  M50
2    1527702462        1  1398/06/23  49224  M50
3    1527702462        1  1398/06/23  49224  M50
4    3793018172        1  1398/06/23  49320  M50
..          ...      ...         ...    ...  ...
247  1831885661        1  1398/06/23  55680  M50
248  1831885661        1  1398/06/23  55681  M50
249  1831885661        1  1398/06/23  55681  M50
250  3205405844        1  1398/06/23  55783  M50
251  3205405844        1  1398/06/23  55783  M50

[252 rows x 5 columns]
time_start time_stop 57114.0 61914.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3792095996        1  1398/06/23  58200  M50
1    2498390925        1  1398/06/23  58200  M50
2     555725166        1  1398/06/23  58200  M50
3    2482278292        1  1398/06/23  58200  M50
4     555725166        1  1398/06/23  58200  M50
..          ...      ...         ...    ...  ...
177   796584126        1  1398/06/23  61156  M50
178  3179412942        1  1398/06/23  61160  M50
179  3179412942        1  1398/06/23  61160  M50
180   722276396        1  1398/06/23  61304  M50
181   722276396        1  1398/06/23  61304  M50

[182 rows x 5 columns]
time_start time_stop 62514.0 67314.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2118145092        1  1398/06/23  62761  M50
1    2118145092        1  1398/06/23  62761  M50
2    3109163381        1  1398/06/23  62763  M50
3    3109163381        1  1398/06/23  62763  M50
4    4270125378        1  1398/06/23  62764  M50
..          ...      ...         ...    ...  ...
247  3154047422        1  1398/06/23  66139  M50
248  1527018958        1  1398/06/23  66145  M50
249  1527018958        1  1398/06/23  66145  M50
250  2621516860        1  1398/06/23  66240  M50
251  2621516860        1  1398/06/23  66240  M50

[252 rows x 5 columns]
transactions in line 1 plat N11
           CardID  LineCode       FDate   Time plat
25754  3795042972         1  1398/06/23  23089  N11
25755  3795042972         1  1398/06/23  23089  N11
25756  2961795861         1  1398/06/23  23289  N11
25757  2961795861         1  1398/06/23  23289  N11
25758   725971127         1  1398/06/23  23290  N11
...           ...       ...         ...    ...  ...
27467  4278184898         1  1398/06/23  78170  N11
27468  2504779764         1  1398/06/23  78182  N11
27469  2504779764         1  1398/06/23  78182  N11
27470  1360899146         1  1398/06/23  78198  N11
27471  1360899146         1  1398/06/23  78198  N11

[1718 rows x 5 columns]
first row of the selected chunck :
 [3795042972 1 '1398/06/23' 23089 'N11']
1718
t0 = 23089
ts = 78198
time_intervals 92
10min interval view
 for line 1 plat N11
 [[2.3089e+04 0.0000e+00]
 [2.3689e+04 9.0000e+00]
 [2.4289e+04 0.0000e+00]
 [2.4889e+04 0.0000e+00]
 [2.5489e+04 0.0000e+00]
 [2.6089e+04 4.4000e+01]
 [2.6689e+04 7.6000e+01]
 [2.7289e+04 3.0000e+01]
 [2.7889e+04 2.0000e+01]
 [2.8489e+04 0.0000e+00]
 [2.9089e+04 2.0000e+00]
 [2.9689e+04 2.2000e+01]
 [3.0289e+04 1.6000e+01]
 [3.0889e+04 1.6000e+01]
 [3.1489e+04 2.0000e+00]
 [3.2089e+04 0.0000e+00]
 [3.2689e+04 0.0000e+00]
 [3.3289e+04 0.0000e+00]
 [3.3889e+04 0.0000e+00]
 [3.4489e+04 2.0000e+00]
 [3.5089e+04 5.6000e+01]
 [3.5689e+04 1.0000e+02]
 [3.6289e+04 3.2000e+01]
 [3.6889e+04 2.6000e+01]
 [3.7489e+04 1.4000e+01]
 [3.8089e+04 1.2000e+01]
 [3.8689e+04 0.0000e+00]
 [3.9289e+04 5.4000e+01]
 [3.9889e+04 2.8000e+01]
 [4.0489e+04 4.6000e+01]
 [4.1089e+04 6.6000e+01]
 [4.1689e+04 3.0000e+01]
 [4.2289e+04 1.4000e+01]
 [4.2889e+04 4.0000e+00]
 [4.3489e+04 6.0000e+00]
 [4.4089e+04 2.2000e+01]
 [4.4689e+04 5.2000e+01]
 [4.5289e+04 1.8000e+01]
 [4.5889e+04 1.2000e+01]
 [4.6489e+04 2.0000e+01]
 [4.7089e+04 4.0000e+00]
 [4.7689e+04 0.0000e+00]
 [4.8289e+04 1.6000e+01]
 [4.8889e+04 1.2000e+01]
 [4.9489e+04 8.2000e+01]
 [5.0089e+04 2.2000e+01]
 [5.0689e+04 4.0000e+00]
 [5.1289e+04 0.0000e+00]
 [5.1889e+04 0.0000e+00]
 [5.2489e+04 0.0000e+00]
 [5.3089e+04 0.0000e+00]
 [5.3689e+04 4.0000e+00]
 [5.4289e+04 1.6000e+01]
 [5.4889e+04 6.0000e+00]
 [5.5489e+04 6.0000e+00]
 [5.6089e+04 0.0000e+00]
 [5.6689e+04 0.0000e+00]
 [5.7289e+04 3.4000e+01]
 [5.7889e+04 6.0000e+00]
 [5.8489e+04 6.4000e+01]
 [5.9089e+04 1.4000e+01]
 [5.9689e+04 2.0000e+00]
 [6.0289e+04 0.0000e+00]
 [6.0889e+04 0.0000e+00]
 [6.1489e+04 0.0000e+00]
 [6.2089e+04 0.0000e+00]
 [6.2689e+04 0.0000e+00]
 [6.3289e+04 6.0000e+00]
 [6.3889e+04 4.0000e+01]
 [6.4489e+04 7.2000e+01]
 [6.5089e+04 5.0000e+01]
 [6.5689e+04 1.8000e+01]
 [6.6289e+04 1.2000e+01]
 [6.6889e+04 6.0000e+00]
 [6.7489e+04 2.0000e+00]
 [6.8089e+04 8.0000e+00]
 [6.8689e+04 2.0000e+01]
 [6.9289e+04 5.8000e+01]
 [6.9889e+04 5.2000e+01]
 [7.0489e+04 6.4000e+01]
 [7.1089e+04 4.2000e+01]
 [7.1689e+04 3.2000e+01]
 [7.2289e+04 8.0000e+00]
 [7.2889e+04 0.0000e+00]
 [7.3489e+04 0.0000e+00]
 [7.4089e+04 2.0000e+00]
 [7.4689e+04 6.0000e+00]
 [7.5289e+04 1.4000e+01]
 [7.5889e+04 1.4000e+01]
 [7.6489e+04 2.6000e+01]
 [7.7089e+04 0.0000e+00]
 [7.7689e+04 2.0000e+00]]
Origin destination interval view
     time_in  time_out
0   23089.0   23689.0
1   24289.0   24889.0
2   28489.0   29089.0
3   32089.0   32689.0
4   38689.0   39289.0
5   47689.0   48289.0
6   51289.0   51889.0
7   56089.0   56689.0
8   60289.0   60889.0
9   72889.0   73489.0
10  77089.0   77689.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3795042972        1  1398/06/23  23089  N11       2
1   3795042972        1  1398/06/23  23089  N11       2
2   2961795861        1  1398/06/23  23289  N11       2
3   2961795861        1  1398/06/23  23289  N11       2
4    725971127        1  1398/06/23  23290  N11       2
..         ...      ...         ...    ...  ...     ...
79  3445659004        1  1398/06/23  48230  N11       7
80  1001928606        1  1398/06/23  48235  N11       7
81  1001928606        1  1398/06/23  48235  N11       7
82  3793218956        1  1398/06/23  77497  N11      12
83  3793218956        1  1398/06/23  77497  N11      12

[84 rows x 6 columns]
time_start time_stop 23689.0 24289.0
df_bus_partial :
 Empty DataFrame
Columns: [CardID, LineCode, FDate, Time, plat]
Index: []
time_start time_stop 24889.0 28489.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2125292516        1  1398/06/23  25607  N11
1    2125292516        1  1398/06/23  25607  N11
2    3405817549        1  1398/06/23  25615  N11
3    3405817549        1  1398/06/23  25615  N11
4    3405817549        1  1398/06/23  25616  N11
..          ...      ...         ...    ...  ...
165  3202822484        1  1398/06/23  27632  N11
166  3650102308        1  1398/06/23  27697  N11
167  3650102308        1  1398/06/23  27697  N11
168   722023449        1  1398/06/23  27859  N11
169   722023449        1  1398/06/23  27859  N11

[170 rows x 5 columns]
time_start time_stop 29089.0 32089.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   2740723492        1  1398/06/23  29099  N11
1   2740723492        1  1398/06/23  29099  N11
2   2541475502        1  1398/06/23  29106  N11
3   2541475502        1  1398/06/23  29106  N11
4   2541475502        1  1398/06/23  29108  N11
5   2541475502        1  1398/06/23  29108  N11
6   2618221084        1  1398/06/23  29114  N11
7   2618221084        1  1398/06/23  29114  N11
8    428541598        1  1398/06/23  29156  N11
9    428541598        1  1398/06/23  29156  N11
10  1788420532        1  1398/06/23  29197  N11
11  1788420532        1  1398/06/23  29197  N11
12  1598634068        1  1398/06/23  29264  N11
13  1598634068        1  1398/06/23  29264  N11
14   980768587        1  1398/06/23  29320  N11
15   980768587        1  1398/06/23  29320  N11
16  3152156894        1  1398/06/23  29338  N11
17  3152156894        1  1398/06/23  29338  N11
18  2742108308        1  1398/06/23  29422  N11
19  2742108308        1  1398/06/23  29422  N11
20  3649766468        1  1398/06/23  29514  N11
21  3649766468        1  1398/06/23  29514  N11
22  2136946317        1  1398/06/23  29763  N11
23  2136946317        1  1398/06/23  29763  N11
24     7803588        1  1398/06/23  29890  N11
25     7803588        1  1398/06/23  29890  N11
26  3678584524        1  1398/06/23  29997  N11
27  3678584524        1  1398/06/23  29997  N11
28  1294504446        1  1398/06/23  30001  N11
29  1294504446        1  1398/06/23  30001  N11
30  1361163002        1  1398/06/23  30073  N11
31  1361163002        1  1398/06/23  30073  N11
32  2741282180        1  1398/06/23  30075  N11
33  2741282180        1  1398/06/23  30075  N11
34  2742673252        1  1398/06/23  30178  N11
35  2742673252        1  1398/06/23  30178  N11
36   235383786        1  1398/06/23  30273  N11
37   235383786        1  1398/06/23  30273  N11
38  3150814526        1  1398/06/23  30325  N11
39  3150814526        1  1398/06/23  30325  N11
40  3630342764        1  1398/06/23  30403  N11
41  3630342764        1  1398/06/23  30403  N11
42  3444934300        1  1398/06/23  30406  N11
43  3444934300        1  1398/06/23  30406  N11
44  3630942716        1  1398/06/23  30410  N11
45  3630942716        1  1398/06/23  30410  N11
46  3630942716        1  1398/06/23  30411  N11
47  3630942716        1  1398/06/23  30411  N11
48   176824390        1  1398/06/23  30542  N11
49   176824390        1  1398/06/23  30542  N11
50  2235241715        1  1398/06/23  30714  N11
51  2235241715        1  1398/06/23  30714  N11
52  2235241715        1  1398/06/23  30715  N11
53  2235241715        1  1398/06/23  30715  N11
54   983026923        1  1398/06/23  30999  N11
55   983026923        1  1398/06/23  30999  N11
time_start time_stop 32689.0 38689.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0     342803668        1  1398/06/23  34372  N11
1     342803668        1  1398/06/23  34372  N11
2     426231422        1  1398/06/23  34520  N11
3     426231422        1  1398/06/23  34520  N11
4    1598565284        1  1398/06/23  34534  N11
..          ...      ...         ...    ...  ...
237  1527277710        1  1398/06/23  37506  N11
238   261805249        1  1398/06/23  37554  N11
239   261805249        1  1398/06/23  37554  N11
240  4059141533        1  1398/06/23  37615  N11
241  4059141533        1  1398/06/23  37615  N11

[242 rows x 5 columns]
time_start time_stop 39289.0 47689.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2680568958        1  1398/06/23  39310  N11
1    2680568958        1  1398/06/23  39310  N11
2    3630330252        1  1398/06/23  39311  N11
3    3630330252        1  1398/06/23  39311  N11
4    3207114900        1  1398/06/23  39353  N11
..          ...      ...         ...    ...  ...
317  1531746862        1  1398/06/23  46380  N11
318   721725895        1  1398/06/23  46513  N11
319   721725895        1  1398/06/23  46513  N11
320  3603669276        1  1398/06/23  46793  N11
321  3603669276        1  1398/06/23  46793  N11

[322 rows x 5 columns]
time_start time_stop 48289.0 51289.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     362816356        1  1398/06/23  48296  N11
1     362816356        1  1398/06/23  48296  N11
2     982825147        1  1398/06/23  48352  N11
3     982825147        1  1398/06/23  48352  N11
4    2680353054        1  1398/06/23  48636  N11
..          ...      ...         ...    ...  ...
115  1002836615        1  1398/06/23  50076  N11
116  1334556405        1  1398/06/23  50182  N11
117  1334556405        1  1398/06/23  50182  N11
118   722251377        1  1398/06/23  50274  N11
119   722251377        1  1398/06/23  50274  N11

[120 rows x 5 columns]
time_start time_stop 51889.0 56089.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3154047422        1  1398/06/23  53664  N11
1   3154047422        1  1398/06/23  53664  N11
2   3793184604        1  1398/06/23  53687  N11
3   3793184604        1  1398/06/23  53687  N11
4    721812628        1  1398/06/23  53712  N11
5    721812628        1  1398/06/23  53712  N11
6    721812628        1  1398/06/23  53713  N11
7    721812628        1  1398/06/23  53713  N11
8   1831885661        1  1398/06/23  53720  N11
9   1831885661        1  1398/06/23  53720  N11
10  1831885661        1  1398/06/23  53721  N11
11  1831885661        1  1398/06/23  53721  N11
12  1901924133        1  1398/06/23  53950  N11
13  1901924133        1  1398/06/23  53950  N11
14  1407205875        1  1398/06/23  54027  N11
15  1407205875        1  1398/06/23  54027  N11
16  4276366754        1  1398/06/23  54032  N11
17  4276366754        1  1398/06/23  54032  N11
18  4246207655        1  1398/06/23  54266  N11
19  4246207655        1  1398/06/23  54266  N11
20  1003817207        1  1398/06/23  54493  N11
21  1003817207        1  1398/06/23  54493  N11
22  1786625940        1  1398/06/23  54549  N11
23  1786625940        1  1398/06/23  54549  N11
24   429946318        1  1398/06/23  54834  N11
25   429946318        1  1398/06/23  54834  N11
26  2122339572        1  1398/06/23  54971  N11
27  2122339572        1  1398/06/23  54971  N11
28  3181419582        1  1398/06/23  54983  N11
29  3181419582        1  1398/06/23  54983  N11
30   645392189        1  1398/06/23  55293  N11
31   645392189        1  1398/06/23  55293  N11
time_start time_stop 56689.0 60289.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    2050256258        1  1398/06/23  56807  N11
1    2050256258        1  1398/06/23  56807  N11
2    3106892853        1  1398/06/23  56811  N11
3    3106892853        1  1398/06/23  56811  N11
4    3106892853        1  1398/06/23  56813  N11
..          ...      ...         ...    ...  ...
115   555529150        1  1398/06/23  58621  N11
116  3214270164        1  1398/06/23  58801  N11
117  3214270164        1  1398/06/23  58801  N11
118  3180993406        1  1398/06/23  59134  N11
119  3180993406        1  1398/06/23  59134  N11

[120 rows x 5 columns]
time_start time_stop 60889.0 72889.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3631746780        1  1398/06/23  63267  N11
1     174575478        1  1398/06/23  63267  N11
2     174575478        1  1398/06/23  63267  N11
3    3631746780        1  1398/06/23  63267  N11
4     174575478        1  1398/06/23  63269  N11
..          ...      ...         ...    ...  ...
485  2117780612        1  1398/06/23  71803  N11
486  2117780612        1  1398/06/23  71804  N11
487  2117780612        1  1398/06/23  71804  N11
488  3180738622        1  1398/06/23  71961  N11
489  3180738622        1  1398/06/23  71961  N11

[490 rows x 5 columns]
time_start time_stop 73489.0 77089.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    537553070        1  1398/06/23  73858  N11
1    537553070        1  1398/06/23  73858  N11
2    721745601        1  1398/06/23  74283  N11
3    721745601        1  1398/06/23  74283  N11
4    869458926        1  1398/06/23  74286  N11
..         ...      ...         ...    ...  ...
57  3701505573        1  1398/06/23  76351  N11
58  3701505573        1  1398/06/23  76352  N11
59  3701505573        1  1398/06/23  76352  N11
60  3701505573        1  1398/06/23  76354  N11
61  3701505573        1  1398/06/23  76354  N11

[62 rows x 5 columns]
transactions in line 1 plat N167
           CardID  LineCode       FDate   Time  plat
27472  2125214116         1  1398/06/23  24384  N167
27473  2125214116         1  1398/06/23  24384  N167
27474   342924420         1  1398/06/23  24387  N167
27475   342924420         1  1398/06/23  24387  N167
27476   981880539         1  1398/06/23  24525  N167
...           ...       ...         ...    ...   ...
29107  1001555662         1  1398/06/23  77587  N167
29108  1001555662         1  1398/06/23  77588  N167
29109  1001555662         1  1398/06/23  77588  N167
29110  2741312580         1  1398/06/23  78364  N167
29111  2741312580         1  1398/06/23  78364  N167

[1640 rows x 5 columns]
first row of the selected chunck :
 [2125214116 1 '1398/06/23' 24384 'N167']
1640
t0 = 24384
ts = 78364
time_intervals 90
10min interval view
 for line 1 plat N167
 [[2.4384e+04 0.0000e+00]
 [2.4984e+04 2.7000e+01]
 [2.5584e+04 3.0000e+01]
 [2.6184e+04 2.0000e+01]
 [2.6784e+04 2.0000e+00]
 [2.7384e+04 0.0000e+00]
 [2.7984e+04 2.2000e+01]
 [2.8584e+04 1.8000e+01]
 [2.9184e+04 3.2000e+01]
 [2.9784e+04 2.2000e+01]
 [3.0384e+04 2.0000e+00]
 [3.0984e+04 0.0000e+00]
 [3.1584e+04 0.0000e+00]
 [3.2184e+04 0.0000e+00]
 [3.2784e+04 1.2000e+01]
 [3.3384e+04 8.0000e+01]
 [3.3984e+04 2.2000e+01]
 [3.4584e+04 8.0000e+00]
 [3.5184e+04 0.0000e+00]
 [3.5784e+04 0.0000e+00]
 [3.6384e+04 0.0000e+00]
 [3.6984e+04 3.0000e+01]
 [3.7584e+04 4.2000e+01]
 [3.8184e+04 4.0000e+01]
 [3.8784e+04 7.8000e+01]
 [3.9384e+04 3.0000e+01]
 [3.9984e+04 1.4000e+01]
 [4.0584e+04 0.0000e+00]
 [4.1184e+04 2.0000e+01]
 [4.1784e+04 5.4000e+01]
 [4.2384e+04 4.6000e+01]
 [4.2984e+04 3.0000e+01]
 [4.3584e+04 2.6000e+01]
 [4.4184e+04 1.6000e+01]
 [4.4784e+04 6.0000e+00]
 [4.5384e+04 0.0000e+00]
 [4.5984e+04 1.8000e+01]
 [4.6584e+04 4.6000e+01]
 [4.7184e+04 2.6000e+01]
 [4.7784e+04 4.8000e+01]
 [4.8384e+04 1.4000e+01]
 [4.8984e+04 0.0000e+00]
 [4.9584e+04 0.0000e+00]
 [5.0184e+04 0.0000e+00]
 [5.0784e+04 0.0000e+00]
 [5.1384e+04 8.0000e+00]
 [5.1984e+04 2.4000e+01]
 [5.2584e+04 1.8000e+01]
 [5.3184e+04 2.0000e+01]
 [5.3784e+04 1.2000e+01]
 [5.4384e+04 0.0000e+00]
 [5.4984e+04 2.4000e+01]
 [5.5584e+04 1.6000e+01]
 [5.6184e+04 2.0000e+00]
 [5.6784e+04 0.0000e+00]
 [5.7384e+04 0.0000e+00]
 [5.7984e+04 0.0000e+00]
 [5.8584e+04 0.0000e+00]
 [5.9184e+04 0.0000e+00]
 [5.9784e+04 0.0000e+00]
 [6.0384e+04 1.0000e+01]
 [6.0984e+04 2.8000e+01]
 [6.1584e+04 8.0000e+01]
 [6.2184e+04 4.2000e+01]
 [6.2784e+04 1.8000e+01]
 [6.3384e+04 2.2000e+01]
 [6.3984e+04 6.0000e+00]
 [6.4584e+04 2.0000e+00]
 [6.5184e+04 2.0000e+01]
 [6.5784e+04 3.2000e+01]
 [6.6384e+04 2.0000e+01]
 [6.6984e+04 7.8000e+01]
 [6.7584e+04 3.4000e+01]
 [6.8184e+04 3.0000e+01]
 [6.8784e+04 2.0000e+00]
 [6.9384e+04 0.0000e+00]
 [6.9984e+04 0.0000e+00]
 [7.0584e+04 2.2000e+01]
 [7.1184e+04 5.0000e+01]
 [7.1784e+04 3.2000e+01]
 [7.2384e+04 6.0000e+00]
 [7.2984e+04 3.0000e+01]
 [7.3584e+04 1.0000e+01]
 [7.4184e+04 6.0000e+00]
 [7.4784e+04 0.0000e+00]
 [7.5384e+04 0.0000e+00]
 [7.5984e+04 0.0000e+00]
 [7.6584e+04 1.6000e+01]
 [7.7184e+04 1.6000e+01]
 [7.7784e+04 2.0000e+01]]
Origin destination interval view
     time_in  time_out
0   24384.0   24984.0
1   27384.0   27984.0
2   30984.0   31584.0
3   35184.0   35784.0
4   40584.0   41184.0
5   45384.0   45984.0
6   48984.0   49584.0
7   54384.0   54984.0
8   56784.0   57384.0
9   69384.0   69984.0
10  74784.0   75384.0

OD bus stations of transactions:
          CardID LineCode       FDate   Time  plat Station
0    2125214116        1  1398/06/23  24384  N167       2
1    2125214116        1  1398/06/23  24384  N167       2
2     342924420        1  1398/06/23  24387  N167       2
3     342924420        1  1398/06/23  24387  N167       2
4     981880539        1  1398/06/23  24525  N167       2
..          ...      ...         ...    ...   ...     ...
107   233296442        1  1398/06/23  54912  N167       9
108   482861380        1  1398/06/23  54914  N167       9
109   482861380        1  1398/06/23  54914  N167       9
110   722046187        1  1398/06/23  54969  N167       9
111   722046187        1  1398/06/23  54969  N167       9

[112 rows x 6 columns]
time_start time_stop 24984.0 27384.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   4245569223        1  1398/06/23  25024  N167
1   4245569223        1  1398/06/23  25024  N167
2   1371322222        1  1398/06/23  25067  N167
3   1371322222        1  1398/06/23  25067  N167
4   2191162643        1  1398/06/23  25070  N167
5   3178675342        1  1398/06/23  25070  N167
6   3178675342        1  1398/06/23  25070  N167
7   2191162643        1  1398/06/23  25070  N167
8   2680034110        1  1398/06/23  25072  N167
9   2680034110        1  1398/06/23  25072  N167
10  4245854631        1  1398/06/23  25073  N167
11  4245854631        1  1398/06/23  25073  N167
12  3445946444        1  1398/06/23  25078  N167
13  3445946444        1  1398/06/23  25078  N167
14   427699374        1  1398/06/23  25088  N167
15   427699374        1  1398/06/23  25088  N167
16  3648114420        1  1398/06/23  25125  N167
17  3648114420        1  1398/06/23  25125  N167
18  2740587492        1  1398/06/23  25263  N167
19  2740587492        1  1398/06/23  25263  N167
20   186831734        1  1398/06/23  25269  N167
21   186831734        1  1398/06/23  25269  N167
22  1592228500        1  1398/06/23  25328  N167
23  1592228500        1  1398/06/23  25328  N167
24  2742476036        1  1398/06/23  25331  N167
25  2742476036        1  1398/06/23  25331  N167
26  3254222653        1  1398/06/23  25332  N167
27  3254222653        1  1398/06/23  25332  N167
28  1001087518        1  1398/06/23  25581  N167
29  1001087518        1  1398/06/23  25581  N167
30   343001748        1  1398/06/23  25682  N167
31   343001748        1  1398/06/23  25682  N167
32  3794511052        1  1398/06/23  25891  N167
33  3794511052        1  1398/06/23  25891  N167
34   209737051        1  1398/06/23  25894  N167
35   209737051        1  1398/06/23  25894  N167
36  1611888923        1  1398/06/23  25898  N167
37  1611888923        1  1398/06/23  25898  N167
38  3405829469        1  1398/06/23  25899  N167
39  3405829469        1  1398/06/23  25899  N167
40  3405829469        1  1398/06/23  25900  N167
41  1611888923        1  1398/06/23  25900  N167
42  3405829469        1  1398/06/23  25900  N167
43  1611888923        1  1398/06/23  25900  N167
44  3405819238        1  1398/06/23  25949  N167
45  3405819238        1  1398/06/23  25949  N167
46  2962308725        1  1398/06/23  26051  N167
47   262590337        1  1398/06/23  26051  N167
48  2962308725        1  1398/06/23  26051  N167
49   262590337        1  1398/06/23  26051  N167
50  3179530286        1  1398/06/23  26436  N167
51  3179530286        1  1398/06/23  26436  N167
time_start time_stop 27984.0 30984.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   2125463236        1  1398/06/23  28119  N167
1   2125463236        1  1398/06/23  28119  N167
2    429455502        1  1398/06/23  28202  N167
3    429455502        1  1398/06/23  28202  N167
4   1527485454        1  1398/06/23  28206  N167
..         ...      ...         ...    ...   ...
69   982180603        1  1398/06/23  29730  N167
70  1799082148        1  1398/06/23  29731  N167
71  1799082148        1  1398/06/23  29731  N167
72  1612209659        1  1398/06/23  30048  N167
73  1612209659        1  1398/06/23  30048  N167

[74 rows x 5 columns]
time_start time_stop 31584.0 35184.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    2742647412        1  1398/06/23  32396  N167
1    2742647412        1  1398/06/23  32396  N167
2    2743300612        1  1398/06/23  32430  N167
3    2743300612        1  1398/06/23  32430  N167
4    1775868852        1  1398/06/23  32578  N167
..          ...      ...         ...    ...   ...
117   261294593        1  1398/06/23  34088  N167
118  1837343261        1  1398/06/23  34089  N167
119  1837343261        1  1398/06/23  34089  N167
120  3183140094        1  1398/06/23  34169  N167
121  3183140094        1  1398/06/23  34169  N167

[122 rows x 5 columns]
time_start time_stop 35784.0 40584.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0     105329747        1  1398/06/23  36438  N167
1     105329747        1  1398/06/23  36438  N167
2    3256153117        1  1398/06/23  36446  N167
3    3256153117        1  1398/06/23  36446  N167
4     721908042        1  1398/06/23  36689  N167
..          ...      ...         ...    ...   ...
229  3405795939        1  1398/06/23  39853  N167
230  1765533764        1  1398/06/23  39861  N167
231  1765533764        1  1398/06/23  39861  N167
232   182676742        1  1398/06/23  39957  N167
233   182676742        1  1398/06/23  39957  N167

[234 rows x 5 columns]
time_start time_stop 41184.0 45384.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0     180438164        1  1398/06/23  41216  N167
1     180438164        1  1398/06/23  41216  N167
2    3630788620        1  1398/06/23  41394  N167
3    3630788620        1  1398/06/23  41394  N167
4     425634398        1  1398/06/23  41397  N167
..          ...      ...         ...    ...   ...
173  3648868068        1  1398/06/23  44321  N167
174  3445741244        1  1398/06/23  44442  N167
175  3445741244        1  1398/06/23  44442  N167
176   736270448        1  1398/06/23  44579  N167
177   736270448        1  1398/06/23  44579  N167

[178 rows x 5 columns]
time_start time_stop 45984.0 48984.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    3221671156        1  1398/06/23  46010  N167
1    3221671156        1  1398/06/23  46010  N167
2    2507741732        1  1398/06/23  46011  N167
3    2507741732        1  1398/06/23  46011  N167
4     710375669        1  1398/06/23  46019  N167
..          ...      ...         ...    ...   ...
129   428576814        1  1398/06/23  47818  N167
130   982136971        1  1398/06/23  47883  N167
131   982136971        1  1398/06/23  47883  N167
132   185075526        1  1398/06/23  48164  N167
133   185075526        1  1398/06/23  48164  N167

[134 rows x 5 columns]
time_start time_stop 49584.0 54384.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   2123019076        1  1398/06/23  51141  N167
1   2123019076        1  1398/06/23  51141  N167
2   2123019076        1  1398/06/23  51146  N167
3   2123019076        1  1398/06/23  51146  N167
4   3104652581        1  1398/06/23  51380  N167
..         ...      ...         ...    ...   ...
77   105801059        1  1398/06/23  53243  N167
78  1296214158        1  1398/06/23  53340  N167
79  1296214158        1  1398/06/23  53340  N167
80  3405914064        1  1398/06/23  53423  N167
81  3405914064        1  1398/06/23  53423  N167

[82 rows x 5 columns]
time_start time_stop 54984.0 56784.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   3205728116        1  1398/06/23  55041  N167
1   3205728116        1  1398/06/23  55041  N167
2   4244885063        1  1398/06/23  55046  N167
3   4244885063        1  1398/06/23  55046  N167
4   3213206708        1  1398/06/23  55117  N167
5   3213206708        1  1398/06/23  55117  N167
6   3208035237        1  1398/06/23  55264  N167
7   3208035237        1  1398/06/23  55264  N167
8   1407240958        1  1398/06/23  55269  N167
9   1407240958        1  1398/06/23  55269  N167
10  2741771044        1  1398/06/23  55325  N167
11  2741771044        1  1398/06/23  55325  N167
12  3256269501        1  1398/06/23  55560  N167
13  3256269501        1  1398/06/23  55560  N167
14  2740894324        1  1398/06/23  55561  N167
15  2740894324        1  1398/06/23  55561  N167
16  1958214260        1  1398/06/23  55763  N167
17  1958214260        1  1398/06/23  55763  N167
time_start time_stop 57384.0 69384.0

df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    2124274548        1  1398/06/23  60246  N167
1    2124274548        1  1398/06/23  60246  N167
2    2124274548        1  1398/06/23  60248  N167
3    2124274548        1  1398/06/23  60248  N167
4    2124274548        1  1398/06/23  60249  N167
..          ...      ...         ...    ...   ...
419  4270635346        1  1398/06/23  68063  N167
420   262647601        1  1398/06/23  68066  N167
421   262647601        1  1398/06/23  68066  N167
422  3631270444        1  1398/06/23  68187  N167
423  3631270444        1  1398/06/23  68187  N167

[424 rows x 5 columns]
time_start time_stop 69984.0 74784.0
df_bus_partial :
          CardID LineCode       FDate   Time  plat
0    3444955020        1  1398/06/23  70043  N167
1    3444955020        1  1398/06/23  70043  N167
2     233325434        1  1398/06/23  70125  N167
3     233325434        1  1398/06/23  70125  N167
4    2045272110        1  1398/06/23  70184  N167
..          ...      ...         ...    ...   ...
151  3556167697        1  1398/06/23  73644  N167
152  4275321410        1  1398/06/23  73671  N167
153  4275321410        1  1398/06/23  73671  N167
154  4275321410        1  1398/06/23  73673  N167
155  4275321410        1  1398/06/23  73673  N167

[156 rows x 5 columns]
transactions in line 1 plat N54
           CardID  LineCode       FDate   Time plat
29112  1001929550         1  1398/06/23  24329  N54
29113  1001929550         1  1398/06/23  24329  N54
29114  2045367806         1  1398/06/23  24339  N54
29115  2045367806         1  1398/06/23  24339  N54
29116  1000918846         1  1398/06/23  24364  N54
...           ...       ...         ...    ...  ...
30849  2541750334         1  1398/06/23  82146  N54
30850  3649119572         1  1398/06/23  83174  N54
30851  3649119572         1  1398/06/23  83174  N54
30852  3649119572         1  1398/06/23  83176  N54
30853  3649119572         1  1398/06/23  83176  N54

[1742 rows x 5 columns]
first row of the selected chunck :
 [1001929550 1 '1398/06/23' 24329 'N54']
1742
t0 = 24329
ts = 83176
time_intervals 98
10min interval view
 for line 1 plat N54
 [[2.4329e+04 0.0000e+00]
 [2.4929e+04 2.5000e+01]
 [2.5529e+04 4.2000e+01]
 [2.6129e+04 2.6000e+01]
 [2.6729e+04 1.2000e+01]
 [2.7329e+04 0.0000e+00]
 [2.7929e+04 6.0000e+00]
 [2.8529e+04 2.4000e+01]
 [2.9129e+04 2.2000e+01]
 [2.9729e+04 2.0000e+00]
 [3.0329e+04 0.0000e+00]
 [3.0929e+04 0.0000e+00]
 [3.1529e+04 0.0000e+00]
 [3.2129e+04 0.0000e+00]
 [3.2729e+04 4.6000e+01]
 [3.3329e+04 9.6000e+01]
 [3.3929e+04 5.4000e+01]
 [3.4529e+04 4.4000e+01]
 [3.5129e+04 3.2000e+01]
 [3.5729e+04 1.8000e+01]
 [3.6329e+04 0.0000e+00]
 [3.6929e+04 2.0000e+01]
 [3.7529e+04 3.0000e+01]
 [3.8129e+04 1.8000e+01]
 [3.8729e+04 4.0000e+01]
 [3.9329e+04 7.4000e+01]
 [3.9929e+04 4.8000e+01]
 [4.0529e+04 1.0000e+01]
 [4.1129e+04 0.0000e+00]
 [4.1729e+04 2.2000e+01]
 [4.2329e+04 6.4000e+01]
 [4.2929e+04 3.0000e+01]
 [4.3529e+04 2.8000e+01]
 [4.4129e+04 2.8000e+01]
 [4.4729e+04 1.0000e+01]
 [4.5329e+04 0.0000e+00]
 [4.5929e+04 0.0000e+00]
 [4.6529e+04 8.0000e+00]
 [4.7129e+04 1.2000e+01]
 [4.7729e+04 4.6000e+01]
 [4.8329e+04 9.2000e+01]
 [4.8929e+04 8.0000e+00]
 [4.9529e+04 1.0000e+01]
 [5.0129e+04 0.0000e+00]
 [5.0729e+04 0.0000e+00]
 [5.1329e+04 0.0000e+00]
 [5.1929e+04 2.0000e+01]
 [5.2529e+04 2.4000e+01]
 [5.3129e+04 1.4000e+01]
 [5.3729e+04 1.4000e+01]
 [5.4329e+04 0.0000e+00]
 [5.4929e+04 0.0000e+00]
 [5.5529e+04 1.0000e+01]
 [5.6129e+04 1.6000e+01]
 [5.6729e+04 1.2000e+01]
 [5.7329e+04 1.2000e+01]
 [5.7929e+04 8.0000e+00]
 [5.8529e+04 0.0000e+00]
 [5.9129e+04 0.0000e+00]
 [5.9729e+04 0.0000e+00]
 [6.0329e+04 0.0000e+00]
 [6.0929e+04 0.0000e+00]
 [6.1529e+04 3.0000e+01]
 [6.2129e+04 7.6000e+01]
 [6.2729e+04 5.2000e+01]
 [6.3329e+04 3.8000e+01]
 [6.3929e+04 3.2000e+01]
 [6.4529e+04 3.6000e+01]
 [6.5129e+04 1.4000e+01]
 [6.5729e+04 2.2000e+01]
 [6.6329e+04 2.4000e+01]
 [6.6929e+04 2.2000e+01]
 [6.7529e+04 5.2000e+01]
 [6.8129e+04 4.0000e+01]
 [6.8729e+04 2.4000e+01]
 [6.9329e+04 2.2000e+01]
 [6.9929e+04 0.0000e+00]
 [7.0529e+04 0.0000e+00]
 [7.1129e+04 1.2000e+01]
 [7.1729e+04 1.4000e+01]
 [7.2329e+04 1.6000e+01]
 [7.2929e+04 6.0000e+00]
 [7.3529e+04 6.0000e+00]
 [7.4129e+04 0.0000e+00]
 [7.4729e+04 0.0000e+00]
 [7.5329e+04 0.0000e+00]
 [7.5929e+04 0.0000e+00]
 [7.6529e+04 0.0000e+00]
 [7.7129e+04 0.0000e+00]
 [7.7729e+04 0.0000e+00]
 [7.8329e+04 0.0000e+00]
 [7.8929e+04 0.0000e+00]
 [7.9529e+04 0.0000e+00]
 [8.0129e+04 0.0000e+00]
 [8.0729e+04 0.0000e+00]
 [8.1329e+04 1.2000e+01]
 [8.1929e+04 4.0000e+00]
 [8.2529e+04 6.0000e+00]]
Origin destination interval view
     time_in  time_out
0   24329.0   24929.0
1   27329.0   27929.0
2   30329.0   30929.0
3   36329.0   36929.0
4   41129.0   41729.0
5   45329.0   45929.0
6   50129.0   50729.0
7   54329.0   54929.0
8   58529.0   59129.0
9   69929.0   70529.0
10  74129.0   74729.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   1001929550        1  1398/06/23  24329  N54       2
1   1001929550        1  1398/06/23  24329  N54       2
2   2045367806        1  1398/06/23  24339  N54       2
3   2045367806        1  1398/06/23  24339  N54       2
4   1000918846        1  1398/06/23  24364  N54       2
..         ...      ...         ...    ...  ...     ...
69  2681536414        1  1398/06/23  41682  N54       6
70  1787206964        1  1398/06/23  41686  N54       6
71  1787206964        1  1398/06/23  41686  N54       6
72  3678977980        1  1398/06/23  41687  N54       6
73  3678977980        1  1398/06/23  41687  N54       6

[74 rows x 6 columns]
time_start time_stop 24929.0 27329.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    294078811        1  1398/06/23  24984  N54
1    294078811        1  1398/06/23  24984  N54
2   2117953348        1  1398/06/23  24987  N54
3   2117953348        1  1398/06/23  24987  N54
4    261930641        1  1398/06/23  24988  N54
..         ...      ...         ...    ...  ...
75  1368177774        1  1398/06/23  26438  N54
76   474122634        1  1398/06/23  26445  N54
77   474122634        1  1398/06/23  26445  N54
78  2125525988        1  1398/06/23  26448  N54
79  2125525988        1  1398/06/23  26448  N54

[80 rows x 5 columns]
time_start time_stop 27929.0 30329.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   1531303806        1  1398/06/23  27994  N54
1   2239137381        1  1398/06/23  27994  N54
2   2239137381        1  1398/06/23  27994  N54
3   1531303806        1  1398/06/23  27994  N54
4   2054148366        1  1398/06/23  27997  N54
5   2054148366        1  1398/06/23  27997  N54
6   2136902253        1  1398/06/23  28001  N54
7   2136902253        1  1398/06/23  28001  N54
8   3405811852        1  1398/06/23  28116  N54
9   3405811852        1  1398/06/23  28116  N54
10  3630394540        1  1398/06/23  28220  N54
11  3630394540        1  1398/06/23  28220  N54
12  1282194558        1  1398/06/23  28288  N54
13  1282194558        1  1398/06/23  28288  N54
14  3630200908        1  1398/06/23  28292  N54
15  3630200908        1  1398/06/23  28292  N54
16  2740490100        1  1398/06/23  28347  N54
17  2740490100        1  1398/06/23  28347  N54
18  2742118292        1  1398/06/23  28351  N54
19  2742118292        1  1398/06/23  28351  N54
20  3405916219        1  1398/06/23  28354  N54
21  3405916219        1  1398/06/23  28354  N54
22   362245476        1  1398/06/23  28461  N54
23   362245476        1  1398/06/23  28461  N54
24  3109281237        1  1398/06/23  28551  N54
25  3109281237        1  1398/06/23  28551  N54
26  1001089566        1  1398/06/23  28554  N54
27  1001089566        1  1398/06/23  28554  N54
28  2741741732        1  1398/06/23  28606  N54
29  2741741732        1  1398/06/23  28606  N54
30  1002356071        1  1398/06/23  28891  N54
31  1002356071        1  1398/06/23  28891  N54
32   261794929        1  1398/06/23  28893  N54
33   261794929        1  1398/06/23  28893  N54
34  2137235117        1  1398/06/23  29009  N54
35  2137235117        1  1398/06/23  29009  N54
36  3208612005        1  1398/06/23  29011  N54
37  3208612005        1  1398/06/23  29011  N54
38   474332426        1  1398/06/23  29015  N54
39   474332426        1  1398/06/23  29015  N54
40  2657888604        1  1398/06/23  29018  N54
41  2657888604        1  1398/06/23  29018  N54
42   721772316        1  1398/06/23  29069  N54
43   721772316        1  1398/06/23  29069  N54
44   721772316        1  1398/06/23  29074  N54
45   721772316        1  1398/06/23  29074  N54
46   428354030        1  1398/06/23  29537  N54
47   428354030        1  1398/06/23  29537  N54
time_start time_stop 30929.0 36329.0

df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3405882107        1  1398/06/23  32359  N54
1    3405882107        1  1398/06/23  32359  N54
2    2507928436        1  1398/06/23  32365  N54
3    2507928436        1  1398/06/23  32365  N54
4    3258017005        1  1398/06/23  32373  N54
..          ...      ...         ...    ...  ...
285  2490810484        1  1398/06/23  35481  N54
286   796313806        1  1398/06/23  35566  N54
287   796313806        1  1398/06/23  35566  N54
288  4265447938        1  1398/06/23  35575  N54
289  4265447938        1  1398/06/23  35575  N54

[290 rows x 5 columns]
time_start time_stop 36929.0 41129.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1528135518        1  1398/06/23  37012  N54
1    1528135518        1  1398/06/23  37012  N54
2    3631353132        1  1398/06/23  37038  N54
3    3631353132        1  1398/06/23  37038  N54
4    3205351941        1  1398/06/23  37100  N54
..          ...      ...         ...    ...  ...
215  4276090114        1  1398/06/23  39939  N54
216  3210953268        1  1398/06/23  40224  N54
217  3210953268        1  1398/06/23  40224  N54
218  3207316100        1  1398/06/23  40517  N54
219  3207316100        1  1398/06/23  40517  N54

[220 rows x 5 columns]
time_start time_stop 41729.0 45329.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    1782239652        1  1398/06/23  41879  N54
1     174499812        1  1398/06/23  41879  N54
2     174499812        1  1398/06/23  41879  N54
3    1782239652        1  1398/06/23  41879  N54
4    2239148134        1  1398/06/23  41884  N54
..          ...      ...         ...    ...  ...
155   261204929        1  1398/06/23  44442  N54
156  1293156846        1  1398/06/23  44449  N54
157  1293156846        1  1398/06/23  44449  N54
158   721935310        1  1398/06/23  44548  N54
159   721935310        1  1398/06/23  44548  N54

[160 rows x 5 columns]
time_start time_stop 45929.0 50129.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0     115351827        1  1398/06/23  46063  N54
1     115351827        1  1398/06/23  46063  N54
2     261433745        1  1398/06/23  46134  N54
3     261433745        1  1398/06/23  46134  N54
4     427280910        1  1398/06/23  46375  N54
..          ...      ...         ...    ...  ...
171  3207663333        1  1398/06/23  49127  N54
172  3207663333        1  1398/06/23  49129  N54
173  3207663333        1  1398/06/23  49129  N54
174  1360833370        1  1398/06/23  49523  N54
175  1360833370        1  1398/06/23  49523  N54

[176 rows x 5 columns]
time_start time_stop 50729.0 54329.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    234369370        1  1398/06/23  51419  N54
1    234369370        1  1398/06/23  51419  N54
2    426305086        1  1398/06/23  51437  N54
3    426305086        1  1398/06/23  51437  N54
4   1578006005        1  1398/06/23  51441  N54
..         ...      ...         ...    ...  ...
67  1001022366        1  1398/06/23  53405  N54
68  3254688957        1  1398/06/23  53411  N54
69  3254688957        1  1398/06/23  53411  N54
70   998403454        1  1398/06/23  53490  N54
71   998403454        1  1398/06/23  53490  N54

[72 rows x 5 columns]
time_start time_stop 54929.0 58529.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    361741716        1  1398/06/23  55063  N54
1    361741716        1  1398/06/23  55063  N54
2    209781467        1  1398/06/23  55124  N54
3    209781467        1  1398/06/23  55124  N54
4   2741863332        1  1398/06/23  55154  N54
5   2741863332        1  1398/06/23  55154  N54
6   3445967276        1  1398/06/23  55280  N54
7   3445967276        1  1398/06/23  55280  N54
8   3791967180        1  1398/06/23  55307  N54
9   3791967180        1  1398/06/23  55307  N54
10  3179658142        1  1398/06/23  55590  N54
11  3179658142        1  1398/06/23  55590  N54
12  2239153978        1  1398/06/23  55724  N54
13  2239153978        1  1398/06/23  55724  N54
14  2501738660        1  1398/06/23  55799  N54
15  2501738660        1  1398/06/23  55799  N54
16  3180900382        1  1398/06/23  55802  N54
17  3180900382        1  1398/06/23  55802  N54
18  3151773038        1  1398/06/23  55804  N54
19  3151773038        1  1398/06/23  55804  N54
20  1002368727        1  1398/06/23  55873  N54
21  1002368727        1  1398/06/23  55873  N54
22  3650076548        1  1398/06/23  55881  N54
23  3650076548        1  1398/06/23  55881  N54
24  2117144756        1  1398/06/23  56089  N54
25  2117144756        1  1398/06/23  56089  N54
26  2620640092        1  1398/06/23  56143  N54
27  2620640092        1  1398/06/23  56143  N54
28  1001315550        1  1398/06/23  56284  N54
29  1001315550        1  1398/06/23  56284  N54
30  2590661556        1  1398/06/23  56287  N54
31  2590661556        1  1398/06/23  56287  N54
32  3206601100        1  1398/06/23  56292  N54
33  3206601100        1  1398/06/23  56292  N54
34  3107084389        1  1398/06/23  56500  N54
35  3107084389        1  1398/06/23  56500  N54
36   114710851        1  1398/06/23  56520  N54
37   114710851        1  1398/06/23  56520  N54
38  3678888700        1  1398/06/23  56828  N54
39  3678888700        1  1398/06/23  56828  N54
40  3257989949        1  1398/06/23  57052  N54
41  3257989949        1  1398/06/23  57052  N54
42   261414081        1  1398/06/23  57054  N54
43   261414081        1  1398/06/23  57054  N54
44  1283713022        1  1398/06/23  57172  N54
45  1283713022        1  1398/06/23  57172  N54
46  1283713022        1  1398/06/23  57174  N54
47  1283713022        1  1398/06/23  57174  N54
48   114710851        1  1398/06/23  57292  N54
49   114710851        1  1398/06/23  57292  N54
50  1524112500        1  1398/06/23  57340  N54
51  1524112500        1  1398/06/23  57340  N54
52   721733218        1  1398/06/23  57343  N54
53   721733218        1  1398/06/23  57343  N54
54  3153154270        1  1398/06/23  57443  N54
55  3153154270        1  1398/06/23  57443  N54
56  3153154270        1  1398/06/23  57444  N54
57  3153154270        1  1398/06/23  57444  N54
time_start time_stop 59129.0 69929.0
df_bus_partial :
          CardID LineCode       FDate   Time plat
0    3152605598        1  1398/06/23  61199  N54
1    3152605598        1  1398/06/23  61199  N54
2    3152605598        1  1398/06/23  61200  N54
3    3152605598        1  1398/06/23  61200  N54
4    3152605598        1  1398/06/23  61202  N54
..          ...      ...         ...    ...  ...
479   981736187        1  1398/06/23  69101  N54
480  3206176292        1  1398/06/23  69235  N54
481  3206176292        1  1398/06/23  69235  N54
482  3206176292        1  1398/06/23  69237  N54
483  3206176292        1  1398/06/23  69237  N54

[484 rows x 5 columns]
time_start time_stop 70529.0 74129.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0    210957676        1  1398/06/23  70553  N54
1    210957676        1  1398/06/23  70553  N54
2    210957676        1  1398/06/23  70554  N54
3    210957676        1  1398/06/23  70554  N54
4   2590683124        1  1398/06/23  70599  N54
5   2590683124        1  1398/06/23  70599  N54
6   1958299268        1  1398/06/23  70836  N54
7   1958299268        1  1398/06/23  70836  N54
8    721717140        1  1398/06/23  71113  N54
9    721717140        1  1398/06/23  71113  N54
10   428303374        1  1398/06/23  71116  N54
11   428303374        1  1398/06/23  71116  N54
12  3202247556        1  1398/06/23  71271  N54
13  3202247556        1  1398/06/23  71271  N54
14   429343214        1  1398/06/23  71273  N54
15   429343214        1  1398/06/23  71273  N54
16   177622054        1  1398/06/23  71276  N54
17   177622054        1  1398/06/23  71276  N54
18  4257485636        1  1398/06/23  71290  N54
19  4257485636        1  1398/06/23  71290  N54
20  4270454898        1  1398/06/23  71322  N54
21  4270454898        1  1398/06/23  71322  N54
22  1093194884        1  1398/06/23  71701  N54
23  1093194884        1  1398/06/23  71701  N54
24   721799798        1  1398/06/23  71710  N54
25   721799798        1  1398/06/23  71710  N54
26  1407184515        1  1398/06/23  71926  N54
27  1407184515        1  1398/06/23  71926  N54
28  3210376724        1  1398/06/23  71930  N54
29  3210376724        1  1398/06/23  71930  N54
30  2586374660        1  1398/06/23  71933  N54
31  2586374660        1  1398/06/23  71933  N54
32  3258107261        1  1398/06/23  71935  N54
33  3258107261        1  1398/06/23  71935  N54
34  1407184515        1  1398/06/23  71947  N54
35  1407184515        1  1398/06/23  71947  N54
36  4075825562        1  1398/06/23  71959  N54
37  4075825562        1  1398/06/23  71959  N54
38   186904374        1  1398/06/23  72164  N54
39   186904374        1  1398/06/23  72164  N54
40  2239031730        1  1398/06/23  72290  N54
41  2239031730        1  1398/06/23  72290  N54
42  2505295300        1  1398/06/23  72425  N54
43  2505295300        1  1398/06/23  72425  N54
44  1407170322        1  1398/06/23  72809  N54
45  1407170322        1  1398/06/23  72809  N54
46   869238049        1  1398/06/23  72811  N54
47   869238049        1  1398/06/23  72811  N54
48  1114106242        1  1398/06/23  73440  N54
49  1114106242        1  1398/06/23  73440  N54
50   185392838        1  1398/06/23  73444  N54
51   185392838        1  1398/06/23  73444  N54
52  3558903265        1  1398/06/23  73452  N54
53  3558903265        1  1398/06/23  73452  N54
transactions in line 1 plat N77

           CardID  LineCode       FDate   Time plat
30854  3180917550         1  1398/06/23  26905  N77
30855  3180917550         1  1398/06/23  26905  N77
30856  2658264780         1  1398/06/23  26919  N77
30857  2658264780         1  1398/06/23  26919  N77
30858  3152120814         1  1398/06/23  26933  N77
...           ...       ...         ...    ...  ...
31141  1407250245         1  1398/06/23  32846  N77
31142  1598737700         1  1398/06/23  32851  N77
31143  1598737700         1  1398/06/23  32851  N77
31144  1407179025         1  1398/06/23  33307  N77
31145  1407179025         1  1398/06/23  33307  N77

[292 rows x 5 columns]
first row of the selected chunck :
 [3180917550 1 '1398/06/23' 26905 'N77']
292
t0 = 26905
ts = 33307
time_intervals 11
10min interval view
 for line 1 plat N77
 [[2.6905e+04 0.0000e+00]
 [2.7505e+04 7.5000e+01]
 [2.8105e+04 5.8000e+01]
 [2.8705e+04 2.4000e+01]
 [2.9305e+04 4.0000e+00]
 [2.9905e+04 0.0000e+00]
 [3.0505e+04 0.0000e+00]
 [3.1105e+04 3.8000e+01]
 [3.1705e+04 1.8000e+01]
 [3.2305e+04 3.2000e+01]
 [3.2905e+04 4.0000e+01]]
Origin destination interval view
    time_in  time_out
0  26905.0   27505.0
1  29905.0   30505.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time plat Station
0   3180917550        1  1398/06/23  26905  N77       2
1   3180917550        1  1398/06/23  26905  N77       2
2   2658264780        1  1398/06/23  26919  N77       2
3   2658264780        1  1398/06/23  26919  N77       2
4   3152120814        1  1398/06/23  26933  N77       2
..         ...      ...         ...    ...  ...     ...
71   183103654        1  1398/06/23  27464  N77       2
72   183103654        1  1398/06/23  27464  N77       2
73  1368140798        1  1398/06/23  27464  N77       2
74  3792698396        1  1398/06/23  27469  N77       2
75  3792698396        1  1398/06/23  27469  N77       2

[76 rows x 6 columns]
time_start time_stop 27505.0 29905.0
df_bus_partial :
         CardID LineCode       FDate   Time plat
0   3793307500        1  1398/06/23  27542  N77
1   3793307500        1  1398/06/23  27542  N77
2   2741892708        1  1398/06/23  27543  N77
3   2741892708        1  1398/06/23  27543  N77
4    722198679        1  1398/06/23  27546  N77
..         ...      ...         ...    ...  ...
81  2053412658        1  1398/06/23  28454  N77
82  3405923216        1  1398/06/23  28957  N77
83  3405923216        1  1398/06/23  28957  N77
84  2124199924        1  1398/06/23  29031  N77
85  2124199924        1  1398/06/23  29031  N77

[86 rows x 5 columns]
stations in a specefic bus line 10
len-of-go stations: 32
len-of-back stations: 29
len-of-go back stations: 0
['A144' 'A17' 'A31' 'A38' 'D49' 'D52' 'E187' 'F11' 'F118' 'F150' 'F152'
 'F153' 'F21' 'F81' 'M39' 'N190']
transactions in line 10 plat A144
           CardID  LineCode       FDate   Time  plat
31146  3183284110        10  1398/06/23  23966  A144
31147  3183284110        10  1398/06/23  23966  A144
31148  2506230708        10  1398/06/23  23978  A144
31149  2506230708        10  1398/06/23  23978  A144
31150  4241310951        10  1398/06/23  23980  A144
...           ...       ...         ...    ...   ...
32211  2743254772        10  1398/06/23  78960  A144
32212  2743254772        10  1398/06/23  78962  A144
32213  2743254772        10  1398/06/23  78962  A144
32214  3648802020        10  1398/06/23  79408  A144
32215  3648802020        10  1398/06/23  79408  A144

[1070 rows x 5 columns]
first row of the selected chunck :
 [3183284110 10 '1398/06/23' 23966 'A144']
1070
t0 = 23966
ts = 79408
time_intervals 92
10min interval view
 for line 10 plat A144
 [[2.3966e+04 0.0000e+00]
 [2.4566e+04 2.5000e+01]
 [2.5166e+04 1.2000e+01]
 [2.5766e+04 2.0000e+00]
 [2.6366e+04 2.0000e+00]
 [2.6966e+04 6.0000e+00]
 [2.7566e+04 2.0000e+01]
 [2.8166e+04 8.0000e+00]
 [2.8766e+04 4.0000e+00]
 [2.9366e+04 6.0000e+00]
 [2.9966e+04 0.0000e+00]
 [3.0566e+04 0.0000e+00]
 [3.1166e+04 0.0000e+00]
 [3.1766e+04 3.2000e+01]
 [3.2366e+04 3.4000e+01]
 [3.2966e+04 2.0000e+01]
 [3.3566e+04 1.0000e+01]
 [3.4166e+04 4.0000e+00]
 [3.4766e+04 0.0000e+00]
 [3.5366e+04 2.0000e+00]
 [3.5966e+04 7.6000e+01]
 [3.6566e+04 3.6000e+01]
 [3.7166e+04 1.4000e+01]
 [3.7766e+04 3.8000e+01]
 [3.8366e+04 3.0000e+01]
 [3.8966e+04 2.0000e+00]
 [3.9566e+04 0.0000e+00]
 [4.0166e+04 0.0000e+00]
 [4.0766e+04 1.2000e+01]
 [4.1366e+04 1.8000e+01]
 [4.1966e+04 1.2000e+01]
 [4.2566e+04 1.8000e+01]
 [4.3166e+04 1.0000e+01]
 [4.3766e+04 4.0000e+00]
 [4.4366e+04 8.0000e+00]
 [4.4966e+04 0.0000e+00]
 [4.5566e+04 1.4000e+01]
 [4.6166e+04 1.4000e+01]
 [4.6766e+04 2.6000e+01]
 [4.7366e+04 8.0000e+00]
 [4.7966e+04 2.2000e+01]
 [4.8566e+04 8.0000e+00]
 [4.9166e+04 0.0000e+00]
 [4.9766e+04 0.0000e+00]
 [5.0366e+04 0.0000e+00]
 [5.0966e+04 0.0000e+00]
 [5.1566e+04 0.0000e+00]
 [5.2166e+04 0.0000e+00]
 [5.2766e+04 0.0000e+00]
 [5.3366e+04 0.0000e+00]
 [5.3966e+04 0.0000e+00]
 [5.4566e+04 0.0000e+00]
 [5.5166e+04 0.0000e+00]
 [5.5766e+04 0.0000e+00]
 [5.6366e+04 0.0000e+00]
 [5.6966e+04 0.0000e+00]
 [5.7566e+04 0.0000e+00]
 [5.8166e+04 0.0000e+00]
 [5.8766e+04 0.0000e+00]
 [5.9366e+04 1.2000e+01]
 [5.9966e+04 2.0000e+01]
 [6.0566e+04 4.8000e+01]
 [6.1166e+04 1.8000e+01]
 [6.1766e+04 2.2000e+01]
 [6.2366e+04 2.0000e+00]
 [6.2966e+04 1.4000e+01]
 [6.3566e+04 4.2000e+01]
 [6.4166e+04 3.6000e+01]
 [6.4766e+04 2.2000e+01]
 [6.5366e+04 6.0000e+00]
 [6.5966e+04 5.0000e+01]
 [6.6566e+04 2.4000e+01]
 [6.7166e+04 0.0000e+00]
 [6.7766e+04 0.0000e+00]
 [6.8366e+04 0.0000e+00]
 [6.8966e+04 0.0000e+00]
 [6.9566e+04 0.0000e+00]
 [7.0166e+04 2.0000e+00]
 [7.0766e+04 1.2000e+01]
 [7.1366e+04 2.0000e+01]
 [7.1966e+04 2.4000e+01]
 [7.2566e+04 4.8000e+01]
 [7.3166e+04 1.8000e+01]
 [7.3766e+04 1.0000e+01]
 [7.4366e+04 4.0000e+00]
 [7.4966e+04 0.0000e+00]
 [7.5566e+04 0.0000e+00]
 [7.6166e+04 6.0000e+00]
 [7.6766e+04 2.0000e+00]
 [7.7366e+04 1.0000e+01]
 [7.7966e+04 8.0000e+00]
 [7.8566e+04 2.2000e+01]]
Origin destination interval view
    time_in  time_out
0  23966.0   24566.0
1  29966.0   30566.0
2  34766.0   35366.0
3  39566.0   40166.0
4  44966.0   45566.0
5  49166.0   49766.0
6  67166.0   67766.0
7  74966.0   75566.0
OD bus stations of transactions:
         CardID LineCode       FDate   Time  plat Station
0   3183284110       10  1398/06/23  23966  A144       2
1   3183284110       10  1398/06/23  23966  A144       2
2   2506230708       10  1398/06/23  23978  A144       2
3   2506230708       10  1398/06/23  23978  A144       2
4   4241310951       10  1398/06/23  23980  A144       2
5   1788724388       10  1398/06/23  23980  A144       2
6   4241310951       10  1398/06/23  23980  A144       2
7   1788724388       10  1398/06/23  23980  A144       2
8   3648981300       10  1398/06/23  23991  A144       2
9   3648981300       10  1398/06/23  23991  A144       2
10  3206261204       10  1398/06/23  24187  A144       2
11  3206261204       10  1398/06/23  24187  A144       2
12  1407169605       10  1398/06/23  24234  A144       2
13  1407169605       10  1398/06/23  24234  A144       2
14  3258176973       10  1398/06/23  24254  A144       2
15  3258176973       10  1398/06/23  24254  A144       2
16  1789184420       10  1398/06/23  24398  A144       2
17  1789184420       10  1398/06/23  24398  A144       2
18  3218526869       10  1398/06/23  24399  A144       2
19  3218526869       10  1398/06/23  24399  A144       2
20   175331718       10  1398/06/23  24402  A144       2
21   175331718       10  1398/06/23  24402  A144       2
22  2125829540       10  1398/06/23  24450  A144       2
23  2125829540       10  1398/06/23  24450  A144       2
24   721891043       10  1398/06/23  24451  A144       2
25   721891043       10  1398/06/23  24451  A144       2
26   737389968       10  1398/06/23  35329  A144       4
27   737389968       10  1398/06/23  35329  A144       4
28  2680007502       10  1398/06/23  45249  A144       6
29  2680007502       10  1398/06/23  45249  A144       6
30  3405811520       10  1398/06/23  45368  A144       6
31  3405811520       10  1398/06/23  45368  A144       6
32   483308388       10  1398/06/23  45374  A144       6
33   483308388       10  1398/06/23  45374  A144       6
34   115644115       10  1398/06/23  45376  A144       6
35   115644115       10  1398/06/23  45376  A144       6
36  1360486154       10  1398/06/23  45379  A144       6
37  1360486154       10  1398/06/23  45379  A144       6
38  1764923284       10  1398/06/23  45432  A144       6
39  1764923284       10  1398/06/23  45432  A144       6
40   641580810       10  1398/06/23  45434  A144       6
41   641580810       10  1398/06/23  45434  A144       6
time_start time_stop 24566.0 29966.0
df_bus_partial :
         CardID LineCode       FDate   Time  plat
0    721933547       10  1398/06/23  24585  A144
1    721933547       10  1398/06/23  24585  A144
2    427582286       10  1398/06/23  24650  A144
3    427582286       10  1398/06/23  24650  A144
4   1528404030       10  1398/06/23  24758  A144
5   1528404030       10  1398/06/23  24758  A144
6   3793723340       10  1398/06/23  24764  A144
7   3793723340       10  1398/06/23  24764  A144
8   3648933012       10  1398/06/23  24826  A144
9   3648933012       10  1398/06/23  24826  A144
10   722193857       10  1398/06/23  25133  A144
11   722193857       10  1398/06/23  25133  A144
12   722198955       10  1398/06/23  25687  A144
13   722198955       10  1398/06/23  25687  A144
14  4059430141       10  1398/06/23  25884  A144
15  4059430141       10  1398/06/23  25884  A144
16   261015009       10  1398/06/23  26924  A144
17   261015009       10  1398/06/23  26924  A144
18  4257912692       10  1398/06/23  26934  A144
19  4257912692       10  1398/06/23  26934  A144
20  4270116770       10  1398/06/23  26947  A144
21  4270116770       10  1398/06/23  26947  A144
22  1612452539       10  1398/06/23  27003  A144
23  1612452539       10  1398/06/23  27003  A144
24  3557194017       10  1398/06/23  27120  A144
25  3557194017       10  1398/06/23  27120  A144
26  3792455612       10  1398/06/23  27166  A144
27  3792455612       10  1398/06/23  27166  A144
28  3673108770       10  1398/06/23  27178  A144
29  3673108770       10  1398/06/23  27178  A144
30   428508862       10  1398/06/23  27236  A144
31   428508862       10  1398/06/23  27236  A144
32   112014307       10  1398/06/23  27356  A144
33   112014307       10  1398/06/23  27356  A144
34   736988976       10  1398/06/23  27468  A144
35   736988976       10  1398/06/23  27468  A144
36  3632327756       10  1398/06/23  27529  A144
37  3632327756       10  1398/06/23  27529  A144
38  2680462062       10  1398/06/23  27532  A144
39  2680462062       10  1398/06/23  27532  A144
40  1530444206       10  1398/06/23  27537  A144
41  1530444206       10  1398/06/23  27537  A144
42  3210217444       10  1398/06/23  27619  A144
43  3210217444       10  1398/06/23  27619  A144
44   428611390       10  1398/06/23  27625  A144
45   428611390       10  1398/06/23  27625  A144
46  3794324444       10  1398/06/23  27728  A144
47  3794324444       10  1398/06/23  27728  A144
48  1765502068       10  1398/06/23  27998  A144
49  1765502068       10  1398/06/23  27998  A144
50  3405795364       10  1398/06/23  28487  A144
51  3405795364       10  1398/06/23  28487  A144
52  2044034270       10  1398/06/23  28647  A144
53  2044034270       10  1398/06/23  28647  A144
54  3650306644       10  1398/06/23  28902  A144
55  3650306644       10  1398/06/23  28902  A144
56  2742277172       10  1398/06/23  28986  A144
57  2742277172       10  1398/06/23  28986  A144
58  3793254204       10  1398/06/23  29036  A144
59  3793254204       10  1398/06/23  29036  A144
time_start time_stop 30566.0 34766.0

df_bus_partial :
         CardID LineCode       FDate   Time  plat
0   2044997566       10  1398/06/23  31309  A144
1   2044997566       10  1398/06/23  31309  A144
2   2048846370       10  1398/06/23  31338  A144
3   2048846370       10  1398/06/23  31338  A144
4    869342274       10  1398/06/23  31346  A144
..         ...      ...         ...    ...   ...
95  3603768092       10  1398/06/23  33442  A144
96   427005150       10  1398/06/23  33584  A144
97   427005150       10  1398/06/23  33584  A144
98  2742135444       10  1398/06/23  33585  A144
99  2742135444       10  1398/06/23  33585  A144

[100 rows x 5 columns]
time_start time_stop 35366.0 39566.0

KeyboardInterrupt: