In [1]:
import pandas as pd

Employee ={'Number':[1,2,3,4,5],'Name':["hamed","mohammad hossien","mohammad ali","maedeh","hasan"],'Hourly salary':[40,25,30,60,20]}
print(Employee)
table1= pd.DataFrame(Employee)
print("Table 1")
print(table1)
print("Table1  two first rows:")
print(table1.head(2))
print("Table1  tow last rows:")
print(table1.tail(2))

{'Number': [1, 2, 3, 4, 5], 'Name': ['hamed', 'mohammad hossien', 'mohammad ali', 'maedeh', 'hasan'], 'Hourly salary': [40, 25, 30, 60, 20]}
Table 1
   Number              Name  Hourly salary
0       1             hamed             40
1       2  mohammad hossien             25
2       3      mohammad ali             30
3       4            maedeh             60
4       5             hasan             20
Table1  two first rows:
   Number              Name  Hourly salary
0       1             hamed             40
1       2  mohammad hossien             25
Table1  tow last rows:
   Number    Name  Hourly salary
3       4  maedeh             60
4       5   hasan             20

In [24]:
food1={'number':[1,2,3,4,5],'name':["corn","banana","chips","popcorn","pizza"],'price':[8,3,4,8,6]}
food2={'number':[1,2,3,4,5],'name':["apple","banana","beans","popcorn","pizza"],'price':[2,3,4,8,6]}

table2=pd.DataFrame(food1)
table3=pd.DataFrame(food2)

print("Food List1:")
print(table2)
print("Food List2:")
print(table3)

function= pd.merge(table2,table3,on='name')
print("merge list1 and list2 on name:")
print (function)

join=table1.join(table2)
print("join list1 , list: ")

print(join)

Food List1:
   number     name  price
0       1     corn      8
1       2   banana      3
2       3    chips      4
3       4  popcorn      8
4       5    pizza      6
Food List2:
   number     name  price
0       1    apple      2
1       2   banana      3
2       3    beans      4
3       4  popcorn      8
4       5    pizza      6
merge list1 and list2 on name:
   number_x     name  price_x  number_y  price_y
0         2   banana        3         2        3
1         4  popcorn        8         4        8
2         5    pizza        6         5        6
join list1 , list:
   Number              Name  Hourly salary  number     name  price
0       1             hamed             40       1     corn      8
1       2  mohammad hossien             25       2   banana      3
2       3      mohammad ali             30       3    chips      4
3       4            maedeh             60       4  popcorn      8
4       5             hasan             20       5    pizza      6

In [5]:
foods = pd.read_csv('C:\\Users\\esmaeli.h\\Documents\\GitHub\\pythonToDataScience\\python-introduction-to-data-science\\source\\FoodList.csv')
print ("converted form csv:")
print (foods)
foods.to_html("niceHtm2.html")

converted form csv:
   number     name  count
0       1     corn      8
1       2   banana      3
2       3    chips      4
3       4  popcorn      8
4       5    pizza      6